{% extends "base.html" %}
{% load widget_tweaks %}

{% block style %}

{% endblock style %}

{% block content %}
  <form action="" method="post">{% csrf_token %}
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- header -->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">刪除</h5>
        </div>
        
        <!-- body -->
        <div class="modal-body">
          
         <p>你確定要刪除 "{{ instance_coowner_litigation }} {{instance}}" 這筆資料嗎 ?</p>
        </div>

        <!-- footer -->
        <div class="modal-footer">
          <a href="{% url 'yfcase:coowner_edit' instance_coowner.yfcase_id %}" class="btn btn-secondary" >返回</a>
          
          <input class="btn btn-success col-md-3" type="submit" value="刪除" />
        </div>

      </div>
    </div>
  </form>
{% endblock %}
