<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">首頁</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    {% if user.is_authenticated %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="{% url 'yfcase:yfcase_new' %}">新增評量表</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li>
          <a>
            ({{user.userFullName}})
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'password_change' %}">
            變更密碼
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'logout' %}">
            登出
          </a>
        </li>
        </ul>
      {% else %}
        <form class="form-inline ml-auto">
          <a href="{% url 'login' %}" class="btn btn-outline-secondary">
            登入
          </a>
        </form>
      {% endif %}
    </div>
  </div>
</nav>


<script>
 
</script>