{% extends "base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block style %}
  <style type="text/css">
    .help-block{
      color:red;
    }
    .coowner__table { border-collapse: collapse;}
    .coowner__table th { border: 1px solid black; background-color: yellow;padding: 0px;text-align: center;}
    .coowner__table .coowner__td{ border: 1px solid black;text-align: center; }

    .coownerheir__table  { border-collapse: collapse;width: 100%;}
    .coownerheir__table th {border: 1px solid black; background-color: lightgreen;padding: 0px;text-align: center;font-size: 10pt;}
    .coownerheir__table td { border: 1px solid black; font-size: 10pt;text-align: center;}
    .coowner__table td.text-left { text-align: left; }

    .btn__icon__create { background-color: MediumBlue; border:2px solid darkgrey; border-radius: 5px; padding:2px 7px; font-weight: 500; color:white; text-decoration:none; }
    .btn__icon__update { background-color: DarkGreen; border:2px solid darkgrey; border-radius: 5px; padding:2px 7px; font-weight: 500; color:white; text-decoration:none; }
    .btn__icon__delete { background-color: DarkRed; border:2px solid darkgrey; border-radius: 5px; padding:2px 7px; font-weight: 500; color:white; text-decoration:none; }
  </style>
{% endblock style %}

{% block content %}
<!-- 程式主題的部份 -->
<form action="{% url 'yfcase:complaint_edit' yfcase.id %}" method="post" id="Complaint_edit_form" data-townships-url="{% url 'yfcase:ajax_load_townships' %}">{% csrf_token %}
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- header -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <!-- body -->
      <div class="modal-body">

        訢訟狀
        
        <div class="form-group">
          <label for="{{ form.yfcaseComplaintComplaintDate.id_for_label }}">{{ form.yfcaseComplaintComplaintDate.label }}</label>
          {{ form.yfcaseComplaintComplaintDate|add_class:'form-control datepicker fieldcolor pt-0' }}
          <span class="help-block">{{ form.yfcaseComplaintComplaintDate.error }}</span>
        </div>
        
        <div class="form-group">
          <label for="{{ form.yfcaseComplaintLitigationAgent.id_for_label }}">{{ form.yfcaseComplaintLitigationAgent.label }}</label>
          {{ form.yfcaseComplaintLitigationAgent|add_class:'form-control' }}
          <span class="help-block">{{ form.yfcaseComplaintLitigationAgent.error }}</span>
        </div>
        
        <div class="form-group">
          <label for="{{ form.yfcaseComplaintPresentValueOfLandAnnouncement.id_for_label }}">{{ form.yfcaseComplaintPresentValueOfLandAnnouncement.label }}</label>
          {{ form.yfcaseComplaintPresentValueOfLandAnnouncement|add_class:'form-control' }}
          <span class="help-block">{{ form.yfcaseComplaintPresentValueOfLandAnnouncement.error }}</span>
        </div>
        
        <div class="form-group">
          <label for="{{ form.yfcaseComplaintPresentValueOfHouseTax.id_for_label }}">{{ form.yfcaseComplaintPresentValueOfHouseTax.label }}</label>
          {{ form.yfcaseComplaintPresentValueOfHouseTax|add_class:'form-control' }}
          <span class="help-block">{{ form.yfcaseComplaintPresentValueOfHouseTax.error }}</span>
        </div>
        
        <div class="form-group">
          <label for="{{ form.yfcaseComplaintRefereeFee.id_for_label }}">{{ form.yfcaseComplaintRefereeFee.label }}</label>
          {{ form.yfcaseComplaintRefereeFee|add_class:'form-control' }}
          <span class="help-block">{{ form.yfcaseComplaintRefereeFee.error }}</span>
        </div>
        
        <div class="form-group">
          <label for="{{ form.yfcaseComplaintUnsuccessfulDate.id_for_label }}">{{ form.yfcaseComplaintUnsuccessfulDate.label }}</label>
          {{ form.yfcaseComplaintUnsuccessfulDate|add_class:'form-control datepicker fieldcolor pt-0' }}
          <span class="help-block">{{ form.yfcaseComplaintUnsuccessfulDate.error }}</span>
        </div>
        
        <div class="form-group">
          <label for="{{ form.yfcaseComplaintLandWidth.id_for_label }}">{{ form.yfcaseComplaintLandWidth.label }}</label>
          {{ form.yfcaseComplaintLandWidth|add_class:'form-control' }}
          <span class="help-block">{{ form.yfcaseComplaintLandWidth.error }}</span>
        </div>
        
        <div class="form-group">
          <label for="{{ form.yfcaseComplaintLandDepth.id_for_label }}">{{ form.yfcaseComplaintLandDepth.label }}</label>
          {{ form.yfcaseComplaintLandDepth|add_class:'form-control' }}
          <span class="help-block">{{ form.yfcaseComplaintLandDepth.error }}</span>
        </div>
        
        <div class="form-group">
          <label for="{{ form.yfcaseComplaintExhibit1.id_for_label }}">{{ form.yfcaseComplaintExhibit1.label }}</label>
          {{ form.yfcaseComplaintExhibit1|add_class:'form-control' }}
          <span class="help-block">{{ form.yfcaseComplaintExhibit1.error }}</span>
        </div>
        
        <div class="form-group">
          <label for="{{ form.yfcaseComplaintExhibit2.id_for_label }}">{{ form.yfcaseComplaintExhibit2.label }}</label>
          {{ form.yfcaseComplaintExhibit2|add_class:'form-control' }}
          <span class="help-block">{{ form.yfcaseComplaintExhibit2.error }}</span>
        </div>
        
        <div class="form-group">
          <label for="{{ form.yfcaseComplaintExhibit3.id_for_label }}">{{ form.yfcaseComplaintExhibit3.label }}</label>
          {{ form.yfcaseComplaintExhibit3|add_class:'form-control' }}
          <span class="help-block">{{ form.yfcaseComplaintExhibit3.error }}</span>
        </div>
        
        <div class="form-group">
          <label for="{{ form.yfcaseComplaintExhibit4.id_for_label }}">{{ form.yfcaseComplaintExhibit4.label }}</label>
          {{ form.yfcaseComplaintExhibit4|add_class:'form-control' }}
          <span class="help-block">{{ form.yfcaseComplaintExhibit4.error }}</span>
        </div>
        {{ complaint_clent_id|json_script:"complaint_clent_id" }}
        
      </div>

      <div>
        <a href="{% url 'yfcase:coowner_create' object.id %}" class="btn__icon__create">新增共有人</a>
      </div>

      {% if object.coownerinfos.count > 0 %} 
        <table class="coowner__table">
          <tr>
            <th rowspan="2">操作</th>
            <th rowspan="2">姓名</th>
            <th rowspan="2">住址</th>
            <th colspan="2">地號持分</th>
            <th colspan="2">建號持分</th>
            <th rowspan="2">存/殁</th>
            <th rowspan="2">繼承人</th>
          </tr>
          <tr>
            <th>個人</th>
            <th>所有</th>
            <th>個人</th>
            <th>所有</th>
          </tr>
          {% for coownerinfo in object.coownerinfos.all %}
            <tr>
              <td class="coowner__td">
                <a href="{% url 'yfcase:coowner_update' object.id coownerinfo.id %}" class="btn__icon__update">更新</a>
                <a href="{% url 'yfcase:coowner_delete' object.id coownerinfo.id %}" class="btn__icon__delete">刪除</a>
              </td>
              <td class="coowner__td">{{coownerinfo.coOwnerName}}</td>
              <td class="coowner__td text-left">{{coownerinfo.coOwnerAddress|default_if_none:""}}</td>
              <td class="coowner__td">{{coownerinfo.coOwnerLandHPPersonnal}}</td>
              <td class="coowner__td">{{coownerinfo.coOwnerLandHPAll}}</td>
              <td class="coowner__td">{{coownerinfo.coOwnerBuildHPPersonnal}}</td>
              <td class="coowner__td">{{coownerinfo.coOwnerBuildHPAll}}</td>
              <td class="coowner__td">{{coownerinfo.coOwnerLifeOrDie|default_if_none:""}}</td>
              <td class="coowner__td">
                <a href="{% url 'yfcase:coowner_heir_create' coownerinfo.id %}" class="btn__icon__create">新增</a>
              </td>
            </tr>
            {% if coownerinfo.coownerheirs.count > 0 %}
              <tr>
                <td colspan=2></td>
                <td colspan=7>
                  <table class="coownerheir__table">
                    <tr>
                      <th rowspan="2">操作</th>
                      <th rowspan="2">(順位)姓名</th>
                      <th rowspan="2">住址</th>
                      <th colspan="2">地號持分</th>
                      <th colspan="2">建號持分</th>
                      <th rowspan="2">存/殁</th>
                    </tr>
                    <tr>
                      <th>個人</th>
                      <th>所有</th>
                      <th>個人</th>
                      <th>所有</th>
                    </tr>
                    {% for coownerheir in coownerinfo.coownerheirs.all %}
                      <tr>
                        <td>
                          <a href="{% url 'yfcase:coowner_heir_update' coownerinfo.id coownerheir.id %}" class="btn__icon__update">更新</a>
                          <a href="{% url 'yfcase:coowner_heir_delete' coownerinfo.id coownerheir.id %}" class="btn__icon__delete">刪除</a>
                        </td>
                        <td>
                          ({{coownerheir.coOwnerHeirSerial}})
                          {{coownerheir.coOwnerHeirName}}
                        </td>
                        <td class="text-left">{{coownerheir.coOwnerHeirAddress|default_if_none:""}}</td>
                        <td>{{coownerheir.coOwnerHeirLandHPPersonnal}}</td>
                        <td>{{coownerheir.coOwnerHeirLandHPAll}}</td>
                        <td>{{coownerheir.coOwnerHeirBuildHPPersonnal}}</td>
                        <td>{{coownerheir.coOwnerHeirBuildHPAll}}</td>
                        <td>{{coownerheir.coOwnerHeirLifeOrDie|default_if_none:""}}</td>
                      </tr>
                    {% endfor %}
                  </table>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      {% endif %}
        
      <!-- footer -->

        <div class="row mt-3">
          <div class="col-md-6 mt-3">
            <a href="{% url 'yfcase:home' %}" class="btn btn-secondary form-control" >返回</a>
          </div>
          <div class="col-md-6 mt-3">
            <input class="btn btn-primary form-control" type="submit" value="建立" />
          </div>
        </div>

    </div>
  </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(document).ready(function(){
    const complaint_clent_id = JSON.parse(document.getElementById('complaint_clent_id').textContent);
    document.getElementById("id_yfcaseComplaintLitigationAgent").value = complaint_clent_id; 
    // 此為欄位驗証的JS
    $('#Complaint_edit_form').bootstrapValidator({
      // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
      feedbackIcons: {
          valid: 'glyphicon glyphicon-ok',
          invalid: 'glyphicon glyphicon-remove',
          validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
      }
    });

  });

  $(function() {
    $(".datepicker").datepicker({
      dateFormat: "yy-mm-dd"
    });
  });

  get_coowner_yfcase

</script>
{% endblock content %}