{% extends "base.html" %}
{% load widget_tweaks %}

{% block style %}
  <style type="text/css">
    .help-block{
      color:red;
    }
    .coowner__table { border-collapse: collapse;}
    .coowner__table th { border: 1px solid black; background-color: yellow;padding: 0px;text-align: center;}
    .coowner__table .coowner__td{ border: 1px solid black;text-align: center; }

    .coownerheir__table  { border-collapse: collapse;width: 100%;}
    .coownerheir__table th {border: 1px solid black; background-color: lightgreen;padding: 0px;text-align: center;font-size: 10pt;}
    .coownerheir__table td { border: 1px solid black; font-size: 10pt;text-align: center;}
    .coowner__table td.text-left { text-align: left; }

    .btn__icon__create { background-color: MediumBlue; border:2px solid darkgrey; border-radius: 5px; padding:2px 7px; font-weight: 500; color:white; text-decoration:none; }
    .btn__icon__update { background-color: DarkGreen; border:2px solid darkgrey; border-radius: 5px; padding:2px 7px; font-weight: 500; color:white; text-decoration:none; }
    .btn__icon__delete { background-color: DarkRed; border:2px solid darkgrey; border-radius: 5px; padding:2px 7px; font-weight: 500; color:white; text-decoration:none; }
    .btn__icon__return { background-color: DimGrey; border:2px solid darkgrey; border-radius: 5px; padding:2px 7px; font-weight: 500; color:white; text-decoration:none; }
  </style>
{% endblock style %}

{% block content %}
<!-- 程式主題的部份 -->
  <h1>{{title}}</h1>

  <div>
    <a href="{% url 'yfcase:coowner_create' object.id %}" class="btn__icon__create">新增共有人</a>
    <a href="{% url 'yfcase:home' %}" class="btn__icon__return">返回</a>
  </div>
  
  {% if yfcase.coownerinfos.count > 0 %} 
        <table class="coowner__table">
          <tr>
            <th rowspan="2">操作</th>
            <th rowspan="2">姓名</th>
            <th rowspan="2">住址</th>
            <th colspan="2">地號持分</th>
            <th colspan="2">建號持分</th>
            <th rowspan="2">存/殁</th>
            <th rowspan="2">繼承人</th>
          </tr>
          <tr>
            <th>個人</th>
            <th>所有</th>
            <th>個人</th>
            <th>所有</th>
          </tr>
          {% for coownerinfo in yfcase.coownerinfos.all %}
            <tr>
              <td class="coowner__td">
                <a href="{% url 'yfcase:coowner_update' object.id coownerinfo.id %}" class="btn__icon__update">更新</a>
                <a href="{% url 'yfcase:coowner_delete' object.id coownerinfo.id %}" class="btn__icon__delete">刪除</a>
              </td>
              <td class="coowner__td">{{coownerinfo.coOwnerName}}</td>
              <td class="coowner__td text-left">{{coownerinfo.coOwnerAddress|default_if_none:""}}</td>
              <td class="coowner__td">{{coownerinfo.coOwnerLandHPPersonnal}}</td>
              <td class="coowner__td">{{coownerinfo.coOwnerLandHPAll}}</td>
              <td class="coowner__td">{{coownerinfo.coOwnerBuildHPPersonnal}}</td>
              <td class="coowner__td">{{coownerinfo.coOwnerBuildHPAll}}</td>
              <td class="coowner__td">{{coownerinfo.coOwnerLifeOrDie|default_if_none:""}}</td>
              <td class="coowner__td">
                <a href="{% url 'yfcase:coowner_heir_create' coownerinfo.id %}" class="btn__icon__create">新增繼承人</a>
              </td>
            </tr>
            {% if coownerinfo.coownerheirs.count > 0 %}
              <tr>
                <td></td>
                <td colspan=8>
                  <table class="coownerheir__table">
                    <tr>
                      <th rowspan="2">操作</th>
                      <th rowspan="2">(順位)姓名</th>
                      <th rowspan="2">住址</th>
                      <th colspan="2">地號持分</th>
                      <th colspan="2">建號持分</th>
                      <th rowspan="2">存/殁</th>
                      <th rowspan="2">訢訟人</th>
                    </tr>
                    <tr>
                      <th>個人</th>
                      <th>所有</th>
                      <th>個人</th>
                      <th>所有</th>
                    </tr>
                    {% for coownerheir in coownerinfo.coownerheirs.all %}
                      <tr>
                        <td>
                          <a href="{% url 'yfcase:coowner_heir_update' coownerinfo.id coownerheir.id %}" class="btn__icon__update">更新</a>
                          <a href="{% url 'yfcase:coowner_heir_delete' coownerinfo.id coownerheir.id %}" class="btn__icon__delete">刪除</a>
                        </td>
                        <td>
                          ({{coownerheir.coOwnerHeirIdentityCard}})
                          {{coownerheir.coOwnerHeirName}}<br>
                          {{coownerheir.coOwnerHeirName}}即{{coownerinfo.coOwnerName}}之繼承人
                        </td>
                        <td class="text-left">{{coownerheir.coOwnerHeirAddress|default_if_none:""}}</td>
                        <td>{{coownerheir.coOwnerHeirLandHPPersonnal}}</td>
                        <td>{{coownerheir.coOwnerHeirLandHPAll}}</td>
                        <td>{{coownerheir.coOwnerHeirBuildHPPersonnal}}</td>
                        <td>{{coownerheir.coOwnerHeirBuildHPAll}}</td>
                        <td>{{coownerheir.coOwnerHeirLifeOrDie|default_if_none:""}}</td>
                        <td>
                          <a href="{% url 'yfcase:coowner_litigation_create' coownerheir.id %}" class="btn__icon__create">新增訴訟人</a>
                        </td>
                      </tr>
                      {% if coownerheir.coownerlitigations.count > 0 %}
                        <tr>
                          <td></td>
                          <td colspan=8>
                            <table class="coownerheir__table">
                              <tr>
                                <th rowspan="2">操作</th>
                                <th rowspan="2">(順位)姓名</th>
                                <th rowspan="2">住址</th>
                                <th colspan="2">地號持分</th>
                                <th colspan="2">建號持分</th>
                                <th rowspan="2">存/殁</th>
                              </tr>
                              <tr>
                                <th>個人</th>
                                <th>所有</th>
                                <th>個人</th>
                                <th>所有</th>
                              </tr>
                              {% for coownerlitigation in coownerheir.coownerlitigations.all %}
                                <tr>
                                  <td>
                                    <a href="{% url 'yfcase:coowner_litigation_update' coownerheir.id coownerlitigation.id %}" class="btn__icon__update">更新</a>
                                    <a href="{% url 'yfcase:coowner_litigation_delete' coownerheir.id coownerlitigation.id %}" class="btn__icon__delete">刪除</a> 
                                  </td>
                                  <td>
                                    ({{coownerlitigation.coOwnerLitigationIdentityCard}})
                                    {{coownerlitigation.coOwnerLitigationName}}<br>
                                    {{coownerlitigation.coOwnerLitigationName}}即{{coownerheir.coOwnerHeirName}}之承受訴訟人即{{coownerinfo.coOwnerName}}之繼承人
                                    
                                  </td>
                                  <td class="text-left">{{coownerlitigation.coOwnerLitigationAddress|default_if_none:""}}</td>
                                  <td>{{coownerlitigation.coOwnerLitigationLandHPPersonnal}}</td>
                                  <td>{{coownerlitigation.coOwnerLitigationLandHPAll}}</td>
                                  <td>{{coownerlitigation.coOwnerLitigationBuildHPPersonnal}}</td>
                                  <td>{{coownerlitigation.coOwnerLitigationBuildHPAll}}</td>
                                  <td>{{coownerlitigation.coOwnerLitigationLifeOrDie|default_if_none:""}}</td>
                                 
                                </tr>
                              {% endfor %}
                            </table>
                          </td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  </table>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      {% endif %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
 
</script>
{% endblock content %}
