{% extends "base.html" %}
{% load widget_tweaks %}

{% block style %}
  <style type="text/css">
    .help-block{
      color:red;
    }
  </style>
{% endblock style %}

{% block content %}
<!-- 程式主題的部份 -->
<form action="{% url 'yfcase:deedtax_edit' yfcase.id %}" method="post" id="editAfterWinnerModal" data-townships-url="{% url 'yfcase:ajax_load_townships' %}" >{% csrf_token %}
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- header -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
      </div>
      
      <!-- body -->
      <div class="modal-body">
        契稅申請書基本資料 - 案號：{{ yfcase.yfcaseCaseNumber }}
        <div class="accordion" id="accordionExample">

          <!-- 契稅申請書 - 基本資料 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                契稅申請書 - 基本資料
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <!--基本資料欄位-->
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxHouseTaxRegistrationNumber.id_for_label }}">{{ form.yfcaseDeedtaxHouseTaxRegistrationNumber.label }}</label>
                  {{ form.yfcaseDeedtaxHouseTaxRegistrationNumber|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxHouseTaxRegistrationNumber.error }}</span>
                </div>

                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxEstablishmentDate.id_for_label }}">{{ form.yfcaseDeedtaxEstablishmentDate.label }}</label>
                  {{ form.yfcaseDeedtaxEstablishmentDate|add_class:"form-control fieldcolor datepicker pt-0" }}
                  <span class="help-block">{{ form.yfcaseDeedtaxEstablishmentDate.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxDeclarationDate.id_for_label }}">{{ form.yfcaseDeedtaxDeclarationDate.label }}</label>
                  {{ form.yfcaseDeedtaxDeclarationDate|add_class:"form-control fieldcolor datepicker pt-0" }}
                  <span class="help-block">{{ form.yfcaseDeedtaxDeclarationDate.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxClient.id_for_label }}">{{ form.yfcaseDeedtaxClient.label }}</label>
                  {{ form.yfcaseDeedtaxClient|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxClient.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxTransferPrice.id_for_label }}">{{ form.yfcaseDeedtaxTransferPrice.label }}</label>
                  {{ form.yfcaseDeedtaxTransferPrice|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxTransferPrice.error }}</span> 
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxReclaimMethod.id_for_label }}">{{ form.yfcaseDeedtaxReclaimMethod.label }}</label>
                  {{ form.yfcaseDeedtaxReclaimMethod|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxReclaimMethod.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxClosingNewsletter.id_for_label }}">{{ form.yfcaseDeedtaxClosingNewsletter.label }}</label>
                  {{ form.yfcaseDeedtaxClosingNewsletter|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxClosingNewsletter.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxRemarks.id_for_label }}">{{ form.yfcaseDeedtaxRemarks.label }}</label>
                  {{ form.yfcaseDeedtaxRemarks|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxRemarks.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxReportAttached.id_for_label }}">{{ form.yfcaseDeedtaxReportAttached.label }}</label>
                  {{ form.yfcaseDeedtaxReportAttached|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxReportAttached.error }}</span>
                </div>
              </div>
            </div>
          </div>

          <!-- 契稅申請書 - 移轉情形 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed bg-success text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                契稅申請書 - 移轉情形
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferLevel1.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferLevel1.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferLevel1|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferLevel1.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferLevel2.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferLevel2.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferLevel2|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferLevel2.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferLevel3.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferLevel3.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferLevel3|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferLevel3.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferLevel4.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferLevel4.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferLevel4|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferLevel4.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferLevel5.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferLevel5.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferLevel5|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferLevel5.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferLevel6.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferLevel6.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferLevel6|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferLevel6.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferStructure1.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferStructure1.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferStructure1|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferStructure1.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferStructure2.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferStructure2.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferStructure2|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferStructure2.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferStructure3.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferStructure3.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferStructure3|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferStructure3.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferStructure4.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferStructure4.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferStructure4|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferStructure4.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferStructure5.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferStructure5.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferStructure5|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferStructure5.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferStructure6.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferStructure6.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferStructure6|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferStructure6.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferArea1.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferArea1.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferArea1|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferArea1.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferArea2.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferArea2.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferArea2|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferArea2.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferArea3.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferArea3.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferArea3|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferArea3.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferArea4.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferArea4.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferArea4|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferArea4.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferArea5.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferArea5.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferArea5|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferArea5.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferArea6.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferArea6.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferArea6|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferArea6.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferPublicBuildingNumber1.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferPublicBuildingNumber1.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferPublicBuildingNumber1|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferPublicBuildingNumber1.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferPublicBuildingNumber2.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferPublicBuildingNumber2.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferPublicBuildingNumber2|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferPublicBuildingNumber2.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferPublicBuildingNumber3.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferPublicBuildingNumber3.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferPublicBuildingNumber3|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferPublicBuildingNumber3.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferPublicBuildingNumber4.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferPublicBuildingNumber4.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferPublicBuildingNumber4|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferPublicBuildingNumber4.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferPublicHoldings1.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferPublicHoldings1.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferPublicHoldings1|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferPublicHoldings1.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferPublicHoldings2.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferPublicHoldings2.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferPublicHoldings2|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferPublicHoldings2.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferPublicHoldings3.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferPublicHoldings3.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferPublicHoldings3|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferPublicHoldings3.error }}</span>
                </div>
                
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxBuildingTransferPublicHoldings4.id_for_label }}">{{ form.yfcaseDeedtaxBuildingTransferPublicHoldings4.label }}</label>
                  {{ form.yfcaseDeedtaxBuildingTransferPublicHoldings4|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxBuildingTransferPublicHoldings4.error }}</span>
                </div>
              </div>
            </div>
          </div>

          <!-- 契稅申請書 - 義務人 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed bg-warning text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                契稅申請書 - 義務人：{{yfcase.yfcaseDebtor|default_if_none:""}}
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxDebtorIdentityCard.id_for_label }}">{{ form.yfcaseDeedtaxDebtorIdentityCard.label }}</label>
                  {{ form.yfcaseDeedtaxDebtorIdentityCard|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxDebtorIdentityCard.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxDebtorBirthday.id_for_label }}">{{ form.yfcaseDeedtaxDebtorBirthday.label }}</label>
                  {{ form.yfcaseDeedtaxDebtorBirthday|add_class:"form-control fieldcolor datepicker pt-0" }}
                  <span class="help-block">{{ form.yfcaseDeedtaxDebtorBirthday.error }}</span>
                </div>
                 <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxDebtorLocalPhone.id_for_label }}">{{ form.yfcaseDeedtaxDebtorLocalPhone.label }}</label>
                  {{ form.yfcaseDeedtaxDebtorLocalPhone|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxDebtorLocalPhone.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxDebtorMobilePhone.id_for_label }}">{{ form.yfcaseDeedtaxDebtorMobilePhone.label }}</label>
                  {{ form.yfcaseDeedtaxDebtorMobilePhone|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxDebtorMobilePhone.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxDebtorCity.id_for_label }}">{{ form.yfcaseDeedtaxDebtorCity.label }}</label>
                  {{ form.yfcaseDeedtaxDebtorCity|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxDebtorCity.error }}</span>
                </div>
                 <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxDebtorTownship.id_for_label }}">{{ form.yfcaseDeedtaxDebtorTownship.label }}</label>
                  {{ form.yfcaseDeedtaxDebtorTownship|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxDebtorTownship.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxDebtorVillage.id_for_label }}">{{ form.yfcaseDeedtaxDebtorVillage.label }}</label>
                  {{ form.yfcaseDeedtaxDebtorVillage|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxDebtorVillage.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxDebtorNeighbor.id_for_label }}">{{ form.yfcaseDeedtaxDebtorNeighbor.label }}</label>
                  {{ form.yfcaseDeedtaxDebtorNeighbor|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxDebtorNeighbor.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxDebtorStreet.id_for_label }}">{{ form.yfcaseDeedtaxDebtorStreet.label }}</label>
                  {{ form.yfcaseDeedtaxDebtorStreet|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxDebtorStreet.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxDebtorSection.id_for_label }}">{{ form.yfcaseDeedtaxDebtorSection.label }}</label>
                  {{ form.yfcaseDeedtaxDebtorSection|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxDebtorSection.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxDebtorLane.id_for_label }}">{{ form.yfcaseDeedtaxDebtorLane.label }}</label>
                  {{ form.yfcaseDeedtaxDebtorLane|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxDebtorLane.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxDebtorAlley.id_for_label }}">{{ form.yfcaseDeedtaxDebtorAlley.label }}</label>
                  {{ form.yfcaseDeedtaxDebtorAlley|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxDebtorAlley.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxDebtorNumber.id_for_label }}">{{ form.yfcaseDeedtaxDebtorNumber.label }}</label>
                  {{ form.yfcaseDeedtaxDebtorNumber|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxDebtorNumber.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxDebtorFloor.id_for_label }}">{{ form.yfcaseDeedtaxDebtorFloor.label }}</label>
                  {{ form.yfcaseDeedtaxDebtorFloor|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxDebtorFloor.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxDebtorLandHoldingPointPersonal.id_for_label }}">{{ form.yfcaseDeedtaxDebtorLandHoldingPointPersonal.label }}</label>
                  {{ form.yfcaseDeedtaxDebtorLandHoldingPointPersonal|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxDebtorLandHoldingPointPersonal.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxDebtorLandHoldingPointAll.id_for_label }}">{{ form.yfcaseDeedtaxDebtorLandHoldingPointAll.label }}</label>
                  {{ form.yfcaseDeedtaxDebtorLandHoldingPointAll|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxDebtorLandHoldingPointAll.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxDebtorBuildHoldingPointPersonal.id_for_label }}">{{ form.yfcaseDeedtaxDebtorBuildHoldingPointPersonal.label }}</label>
                  {{ form.yfcaseDeedtaxDebtorBuildHoldingPointPersonal|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxDebtorBuildHoldingPointPersonal.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxDebtorBuildHoldingPointAll.id_for_label }}">{{ form.yfcaseDeedtaxDebtorBuildHoldingPointAll.label }}</label>
                  {{ form.yfcaseDeedtaxDebtorBuildHoldingPointAll|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxDebtorBuildHoldingPointAll.error }}</span>
                </div>
              </div>
            </div>
          </div>

          <!-- 契稅申請書 - 權利人 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFourth">
              <button class="accordion-button bg-info text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourth" aria-expanded="true" aria-controls="collapseFourth">
                契稅申請書 - 
                {% if yfcase.yfcaseCreditor %}
                  權利人：{{yfcase.yfcaseCreditor}}
                {% else %}
                  權利人：{{yfcase.yfcaseCompany}}
                {% endif %}
              </button>
            </h2>
            <div id="collapseFourth" class="accordion-collapse collapse" aria-labelledby="headingFourth" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxCreditorIdentityCard.id_for_label }}">{{ form.yfcaseDeedtaxCreditorIdentityCard.label }}</label>
                  {{ form.yfcaseDeedtaxCreditorIdentityCard|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxCreditorIdentityCard.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxCreditorBirthday.id_for_label }}">{{ form.yfcaseDeedtaxCreditorBirthday.label }}</label>
                  {{ form.yfcaseDeedtaxCreditorBirthday|add_class:"form-control fieldcolor datepicker pt-0" }}
                  <span class="help-block">{{ form.yfcaseDeedtaxCreditorBirthday.error }}</span>
                </div>
                 <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxCreditorLocalPhone.id_for_label }}">{{ form.yfcaseDeedtaxCreditorLocalPhone.label }}</label>
                  {{ form.yfcaseDeedtaxCreditorLocalPhone|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxCreditorLocalPhone.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxCreditorMobilePhone.id_for_label }}">{{ form.yfcaseDeedtaxCreditorMobilePhone.label }}</label>
                  {{ form.yfcaseDeedtaxCreditorMobilePhone|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxCreditorMobilePhone.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxCreditorCity.id_for_label }}">{{ form.yfcaseDeedtaxCreditorCity.label }}</label>
                  {{ form.yfcaseDeedtaxCreditorCity|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxCreditorCity.error }}</span>
                </div>
                 <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxCreditorTownship.id_for_label }}">{{ form.yfcaseDeedtaxCreditorTownship.label }}</label>
                  {{ form.yfcaseDeedtaxCreditorTownship|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxCreditorTownship.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxCreditorVillage.id_for_label }}">{{ form.yfcaseDeedtaxCreditorVillage.label }}</label>
                  {{ form.yfcaseDeedtaxCreditorVillage|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxCreditorVillage.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxCreditorNeighbor.id_for_label }}">{{ form.yfcaseDeedtaxCreditorNeighbor.label }}</label>
                  {{ form.yfcaseDeedtaxCreditorNeighbor|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxCreditorNeighbor.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxCreditorStreet.id_for_label }}">{{ form.yfcaseDeedtaxCreditorStreet.label }}</label>
                  {{ form.yfcaseDeedtaxCreditorStreet|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxCreditorStreet.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxCreditorSection.id_for_label }}">{{ form.yfcaseDeedtaxCreditorSection.label }}</label>
                  {{ form.yfcaseDeedtaxCreditorSection|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxCreditorSection.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxCreditorLane.id_for_label }}">{{ form.yfcaseDeedtaxCreditorLane.label }}</label>
                  {{ form.yfcaseDeedtaxCreditorLane|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxCreditorLane.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxCreditorAlley.id_for_label }}">{{ form.yfcaseDeedtaxCreditorAlley.label }}</label>
                  {{ form.yfcaseDeedtaxCreditorAlley|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxCreditorAlley.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxCreditorNumber.id_for_label }}">{{ form.yfcaseDeedtaxCreditorNumber.label }}</label>
                  {{ form.yfcaseDeedtaxCreditorNumber|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxCreditorNumber.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxCreditorFloor.id_for_label }}">{{ form.yfcaseDeedtaxCreditorFloor.label }}</label>
                  {{ form.yfcaseDeedtaxCreditorFloor|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxCreditorFloor.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxCreditorLandHoldingPointPersonal.id_for_label }}">{{ form.yfcaseDeedtaxCreditorLandHoldingPointPersonal.label }}</label>
                  {{ form.yfcaseDeedtaxCreditorLandHoldingPointPersonal|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxCreditorLandHoldingPointPersonal.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxCreditorLandHoldingPointAll.id_for_label }}">{{ form.yfcaseDeedtaxCreditorLandHoldingPointAll.label }}</label>
                  {{ form.yfcaseDeedtaxCreditorLandHoldingPointAll|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxCreditorLandHoldingPointAll.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxCreditorBuildHoldingPointPersonal.id_for_label }}">{{ form.yfcaseDeedtaxCreditorBuildHoldingPointPersonal.label }}</label>
                  {{ form.yfcaseDeedtaxCreditorBuildHoldingPointPersonal|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxCreditorBuildHoldingPointPersonal.error }}</span>
                </div>
                <div class="form-group">
                  <label for="{{ form.yfcaseDeedtaxCreditorBuildHoldingPointAll.id_for_label }}">{{ form.yfcaseDeedtaxCreditorBuildHoldingPointAll.label }}</label>
                  {{ form.yfcaseDeedtaxCreditorBuildHoldingPointAll|add_class:'form-control' }}
                  <span class="help-block">{{ form.yfcaseDeedtaxCreditorBuildHoldingPointAll.error }}</span>
                </div>
                
                <div class="form-group">
                  {% render_field form.yfcaseDeedtaxCoOwnerMatch|attr:"multiple:multiple"|attr:"data-plugin-multiselect" %} <span style="color:red;">土地 / 建物共有人是否一致</span>
                  <span class="help-block">{{ form.yfcaseDeedtaxCoOwnerMatch.error }}</span>
                </div>
                {{ deedtax_clent_id|json_script:"deedtax_clent_id" }}

              </div>
            </div>
          </div>

        </div>

      </div>

      <!-- footer -->
      <div class="modal-footer">
        <a href="{% url 'yfcase:home' %}" class="btn btn-secondary col">返回</a>
        <input class="btn btn-primary col-md-3" type="submit" value="建立" />
      </div>

    </div>
  </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(document).ready(function(){
    const deedtax_clent_id = JSON.parse(document.getElementById('deedtax_clent_id').textContent);
    document.getElementById("id_yfcaseDeedtaxClient").value = deedtax_clent_id;
    // 此為欄位驗証的JS
    $('#editAfterWinnerModal').bootstrapValidator({
      // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
      feedbackIcons: {
          valid: 'glyphicon glyphicon-ok',
          invalid: 'glyphicon glyphicon-remove',
          validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
          yfcaseCaseNumber: {
            validators: {
              notEmpty: {
                message: '此一欄位不得為空'
              },
              stringLength: {
                min: 5,
                max: 50,
                message: '案件名稱必需介於5-50個文字'
              }
            }
          },
          yfcaseCity: {
            validators: {
              notEmpty: {
                message: '此為必要欄位'
              }
            }
          },
          yfcaseTownship: {
            validators: {
              notEmpty: {
                message: '此為必要欄位'
              }
            }
          },
          yfcaseOtherAddress: {
            validators: {
              notEmpty: {
                message: '此為必要欄位'
              }
            }
          },
          yfcaseCompany: {
            validators: {
              notEmpty: {
                message: '必選欄位'
              }
            }
          }
      }
    });

  });

// JS觸發事件來使yfcaseCity/yfcaseTownship這兩個欄位動作
  $("#id_yfcaseCity").change(function () {
    var url = $("#editAfterWinnerModal").attr("data-townships-url");
    var cityId = $(this).val();

    $.ajax({
      url: url,
      data: {
        'city': cityId
      },
      success: function (data) {
        $("#id_yfcaseTownship").html(data);
      }
    });
  });

  $(function() {
    $(".datepicker").datepicker({
      dateFormat: "yy-mm-dd"
    });
  });

</script>
{% endblock content %}
