{% extends "base.html" %}
{% load widget_tweaks %}

{% block style %}
  <style type="text/css">
    .help-block{
      color:red;
    }
  </style>
{% endblock style %}

{% block content %}
<!-- 程式主題的部份 -->
<form action="{% url 'yfcase:letter_edit' yfcase.id %}" method="post" id="letter_edit_form" data-townships-url="{% url 'yfcase:ajax_load_townships' %}" >{% csrf_token %}
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- header -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <!-- body -->
      <div class="modal-body">
        存證信函 - 案號：{{ yfcase.yfcaseCaseNumber }}
        <!--基本資料欄位-->
        <div class="form-group">
          <label for="{{ form.yfcaseLetterAgent.id_for_label }}">{{ form.yfcaseLetterAgent.label }}</label>
          {{ form.yfcaseLetterAgent|add_class:'form-control' }}
          <span class="help-block">{{ form.yfcaseLetterAgent.error }}</span>
        </div>
        {{ letter_clent_id|json_script:"letter_clent_id" }}

      </div>

      <!-- footer -->
      <div class="modal-footer">
        
        <button type="button" class="btn btn-secondary col" data-dismiss="modal">返回</button>
        <input class="btn btn-primary col-md-3" type="submit" value="建立" />
        
      </div>

    </div>
  </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(document).ready(function(){
    const letter_clent_id = JSON.parse(document.getElementById('letter_clent_id').textContent);
    document.getElementById("id_yfcaseLetterAgent").value = letter_clent_id; 
    // 此為欄位驗証的JS
    $('#letter_edit_form').bootstrapValidator({
      // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
      feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
      }
    });

  });

  $(function() {
    $(".datepicker").datepicker({
      dateFormat: "yy-mm-dd"
    });
  });

</script>
{% endblock %}