{% extends "base.html" %}
{% load widget_tweaks %}

{% block style %}
  <style type="text/css">
    .help-block{
      color:red;
    }
  </style>
{% endblock style %}

{% block content %}


<!-- 程式主題的部份 -->
<form action="{% url 'yfcase:realestateregistration_edit' yfcase.id %}" method="post" id="editRealestateregistrationModal" data-townships-url="{% url 'yfcase:ajax_load_townships' %}" >{% csrf_token %}
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- header -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <!-- body -->
      <div class="modal-body">
 
        不動產登記
        
        <div class="form-group">
          <label for="{{ form.yfcaseRealEstateRegistrationRegisteredAgent.id_for_label }}">{{ form.yfcaseRealEstateRegistrationRegisteredAgent.label }}</label>
          {{ form.yfcaseRealEstateRegistrationRegisteredAgent|add_class:'form-control' }}
          <span class="help-block">{{ form.yfcaseRealEstateRegistrationRegisteredAgent.error }}</span>
        </div>
        
        <div class="form-group">
          <label for="{{ form.yfcaseRealEstateRegistrationDateOfCause.id_for_label }}">{{ form.yfcaseRealEstateRegistrationDateOfCause.label }}</label>
          {{ form.yfcaseRealEstateRegistrationDateOfCause|add_class:'form-control fieldcolor datepicker pt-0' }}
          <span class="help-block">{{ form.yfcaseRealEstateRegistrationDateOfCause.error }}</span>
        </div>
        
        <div class="form-group">
          <label for="{{ form.yfcaseRealEstateRegistrationReasonForRegistration.id_for_label }}">{{ form.yfcaseRealEstateRegistrationReasonForRegistration.label }}</label>
          {{ form.yfcaseRealEstateRegistrationReasonForRegistration|add_class:'form-control' }}
          <span class="help-block">{{ form.yfcaseRealEstateRegistrationReasonForRegistration.error }}</span>
        </div>
        
        <div class="form-group">
          <label for="{{ form.yfcaseRealEstateRegistrationRegistrationNote.id_for_label }}">{{ form.yfcaseRealEstateRegistrationRegistrationNote.label }}</label>
          {{ form.yfcaseRealEstateRegistrationRegistrationNote|add_class:'form-control' }}
          <span class="help-block">{{ form.yfcaseRealEstateRegistrationRegistrationNote.error }}</span>
        </div>
        
        <div class="form-group">
          {% render_field form.yfcaseApplyAcrossInstitutions|attr:"multiple:multiple"|attr:"data-plugin-multiselect" %} <span style="color:red;">跨所申請</span>
          <span class="help-block">{{ form.yfcaseApplyAcrossInstitutions.error }}</span>
        </div>
        
        <div class="form-group">
          <label for="{{ form.yfcaseAcceptingAuthorityTownship.id_for_label }}">{{ form.yfcaseAcceptingAuthorityTownship.label }}</label>
          {{ form.yfcaseAcceptingAuthorityTownship|add_class:'form-control' }}
          <span class="help-block">{{ form.yfcaseAcceptingAuthorityTownship.error }}</span>
        </div>

      </div>

      <!-- footer -->
      <div class="modal-footer">
        
        <button type="button" class="btn btn-secondary col" data-dismiss="modal">返回</button>
        <input class="btn btn-primary col-md-3" type="submit" value="建立" />
        
      </div>

    </div>
  </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(document).ready(function(){
  
    // 此為欄位驗証的JS
    $('#yfcaseCreateForm').bootstrapValidator({
      // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
      feedbackIcons: {
          valid: 'glyphicon glyphicon-ok',
          invalid: 'glyphicon glyphicon-remove',
          validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
          yfcaseCaseNumber: {
            validators: {
              notEmpty: {
                message: '此一欄位不得為空'
              },
              stringLength: {
                min: 5,
                max: 50,
                message: '案件名稱必需介於5-50個文字'
              }
            }
          },
          yfcaseCity: {
            validators: {
              notEmpty: {
                message: '此為必要欄位'
              }
            }
          },
          yfcaseTownship: {
            validators: {
              notEmpty: {
                message: '此為必要欄位'
              }
            }
          },
          yfcaseOtherAddress: {
            validators: {
              notEmpty: {
                message: '此為必要欄位'
              }
            }
          },
          yfcaseCompany: {
            validators: {
              notEmpty: {
                message: '必選欄位'
              }
            }
          }
      }
    });

  });
  $(function() {
    $(".datepicker").datepicker({
      dateFormat: "yy-mm-dd"
    });
  });

</script>
{% endblock content %}