{% extends "base.html" %}
{% load widget_tweaks %}

{% block head_title %}
  {{ title }}
{% endblock head_title %}

{% block style %}
  <style>
    .form__container { border-radius: 5px; background-color: #f2f2f2; padding: 20px; margin-top: 20px}
    
    .help-block {
      color: red;
    }
    
    .bluefont {
      color:blue;
      font-size:12pt;
    }
  </style>
{% endblock style %}

{% block content %}
<div class="form__container">
  <h1>{{ title }}</h1>
  <form action="" method="post" id="coownerForm">{% csrf_token %}
    {{ form.yfcase|attr:"type:hidden" }}
    
    <div class="row mt-3">
      <div class="col-md-2 mt-3">
        <label for="{{ form.coOwnerName.id_for_label }}">{{ form.coOwnerName.label }}</label>
        {{ form.coOwnerName|add_class:'form-control'|attr:"autocomplete:off" }}
        <div class="invalid-feedback">
          {{ form.coOwnerName.error }}
        </div>
      </div>
      <div class="col-md-2 mt-3">
        <label for="{{ form.coOwnerIdentityCard.id_for_label }}">{{ form.coOwnerIdentityCard.label }}</label>
        {{ form.coOwnerIdentityCard|add_class:'form-control'|attr:"autocomplete:off" }}
        <div class="invalid-feedback">
          {{ form.coOwnerIdentityCard.error }}
        </div>
      </div>
      <div class="col-md-7 mt-3">
        <label for="{{ form.coOwnerAddress.id_for_label }}">{{ form.coOwnerAddress.label }}</label>
        {{ form.coOwnerAddress|add_class:'form-control'|attr:"autocomplete:off" }}
        <div class="invalid-feedback">
          {{ form.coOwnerAddress.error }}
        </div>
      </div>
      <div class="col-md-1 mt-3">
        <label for="{{ form.coOwnerLifeOrDie.id_for_label }}">{{ form.coOwnerLifeOrDie.label }}</label>
        {{ form.coOwnerLifeOrDie|add_class:'form-control'|attr:"autocomplete:off" }}
        <div class="invalid-feedback">
          {{ form.coOwnerLifeOrDie.error }}
        </div>
      </div>
    </div>
    
    <div class="row mt-3">
      <div class="col-md-3 mt-3">
        <label for="{{ form.coOwnerLandHPPersonnal.id_for_label }}">{{ form.coOwnerLandHPPersonnal.label }}</label>
        {{ form.coOwnerLandHPPersonnal|add_class:'form-control' }}
        <div class="invalid-feedback">
          {{ form.coOwnerLandHPPersonnal.error }}
        </div>
      </div>
      <div class="col-md-3 mt-3">
        <label for="{{ form.coOwnerLandHPAll.id_for_label }}">{{ form.coOwnerLandHPAll.label }}</label>
        {{ form.coOwnerLandHPAll|add_class:'form-control' }}
        <div class="invalid-feedback">
          {{ form.coOwnerLandHPAll.error }}
        </div>
      </div>
      <div class="col-md-3 mt-3">
        <label for="{{ form.coOwnerBuildHPPersonnal.id_for_label }}">{{ form.coOwnerBuildHPPersonnal.label }}</label>
        {{ form.coOwnerBuildHPPersonnal|add_class:'form-control' }}
        <div class="invalid-feedback">
          {{ form.coOwnerBuildHPPersonnal.error }}
        </div>
      </div>
      <div class="col-md-3 mt-3">
        <label for="{{ form.coOwnerBuildHPAll.id_for_label }}">{{ form.coOwnerBuildHPAll.label }}</label>
        {{ form.coOwnerBuildHPAll|add_class:'form-control' }}
        <div class="invalid-feedback">
          {{ form.coOwnerBuildHPAll.error }}
        </div>
      </div>
    </div>

    
    <div class="row mt-3">
      <div class="col-md-6 mt-3">
        <a href="{% url 'yfcase:coowner_edit' instance_yfcase.id %}" class="btn btn-secondary form-control" >返回</a>
      </div>
      <div class="col-md-6 mt-3">
        {% if instance.id %}
          <input type="submit" class="btn btn-success form-control" value="更新">
        {% else %}
          <input type="submit" class="btn btn-info form-control" value="新增" onclick="get_coowner_yfcase()">
        {% endif %}
      </div>
    </div>

  </form>
</div>

<!-- 為防止在運行jquery程式碼時出錯Uncaught ReferenceError: $ is not defined，所以要將jquery.min.js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(document).ready(function(){
    // 此為欄位驗証的JS
    $('#coownerForm').bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
          valid: 'glyphicon glyphicon-ok',
          invalid: 'glyphicon glyphicon-remove',
          validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
          coOwnerName: {
            validators: {
              notEmpty: {
                message: '此一欄位不得為空'
              }
            }
          },
          coOwnerLandHPPersonnal: {
            validators: {
              notEmpty: {
                message: '此一欄位不得為空'
              },
              integer: {
                message: '此欄需為正整數，且需大於 1 '
              },
              between: {
                min: 1,
                max: 9999999,
                message: '此欄需為正整數，且需大於 1 '
              }
            }
          },
          coOwnerLandHPAll: {
            validators: {
              notEmpty: {
                message: '此一欄位不得為空'
              },
              integer: {
                message: '此欄需為正整數，且需大於 1 '
              },
              between: {
                min: 1,
                max: 9999999,
                message: '此欄需為正整數，且需大於 1 '
              }
            }
          },
          coOwnerBuildHPPersonnal: {
            validators: {
              notEmpty: {
                message: '此一欄位不得為空'
              },
              integer: {
                message: '此欄需為正整數，且需大於 1 '
              },
              between: {
                min: 1,
                max: 9999999,
                message: '此欄需為正整數，且需大於 1 '
              }
            }
          },
          coOwnerBuildHPAll: {
            validators: {
              notEmpty: {
                message: '此一欄位不得為空'
              },
              integer: {
                message: '此欄需為正整數，且需大於 1 '
              },
              between: {
                min: 1,
                max: 9999999,
                message: '此欄需為正整數，且需大於 1 '
              }
            }
          }
        }
      });
  });
  function get_coowner_yfcase() {
    var url = (window.location.pathname).replace("/yfcase/","").replace("/coownerinfo/create/",""); 
    document.getElementById("id_yfcase").value = url;
  }
</script>
{% endblock content %}
