{% extends "base.html" %}
{% load widget_tweaks %}

{% block head_title %}
  {{ title }}
{% endblock head_title %}

{% block style %}
  <style type="text/css">
    * { font-family: 'Roboto','Noto Sans TC', sans-serif;}
    .invalid-feedback{ color:red;font-weight: bolder;background-color: yellow;border: 1px solid red }
  </style>
{% endblock style %}


{% block content %}
<form method="POST" action="" enctype='multipart/form-data' id="objectBuildCreateForm" novalidate >{% csrf_token %}
  {% if instance.id %}
     <div class="container-sm border border-success border-3 rounded mt-3 bg-light">
  {% else %}
     <div class="container-sm border border-primary border-3 rounded mt-3 bg-light">
  {% endif %}
    {{ form.yfcase|attr:"type:hidden" }}

    <!-- 標題  -->
    <div class="row">
      <div class="col my-1">
        {% if instance.id %}
           <div class="bg-success fs-3 fw-bold text-white text-center p-2 rounded">
        {% else %}
           <div class="bg-primary fs-3 fw-bold text-white text-center p-2 rounded">
        {% endif %}
          {{ title }}
        </div>
      </div>
    </div>

    <!-- 狀態 && 地址 -->
    <div class="row mt-3">
      <span class="text-dark fs-4 fw-bold">參考物件位置</span>
      <div class="col-md-4">
        <span class="text-white bg-dark px-2">狀態</span>
        <div class="input-group">
          {{ form.objectBuildStatus|add_class:'form-control border border-dark border-2 fw-bold rounded-end'|attr:"autocomplete:off"|attr:"placeholder:請輸入狀態" }}
          <span class="help-block">{{ form.objectBuildStatus.error }}</span>
        </div>
      </div>
      <div class="col-md-8">
        <span class="text-white bg-dark px-2">地址 (*無需輸入縣市/鄉鎮區里)</span>
        <div class="input-group">
          {{ form.objectBuildAddress|add_class:'form-control border border-dark border-2 fw-bold rounded-end'|attr:"placeholder:請輸入地址" }}
          <span class="help-block">{{ form.objectBuildAddress.error }}</span>
        </div>
      </div>
    </div>

    <!-- 參考物件資訊 -->
    <div class="row mt-3">
      <span class="text-dark fs-4 fw-bold">參考物件資訊</span>
      <div class="col-md-2">
        <span class="text-white bg-dark px-2">總價(NT)</span>
        <div class="input-group">
          {{ form.objectBuildTotalPrice|add_class:'form-control border border-dark border-2 fw-bold rounded-end'|attr:"autocomplete:off" }}
        </div>
      </div>
      <div class="col-md-2">
        <span class="text-white bg-dark px-2">建坪(坪)</span>
        <div class="input-group">
          {{ form.objectBuildBuildArea|add_class:'form-control border border-dark border-2 fw-bold rounded-end'|attr:"autocomplete:off" }}
        </div>
      </div>
      <div class="col-md-2">
        <span class="text-white bg-dark px-2">增建坪數(坪)</span>
        <div class="input-group">
          {{ form.objectBuildSubBuildArea|add_class:'form-control border border-dark border-2 fw-bold rounded-end'|attr:"autocomplete:off" }}
        </div>
      </div>
      <div class="col-md-2">
        <span class="text-white bg-dark px-2">屋齡(年)</span>
        <div class="input-group">
          {{ form.objectBuildHouseAge|add_class:'form-control border border-dark border-2 fw-bold rounded-end'|attr:"autocomplete:off" }}
        </div>
      </div>
      <div class="col-md-1">
        <span class="text-white bg-dark px-2">樓高</span>
        <div class="input-group">
          {{ form.objectBuildFloorHeight|add_class:'form-control border border-dark border-2 fw-bold rounded-end'|attr:"autocomplete:off" }}
        </div>
      </div>
      <div class="col-md-3">
        <span class="text-white bg-dark px-2">成交日期</span>
        <div class="input-group">
          {{ form.objectBuildTransactionDate|add_class:'form-control border border-dark border-2 fw-bold rounded-end datepicker'|attr:"autocomplete:off" }}
        </div>
      </div>
    </div>
    
    <!-- 附件 -->
    <div class="row mt-3">
      <span class="text-dark fs-4 fw-bold">附件</span>
      <div class="col-md-12">
        <div class="input-group my-1">
          {{ form.objectBuildUrl|add_class:'form-control border border-dark border-2 fw-bold rounded-end'|attr:"autocomplete:off"|attr:"placeholder:請輸入附件網址路徑" }}
        </div>
      </div>
    </div>

    <!-- footer -->
    <div class="row mt-3">
      <div class="col-md-6"></div>
      <div class="col-md-3 d-grid gap-2 my-1">
        <a href="{% url 'yfcase:yfcase_detail' instance_yfcase.id %}" class="btn btn-secondary form-control">返回</a>
      </div>
      <div class="col-md-3 d-grid gap-2 my-1">
        {% if instance.id %}
          <input type="submit" class="col btn btn-success form-control" value="更新">
        {% else %}
          <input type="submit" class="col btn btn-primary form-control" value="新增" onclick="get_objectbuild_yfcase()">
        {% endif %}
      </div>
    </div>

  </div>
</form>

<!-- 為防止在運行jquery程式碼時出錯Uncaught ReferenceError: $ is not defined，所以要將jquery.min.js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
<script>
  $(document).ready(function () {
      var userLang = navigator.language || navigator.userLanguage;
      var options = $.extend({},
        $.datepicker.regional["zh-TW"], {
          dayNames:["星期日","星期一","星期二","星期三","星期四","星期五","星期六"],
          dayNamesMin:["日","一","二","三","四","五","六"],
          monthNames:["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
          monthNamesShort:["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
          prevText:"上月",
          nextText:"次月",
          weekHeader:"週",
          dateFormat: "yy-mm-dd",
          changeMonth: true,
          changeYear: true,
          highlightWeek: true
        }
      );

      $("#id_objectBuildTransactionDate").datepicker(options);
    });
    
  function get_objectbuild_yfcase() {
    var url = (window.location.pathname).replace("/yfcase/","").replace("/objectbuild/create/",""); 
    document.getElementById("id_yfcase").value = url;

  }

</script>
{% endblock %}