{% extends "base.html" %}
{% load widget_tweaks %}

{% block head_title %}
  {{ title }}
{% endblock head_title %}

{% block style %}
  <style>
    .help-block {
      color: red;
    }
  </style>
{% endblock style %}

{% block content %}
<div class="col">
  <h1>{{ title }}</h1>
  <form method="POST" action="" enctype='multipart/form-data'>{% csrf_token %}
    {{ form.yfcase|attr:"type:hidden" }}
    {{ form.regionalHead|attr:"type:hidden" }}
        
    <div class="form-row">
      <div class="form-group col">
        <label>{{ form.finalDecision.label }}</label>
        {{ form.finalDecision|add_class:"form-control fieldcolor pt-0" }}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label>{{ form.regionalHeadDate.label }}</label>
        {{ form.regionalHeadDate|add_class:"form-control fieldcolor datepicker pt-0" }}
        <small style="color:blue;">*若此欄位為空值，則日期以當天的日期為主</small>
      </div>
    </div>

    {{ request.user.userFullName|json_script:"author_fullname" }} 

    <a href="{% url 'yfcase:yfcase_detail' instance_yfcase.id %}" class="btn btn-secondary" >返回</a>
    {% if instance.id %}
      <input type="submit" class="btn btn-secondary" value="更新">
    {% else %}
      <input type="submit" class="btn btn-secondary" value="新增" onclick="get_regional_yfcase()">
    {% endif %}
  </form>
</div>

<!-- 為防止在運行jquery程式碼時出錯Uncaught ReferenceError: $ is not defined，所以要將jquery.min.js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
<script>
  $(function() {
    $(".datepicker").datepicker({
      dateFormat: "yy-mm-dd"
    });
  });
    
  function get_regional_yfcase() {
    var url = (window.location.pathname).replace("/yfcase/","").replace("/regionalhead/create/","");
    // var Today = new Date();
    // var addToday = Today.getFullYear()+ "-" + ("0" + (Today.getMonth() + 1)).slice(-2) + "-" + ("0" + Today.getDate()).slice(-2)
    // const author_fullname = JSON.parse(document.getElementById('author_fullname').textContent);
    // document.getElementById("id_regionalHead").value = author_fullname;
    //  alert(author_fullname);
    // if (document.getElementById("id_regionalHeadDate").value == "") {
    //   document.getElementById("id_regionalHeadDate").value = addToday;
    // } else {
    //   document.getElementById("id_regionalHeadDate").value = document.getElementById("id_regionalHeadDate").value;
    // }
    document.getElementById("id_yfcase").value = url;
  }

</script>
{% endblock  %}
