{% extends "base.html" %}
{% load widget_tweaks %}

{% block head_title %}
  {{ title }}
{% endblock head_title %}

{% block style %}
  <style>
    .form__container { border-radius: 5px; background-color: #f2f2f2; padding: 20px; margin-top: 20px}
    .help-block {
      color: red;
    }
  </style>
{% endblock style %}

{% block content %}
<div class="form__container">
  <h1>{{ title }}</h1>
  <form action="" method="post" id="buildCreateForm">{% csrf_token %}
    {{ form.yfcase|attr:"type:hidden" }}

    <!-- 第一拍 -->
    <div class="row mt-2">
      <div class="col-md-3 mt-2">
        <label for="{{ form.auctionDateFirst.id_for_label }}">{{ form.auctionDateFirst.label }}</label>
        {{ form.auctionDateFirst|add_class:'form-control'|attr:"autocomplete:off" }}
        <div class="invalid-feedback">
          {{ form.auctionDateFirst.error }}
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <label for="{{ form.auctionFloorPriceFirst.id_for_label }}">{{ form.auctionFloorPriceFirst.label }}</label>
        {{ form.auctionFloorPriceFirst|add_class:'form-control' }}
        <div class="invalid-feedback">
          {{ form.auctionFloorPriceFirst.error }}
        </div>
      </div>
      <div class="col-md-2 mt-2">
        <label for="{{ form.auctionClickFirst.id_for_label }}">{{ form.auctionClickFirst.label }}</label>
        {{ form.auctionClickFirst|add_class:'form-control' }}
        <div class="invalid-feedback">
          {{ form.auctionClickFirst.error }}
        </div>
      </div>
      <div class="col-md-2 mt-2">
        <label for="{{ form.auctionMonitorFirst.id_for_label }}">{{ form.auctionMonitorFirst.label }}</label>
        {{ form.auctionMonitorFirst|add_class:'form-control' }}
        <div class="invalid-feedback">
          {{ form.auctionMonitorFirst.error }}
        </div>
      </div>
      <div class="col-md-2 mt-2">
        <label for="{{ form.auctionMarginFirst.id_for_label }}">{{ form.auctionMarginFirst.label }}</label>
        {{ form.auctionMarginFirst|add_class:'form-control' }}
        <div class="invalid-feedback">
          {{ form.auctionMarginFirst.error }}
        </div>
      </div>
    </div>
    


    <!-- 第二拍 -->
    <div class="row mt-2">
      <div class="col-md-3 mt-2">
        <label for="{{ form.auctionDateSecond.id_for_label }}">{{ form.auctionDateSecond.label }}</label>
        {{ form.auctionDateSecond|add_class:'form-control'|attr:"autocomplete:off" }}
        <div class="invalid-feedback">
          {{ form.auctionDateSecond.error }}
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <label for="{{ form.auctionFloorPriceSecond.id_for_label }}">{{ form.auctionFloorPriceSecond.label }}</label>
        {{ form.auctionFloorPriceSecond|add_class:'form-control' }}
        <div class="invalid-feedback">
          {{ form.auctionFloorPriceSecond.error }}
        </div>
      </div>
      <div class="col-md-2 mt-2">
        <label for="{{ form.auctionClickSecond.id_for_label }}">{{ form.auctionClickSecond.label }}</label>
        {{ form.auctionClickSecond|add_class:'form-control' }}
        <div class="invalid-feedback">
          {{ form.auctionClickSecond.error }}
        </div>
      </div>
      <div class="col-md-2 mt-2">
        <label for="{{ form.auctionMonitorSecond.id_for_label }}">{{ form.auctionMonitorSecond.label }}</label>
        {{ form.auctionMonitorSecond|add_class:'form-control' }}
        <div class="invalid-feedback">
          {{ form.auctionMonitorSecond.error }}
        </div>
      </div>
      <div class="col-md-2 mt-2">
        <label for="{{ form.auctionMarginSecond.id_for_label }}">{{ form.auctionMarginSecond.label }}</label>
        {{ form.auctionMarginSecond|add_class:'form-control' }}
        <div class="invalid-feedback">
          {{ form.auctionMarginSecond.error }}
        </div>
      </div>
    </div>


    <!-- 第三拍 -->
    <div class="row mt-2">
      <div class="col-md-3 mt-2">
        <label for="{{ form.auctionDateThird.id_for_label }}">{{ form.auctionDateThird.label }}</label>
        {{ form.auctionDateThird|add_class:'form-control'|attr:"autocomplete:off" }}
        <div class="invalid-feedback">
          {{ form.auctionDateThird.error }}
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <label for="{{ form.auctionFloorPriceThird.id_for_label }}">{{ form.auctionFloorPriceThird.label }}</label>
        {{ form.auctionFloorPriceThird|add_class:'form-control' }}
        <div class="invalid-feedback">
          {{ form.auctionFloorPriceThird.error }}
        </div>
      </div>
      <div class="col-md-2 mt-2">
        <label for="{{ form.auctionClickThird.id_for_label }}">{{ form.auctionClickThird.label }}</label>
        {{ form.auctionClickThird|add_class:'form-control' }}
        <div class="invalid-feedback">
          {{ form.auctionClickThird.error }}
        </div>
      </div>
      <div class="col-md-2 mt-2">
        <label for="{{ form.auctionMonitorThird.id_for_label }}">{{ form.auctionMonitorThird.label }}</label>
        {{ form.auctionMonitorThird|add_class:'form-control' }}
        <div class="invalid-feedback">
          {{ form.auctionMonitorThird.error }}
        </div>
      </div>
      <div class="col-md-2 mt-2">
        <label for="{{ form.auctionMarginThird.id_for_label }}">{{ form.auctionMarginThird.label }}</label>
        {{ form.auctionMarginThird|add_class:'form-control' }}
        <div class="invalid-feedback">
          {{ form.auctionMarginThird.error }}
        </div>
      </div>
    </div>


    <!-- 第四拍 -->
    <div class="row mt-2">
      <div class="col-md-3 mt-2">
        <label for="{{ form.auctionDateFourth.id_for_label }}">{{ form.auctionDateFourth.label }}</label>
        {{ form.auctionDateFourth|add_class:'form-control'|attr:"autocomplete:off" }}
        <div class="invalid-feedback">
          {{ form.auctionDateFourth.error }}
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <label for="{{ form.auctionFloorPriceFourth.id_for_label }}">{{ form.auctionFloorPriceFourth.label }}</label>
        {{ form.auctionFloorPriceFourth|add_class:'form-control' }}
        <div class="invalid-feedback">
          {{ form.auctionFloorPriceFourth.error }}
        </div>
      </div>
      <div class="col-md-2 mt-2">
        <label for="{{ form.auctionClickFourth.id_for_label }}">{{ form.auctionClickFourth.label }}</label>
        {{ form.auctionClickFourth|add_class:'form-control' }}
        <div class="invalid-feedback">
          {{ form.auctionClickFourth.error }}
        </div>
      </div>
      <div class="col-md-2 mt-2">
        <label for="{{ form.auctionMonitorFourth.id_for_label }}">{{ form.auctionMonitorFourth.label }}</label>
        {{ form.auctionMonitorFourth|add_class:'form-control' }}
        <div class="invalid-feedback">
          {{ form.auctionMonitorFourth.error }}
        </div>
      </div>
      <div class="col-md-2 mt-2">
        <label for="{{ form.auctionMarginFourth.id_for_label }}">{{ form.auctionMarginFourth.label }}</label>
        {{ form.auctionMarginFourth|add_class:'form-control' }}
        <div class="invalid-feedback">
          {{ form.auctionMarginFourth.error }}
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6 mt-3">
        <a href="{% url 'yfcase:yfcase_detail' instance_yfcase.id %}" class="btn btn-secondary form-control" >返回</a>
      </div>
      <div class="col-md-6 mt-3">
        {% if instance.id %}
          <input type="submit" class="btn btn-success form-control" value="更新">
        {% else %}
          <input type="submit" class="btn btn-info form-control" value="新增" onclick="get_auction_yfcase()">
        {% endif %}
      </div>
    </div>
    
  </form>
</div>

<!-- 為防止在運行jquery程式碼時出錯Uncaught ReferenceError: $ is not defined，所以要將jquery.min.js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(function() {
    $( ".datepicker" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
  });

  function get_auction_yfcase() {
    var url = (window.location.pathname).replace("/yfcase/","").replace("/auction/create/",""); 
    document.getElementById("id_yfcase").value = url;
  }
</script>
{% endblock content %}
