{% extends "base.html" %}
{% load widget_tweaks %}

{% block style %}
  <style type="text/css">
    .help-block{
      color:red;
    }
  </style>
{% endblock style %}

{% block content %}

<!-- 程式主題的部份 -->
<form action="{% url 'yfcase:yfcase_update' yfcase.id %}" method="post" id="yfcaseUpdateForm" data-townships-url="{% url 'yfcase:ajax_load_townships' %}" novalidate>{% csrf_token %}

  <div class="modal-dialog">
    <div class="modal-content">

      <!-- header -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

        <!-- body -->
        <div class="modal-body">

          {{ request.user.id|json_script:"author_id" }} 
          <input type="hidden" id="user" name="user" value={{request.user.id}}>
          <!-- {{ form.user|attr:"type:text value:1" }} -->

          <div class="form-group">
            <label for="{{ form.yfcaseCaseNumber.id_for_label }}">{{ form.yfcaseCaseNumber.label }}</label>
            <!-- 多了|attr:"autocomplete:off"是為了不要在輸入字元時出現一些模糊比對的字 -->
            {{ form.yfcaseCaseNumber|add_class:'form-control'|attr:"autocomplete:off" }}
            <span class="help-block">{{ form.yfcaseCaseNumber.error }}</span>
          </div>

          <div class="form-group">
            <label for="{{ form.yfcaseCompany.id_for_label }}">{{ form.yfcaseCompany.label }}</label>
            {{ form.yfcaseCompany|add_class:'form-control' }}
            <span class="help-block">{{ form.yfcaseCompany.error }}</span>
          </div>

          <div class="form-group">
            <label for="{{ form.yfcaseCity.id_for_label }}">{{ form.yfcaseCity.label }}</label>
            {{ form.yfcaseCity|add_class:'form-control' }}
            <span class="help-block">{{ form.yfcaseCity.error }}</span>
          </div>

          <div class="form-group">
            <label for="{{ form.yfcaseTownship.id_for_label }}">{{ form.yfcaseTownship.label }}</label>
            {{ form.yfcaseTownship|add_class:'form-control' }}
            <span class="help-block">{{ form.yfcaseTownship.error }}</span>
          </div>

          <div class="form-group">
            <label for="{{ form.yfcaseBigSection.id_for_label }}">{{ form.yfcaseBigSection.label }}</label>
            {{ form.yfcaseBigSection|add_class:'form-control' }}
            <span class="help-block">{{ form.yfcaseBigSection.error }}</span>
          </div>

          <div class="form-group">
            <label for="{{ form.yfcaseSmallSection.id_for_label }}">{{ form.yfcaseSmallSection.label }}</label>
            {{ form.yfcaseSmallSection|add_class:'form-control' }}
            <span class="help-block">{{ form.yfcaseSmallSection.error }}</span>
          </div>

          <div class="form-group">
            <label for="{{ form.yfcaseVillage.id_for_label }}">{{ form.yfcaseVillage.label }}</label>
            {{ form.yfcaseVillage|add_class:'form-control' }}
            <span class="help-block">{{ form.yfcaseVillage.error }}</span>
          </div>
          
          <div class="form-group">
            <label for="{{ form.yfcaseNeighbor.id_for_label }}">{{ form.yfcaseNeighbor.label }}</label>
            {{ form.yfcaseNeighbor|add_class:'form-control' }}
            <span class="help-block">{{ form.yfcaseNeighbor.error }}</span>
          </div>

          <div class="form-group">
            <label for="{{ form.yfcaseStreet.id_for_label }}">{{ form.yfcaseStreet.label }}</label>
            {{ form.yfcaseStreet|add_class:'form-control' }}
            <span class="help-block">{{ form.yfcaseStreet.error }}</span>
          </div>
          
          <div class="form-group">
            <label for="{{ form.yfcaseSection.id_for_label }}">{{ form.yfcaseSection.label }}</label>
            {{ form.yfcaseSection|add_class:'form-control' }}
            <span class="help-block">{{ form.yfcaseSection.error }}</span>
          </div>

          <div class="form-group">
            <label for="{{ form.yfcaseLane.id_for_label }}">{{ form.yfcaseLane.label }}</label>
            {{ form.yfcaseLane|add_class:'form-control' }}
            <span class="help-block">{{ form.yfcaseLane.error }}</span>
          </div>
          
          <div class="form-group">
            <label for="{{ form.yfcaseAlley.id_for_label }}">{{ form.yfcaseAlley.label }}</label>
            {{ form.yfcaseAlley|add_class:'form-control' }}
            <span class="help-block">{{ form.yfcaseAlley.error }}</span>
          </div>
          
          <div class="form-group">
            <label for="{{ form.yfcaseNumber.id_for_label }}">{{ form.yfcaseNumber.label }}</label>
            {{ form.yfcaseNumber|add_class:'form-control' }}
            <span class="help-block">{{ form.yfcaseNumber.error }}</span>
          </div>

          <div class="form-group">
            <label for="{{ form.yfcaseFloor.id_for_label }}">{{ form.yfcaseFloor.label }}</label>
            {{ form.yfcaseFloor|add_class:'form-control' }}
            <span class="help-block">{{ form.yfcaseFloor.error }}</span>
          </div>
          
          <div class="form-group">
            <label for="{{ form.yfcaseDebtor.id_for_label }}">{{ form.yfcaseDebtor.label }}</label>
            {{ form.yfcaseDebtor|add_class:'form-control' }}
            <span class="help-block">{{ form.yfcaseDebtor.error }}</span>
          </div>

          <div class="form-group">
            <label for="{{ form.yfcaseCreditor.id_for_label }}">{{ form.yfcaseCreditor.label }}</label>
            {{ form.yfcaseCreditor|add_class:'form-control' }}
            <span class="help-block">{{ form.yfcaseCreditor.error }}</span>
          </div>

          <div class="form-group">
            <label for="{{ form.yfcaseCreditor.id_for_label }}">{{ form.yfcaseCreditorMobilePhone.label }}</label>
            {{ form.yfcaseCreditorMobilePhone|add_class:'form-control' }}
            <span class="help-block">{{ form.yfcaseCreditorMobilePhone.error }}</span>
          </div>
         
        </div>

      <!-- footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary col" data-dismiss="modal">返回</button>
        <input class="btn btn-primary col-md-3" type="submit" value="更新" />
      </div>

    </div>
  </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(document).ready(function() {
    $('#yfcaseUpdateForm').bootstrapValidator({
      // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
      feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
        yfcaseCaseNumber: {
          validators: {
            notEmpty: {
              message: '此一欄位不得為空'
            },
            stringLength: {
              min: 5,
              max: 50,
              message: '案件名稱必需介於5-50個文字'
            }
          }
        },
        yfcaseCity: {
          validators: {
            notEmpty: {
              message: '此為必要欄位'
            }
          }
        },
        yfcaseTownship: {
          validators: {
            notEmpty: {
              message: '此為必要欄位'
            }
          }
        },
        yfcaseOtherAddress: {
          validators: {
            notEmpty: {
              message: '此為必要欄位'
            }
          }
        },
        yfcaseCompany: {
          validators: {
            notEmpty: {
              message: '必選欄位'
            }
          }
        }
      }
    });

  });

  // JS觸發事件來使yfcaseCity/yfcaseTownship這兩個欄位動作
  $("#id_yfcaseCity").click(function () {
    var url = $("#yfcaseUpdateForm").attr("data-townships-url");
    var cityId = $(this).val();

    $.ajax({
      url: url,
      data: {
        'city': cityId
      },
      success: function (data) {
        $("#id_yfcaseTownship").html(data);
      }
    });
  });
</script>
{% endblock %}
