{% extends "base.html" %}
{% load widget_tweaks %}

{% block style %} 
  <style>
    * {
      font-family: 'Roboto','Noto Sans TC', sans-serif;
    }
    .yfcase__detail__title {
      font-size: 30pt;
      font-weight: 700;
      text-align: center;
      vertical-align: bottom;
    }
    .yfcase__detail__basedata__title {
      font-size:24pt;
      padding-left:0px;
      font-weight: 500;
    }
  </style>
{% endblock style %}

{% block content %}

  <!-- 標頭 -->
  <div class="col">
    <div class="yfcase__detail__title">
      {{object.yfcaseCaseNumber}} YF評量表
    </div>
  </div>
  
  <div class="col">
    <div class="container col">
      <!--基本資料-->
      <div class="row">
        <div class="yfcase__detail__basedata__title">
          基本資料
          <a href="{% url 'yfcase:yfcase_edit' object.id %}">編輯</a>
        </div>
      </div>
      <div class="row">
        <!--基本資料樣版-->
        {% include "./partials/baseData.html" %}
      </div>
    </div>
  </div>

{% endblock content %}
