<!-- 測試 -->
{% load urlify %}

<style>
  /* 文字水平置中 */
  .text-h-center {
    text-align: center;
  }

  /* 文字垂直置中 */
  .text-v-center {
    vertical-align: top;
  }

  .text-v-center:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
  }

  .text-v-center p {
    display: inline-block;
  }


  .sm-td {
    font-size: 11pt;
    margin: 0px;
    border: 1px solid #333;
    padding: 3px;
    display: flex;
    align-items: center;
  }

  .sm-td-8 {
    font-size: 8pt;
    margin: 0px;
    border: 1px solid #333;
    padding: 3px;
  }

  .sm-th {
    font-size: 11pt;
    margin: 0px;
    border: 1px solid #333;
    padding: 3px;
    display: flex;
    align-items: center;
    background-color: #ddd;
    font-weight: 600;
    /* 文字平均分散 
    text-align:justify;
    text-justify:distribute-all-lines;
    text-align-last:justify;*/
  }

  .sm-label {
    width: 60%;
    background-color: #eee;
    border: 1px solid;
    border-style: solid solid none solid;
    border-radius: 10px 10px 0px 0px;
    margin-top: 5px;
  }

  .sm-td-first {
    width: 25%;
    font-size: 10pt;
    padding: 2px;
    border: 1px solid;
    border-style: solid dashed solid solid;
    background-color: pink;
  }

  .sm-td-second {
    width: 25%;
    font-size: 10pt;
    padding: 2px;
    border: 1px solid;
    border-style: solid dashed solid none;
    background-color: PowderBlue;
  }

  .sm-td-third {
    width: 25%;
    font-size: 10pt;
    padding: 2px;
    border: 1px solid;
    border-style: solid dashed solid none;
    background-color: LightYellow;
  }

  .sm-td-fourth {
    width: 25%;
    font-size: 10pt;
    padding: 2px;
    border: 1px solid;
    border-style: solid solid solid none;
    background-color: Aqua;
  }

  .nav-link {
    padding-left: 10px;
    padding-right: 10px;
  }

  .sm-objectbuild>tbody>tr>th {
    background-color: rgb(255, 187, 0);
  }

  .sm-objectbuild>tbody>tr>td {
    color: black;
    font-size: 11pt;
    text-align: left;
  }
  .h25 {
    height: 25px;
  }

  .nav-tabs .nav-link {
    color: DimGrey;
    background-color: LightGoldenRodYellow;
  }
  .nav-tabs .nav-link.active {
    background-color: Khaki;
    color: black;
  }
</style>


<table class="build__table">
  <nav>
    <div class="nav nav-tabs fs-6" id="nav-tab" role="tablist" style="border-bottom: 2px double black;">
      <button class="nav-link border border-secondary fw-bold mt-1 w-25" id="nav-basedata-tab" data-bs-toggle="tab"
        data-bs-target="#nav-basedata" type="button" role="tab" aria-controls="nav-basedata"
        aria-selected="true">基本資料</button>
      <button class="nav-link border border-secondary fw-bold mt-1 w-25" id="nav-land-tab" data-bs-toggle="tab"
        data-bs-target="#nav-land" type="button" role="tab" aria-controls="nav-land" aria-selected="false">土&emsp;&emsp;地</button>
      <button class="nav-link border border-secondary fw-bold mt-1 w-25 active" id="nav-build-tab" data-bs-toggle="tab"
        data-bs-target="#nav-build" type="button" role="tab" aria-controls="nav-build" aria-selected="false">建&emsp;&emsp;物</button>
      <button class="nav-link border border-secondary fw-bold mt-1 w-25" id="nav-auction-tab" data-bs-toggle="tab"
        data-bs-target="#nav-auction" type="button" role="tab" aria-controls="nav-auction"
        aria-selected="false">拍賣資訊</button>
      <button class="nav-link border border-secondary fw-bold mt-1 w-25" id="nav-survey-tab" data-bs-toggle="tab"
        data-bs-target="#nav-survey" type="button" role="tab" aria-controls="nav-survey"
        aria-selected="false">勘查記錄</button>
      <button class="nav-link border border-secondary fw-bold mt-1 w-25" id="nav-objectbuild-tab" data-bs-toggle="tab"
        data-bs-target="#nav-objectbuild" type="button" role="tab" aria-controls="nav-objectbuild"
        aria-selected="false">參考物件</button>
      <button class="nav-link border border-secondary fw-bold mt-1 w-25" id="nav-finaldecision-tab" data-bs-toggle="tab"
        data-bs-target="#nav-finaldecision" type="button" role="tab" aria-controls="nav-finaldecision"
        aria-selected="false">最終判定</button>
      <button class="nav-link border border-secondary fw-bold mt-1 w-25" id="nav-result-tab" data-bs-toggle="tab"
        data-bs-target="#nav-result" type="button" role="tab" aria-controls="nav-result"
        aria-selected="false">執行結果</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">


    <!-- ========= 基本資料 ===========-->
    <div class="tab-pane fade" id="nav-basedata" role="tabpanel" aria-labelledby="nav-basedata-tab">
      {% include "./sm/baseData_sm.html" %}
    </div>

    <!-- ========= 地號 ===========-->
    <div class="tab-pane fade" id="nav-land" role="tabpanel" aria-labelledby="nav-land-tab">
      {% include "./sm/land_sm.html" %}
    </div>

    <!-- ========= 建號 ===========-->
    <div class="tab-pane fade show active" id="nav-build" role="tabpanel" aria-labelledby="nav-build-tab">
      {% include "./sm/build_sm.html" %}
    </div>

    <!-- ========= 拍賣資訊 ===========-->
    <div class="tab-pane fade" id="nav-auction" role="tabpanel" aria-labelledby="nav-auction-tab">
      {% include "./sm/auction_sm.html" %}
    </div>

    <!-- ========= 勘查記錄 ===========-->
    <div class="tab-pane fade" id="nav-survey" role="tabpanel" aria-labelledby="nav-survey-tab">
      {% include "./sm/survey_sm.html" %}
    </div>

    <!-- ========= 參考物件 ===========-->
    <div class="tab-pane fade" id="nav-objectbuild" role="tabpanel" aria-labelledby="nav-objectbuild-tab">
      {% include "./sm/objectBuilding_sm.html" %}
    </div>

    <!-- ========= 最終判定 ===========-->
    <div class="tab-pane fade" id="nav-finaldecision" role="tabpanel" aria-labelledby="nav-finaldecision-tab">
      {% include "./sm/finalDecision_sm.html" %}
    </div>

    <!-- ========= 結果 ===========-->
    <div class="tab-pane fade" id="nav-result" role="tabpanel" aria-labelledby="nav-result-tab">
      {% include "./sm/result_sm.html" %}
    </div>


  </div>
</table>