<!-- 建物 -->
{% load urlify %}

<style>
  .build__table { border: 3px solid black;}
  .build__th { background-color: DeepSkyBlue; border: 1px solid black; text-align: center;} 
  .build__td { border: 1px dotted black; }


  .build__th__7 { width: 7%; }
  .build__th__10 { width: 10%; }
  .build__th__15 { width: 15%; }
</style>

<table class="build__table">
  <tr>
    {% if request.user == object.user %}
      <th class="build__th">操作</th>
    {% endif %}
    <th class="build__th">
      {% if object.builds.first.buildUsePartition %}
        <div style="font-size:2vmin;color: red;background-color:Cornsilk;text-align:center;">
          使用分區：{{ object.builds.first.buildUsePartition|default_if_none:"" }}
        </div>
      {% endif %}
      建號
    </th>
    <th class="build__th">建物型/使用</th>
    <th class="build__th">建坪(平方公尺)</th>
    <th class="build__th">持分</th>
    <th class="build__th">加權</th>
    <th class="build__th">計算</th>
  </tr>
  {% for build in object.builds.all %}
    <tr>
      {% if request.user == object.user %}
        <td class="build__td">  
          <a href="{% url 'yfcase:build_update' object.id build.id %}" class="px-1 text-success"><i class="fa-solid fa-pencil"></i></a>
          <a href="{% url 'yfcase:build_delete' object.id build.id %}" class="px-1 text-danger"><i class="fa-solid fa-trash-can"></i></a>
        </td>
      {% endif %}
      <td class="build__td text-left">
        {% if build.buildNumber %}
          {% if build.buildUrl %}
            <a href="{{ build.buildUrl }}" target="_blank">
              {{ object.yfcaseBigSection }}段{{ build.buildNumber }}
            </a>
          {% else %}
            {{ object.yfcaseBigSection }}段{{ build.buildNumber }}
          {% endif %}
        {% endif %}
      </td>
      <td class="build__td text-left">{{ build.buildTypeUse|default_if_none:"" }}</td>
      <td class="build__td">
        {% if build.buildArea != 0 %}
          {{ build.buildArea }}
        {% endif %}
      </td>
      <td class="build__td">
        {% if build.buildHoldingPointPersonal > 0 and build.buildHoldingPointAll > 0 %}
          <div style="margin: 0px 10px;">{{ build.buildHoldingPointPersonal }}</div>
          <div style="border-top: 1px solid black;width:auto; display:inline-block !important; display:inline;padding:0px 10px;">
            {{ build.buildHoldingPointAll }}
          </div>
        {% endif %}</td>
      <td class="build__td">
        {% if build.buildTypeUse == "公設" %}
          {{ build.yfcase.selfBuildPublicHP|floatformat:"2" }} 
        {% elif build.buildTypeUse == "增建-持分後坪數打對折" %}
          {{ 0.5|floatformat:"2" }}
        {% else %}
          {{ 1|floatformat:"2" }}
        {% endif %}
      </td>
      <td class="build__td">
        {% if build.buildTypeUse == "公設" %}
          {{ build.get_build_first_not_add_and_not_public_holding_point_area|floatformat:"2" }} 
        {% elif build.buildTypeUse == "增建-持分後坪數打對折" %}
          {{ build.get_after_add_holding_point_area|floatformat:"2" }}
        {% else %}
          {{ build.get_build_holding_point_area|floatformat:"2" }}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>

<script src="https://kit.fontawesome.com/6cbc1ff495.js"></script> 


  