<!-- 最終判定 -->
{% load urlify %}

<style>
  .regionalhead__table { border: 3px solid black; }
  .regionalhead__th { background-color: DeepSkyBlue; border: 1px solid black; text-align: center;} 
  .result__th { background-color: CornflowerBlue; border: 1px solid black; text-align: center;} 
  .case__th { background-color: Gainsboro; border: 1px solid black; text-align: center;} 
  .regionalhead__td { border: 1px dotted black; }
</style>

<!-- 測試樣版1 -->
<table class="regionalhead__table">
  <tr>
    <th class="regionalhead__th" colspan=6>最終判定</th>
    <th class="result__th" colspan=7>執行結果</th>
  </tr>
  <tr>
    <th class="regionalhead__th" rowspan=2>判定</th>
    <th class="regionalhead__th" rowspan=2>備註</th>
    <th class="regionalhead__th" rowspan=2>區域負責人</th>
    <th class="regionalhead__th" rowspan=2>副署人員1</th>
    <th class="regionalhead__th" rowspan=2>副署人員2</th>
    <th class="regionalhead__th" rowspan=2>一賣止日</th>
    <th class="result__th" rowspan=2>1.撤回</th>
    <th class="result__th" colspan=2>2.第三人搶標</th>
    <th class="result__th" colspan=3>3.得標</th>
    <th class="case__th" rowspan=2>標的編號</th>
  </tr>
  <tr>
    <th class="result__th">搶標拍別</th>
    <th class="result__th">搶標金額</th>
    <th class="result__th">等待優購</th>
    <th class="result__th">遭優購</th>
    <th class="result__th">無人優購</th>
  </tr>
  <tr>
    <th class="regionalhead__th">一拍進場</th>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
  </tr>
  <tr>
    <th class="regionalhead__th">二拍進場</th>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
  </tr>
  <tr>
    <th class="regionalhead__th">三拍進場</th>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
  </tr>
  <tr>
    <th class="regionalhead__th">四拍進場</th>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
  </tr>
  <tr>
    <th class="regionalhead__th">放棄</th>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
    <td class="regionalhead__td"></td>
  </tr>
</table>

<!-- 測試樣版2 -->
<!-- <table class="regionalhead__table">
  <tr>
    <th colspan=4>最終判定</th>
    <th colspan=6>執行結果</th>
  </tr>
  <tr>
    <th>判定</th>
    <th>區域負責人</th>
    <th>副署人員1</th>
    <th>副署人員2</th>
    <th>1.撤回</th>
    <th colspan=2>2.第三人搶標</th>
    <th colspan=2>3.得標</th>
    <th rowspan=3>標的編號</th>
  </tr>
  <tr>
    <td rowspan=2>判定</td>
    <td rowspan=2>區域負責人</td>
    <td rowspan=2>副署人員1</td>
    <td rowspan=2>副署人員2</td>
    <td rowspan=3>V</td>
    <th>2-1.搶標拍別</th>
    <td>VV</td>
    <th>3-1.等待優購</th>
    <td>VVV</td>
  </tr>
  <tr>
    <th>2-2.搶標金額</th>
    <td>VV</td>
    <th>3-2.遭優購</th>
    <td>VVV</td>
  </tr>
  <tr>
    <th>備註</th>
    <td colspan=3></td>
    <td colspan=2></td>
    <th>3-3.無人優購</th>
    <td>VVV</td>
    <td>TN004</td>
  </tr>
</table> -->


<!-- 測試樣版3 -->
<!-- <table class="regionalhead__table">
  <tr>
    <th class="regionalhead__th">結論</th>
    <th class="regionalhead__th">區域負責人</th>
    <td class="regionalhead__td"></td>
  </tr>
  <tr>
    <td class="regionalhead__td" rowspan="2"></td>

    刪除：副署人員1不可空格，且登入者需為區域負責人或是管理者
    <th class="regionalhead__th">副署人員1</th>
    <td class="regionalhead__td"></td>
  </tr>


  <tr>
    <th class="regionalhead__th">副署人員2</th>
    <td class="regionalhead__td"></td>
  </tr>
</table>
 -->