<!-- 土地 -->
{% load urlify %}

<style>
  .land__table { border: 3px solid black;}
  .land__th { background-color: Aquamarine; border: 1px solid black; text-align: center;} 
  .land__td { border: 1px dotted black; }
  .land__th__7 { width: 7%; }
  .land__th__10 { width: 10%; }
  .land__th__15 { width: 15%; }
</style>


<table class="land__table">
  <tr>
    {% if request.user == object.user %}
      <th class="land__th land__th__7">操作</th>
    {% endif %}
    <th class="land__th">地號</th>
    <th class="land__th land__th__10">地號<br>謄本</th>
    <th class="land__th land__th__15">地坪(面積)<br>平方公尺(坪)</th>
    <th class="land__th land__th__15">持分</th>
    <th class="land__th land__th__15">地坪(持分)<br>平方公尺(坪)</th>
  </tr>
  {% for land in object.lands.all %}
    <tr>
      {% if request.user == object.user %}
        <td class="land__td">
          <a href="{% url 'yfcase:land_update' object.id land.id %}" class="btn__icon__update">變更</a><br>
          <a href="{% url 'yfcase:land_delete' object.id land.id %}" class="btn__icon__delete">刪除</a>
        </td>
      {% endif %}
      <td class="land__td text-left">
        <div style="font-size:12pt;">
          {% if land.landNumber %}
            {{ object.yfcaseBigSection }}段{{ land.landNumber }}
          {% endif %}
        </div>
      </td>
      <td class="land__td">
        {% if land.landUrl != None %}
          <a href="{{ land.landUrl }}" target="_blank">
            <i class="fas fa-paperclip"></i>
          </a>
        {% endif %}
      </td>
      <td class="land__td">
        {% if land.landArea != 0 %}
          {{ land.landArea }} m<sup>2</sup><br> 
          ({{ land.landArea|m2toping|floatformat:"2" }} 坪)
        {% endif %}
      </td>
      <td class="land__td">
        {% if land.landHoldingPointPersonal > 0 and land.landHoldingPointAll > 0 %}
          <div style="margin: 0px 10px;">{{ land.landHoldingPointPersonal }}</div>
          <div style="border-top: 1px solid black;width:auto; display:inline-block !important; display:inline;padding:0px 10px;">{{ land.landHoldingPointAll }}</div>
        {% endif %}
      </td>
      <td class="land__td">
        {% if land.landHoldingPointPersonal > 0 and land.landHoldingPointAll > 0 %}
          {{ land.get_land_holding_point_area|floatformat:"2" }} m<sup>2</sup><br> 
          ({{ land.get_land_holding_point_area|m2toping|floatformat:"2" }} 坪)
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  
</table>
