<!-- 參考物件 -->
{% load humanize %}
{% load urlify %}

<style>
  .objectbuild__table { border: 3px solid black; }
  .objectbuild__th { width: 10%; background-color: Thistle; border: 1px solid black; text-align: center;} 
  .objectbuild__td { border: 1px solid black; }
</style>

<table class="objectbuild__table">
  {% for objectbuild in object.objectbuilds.all %}
    <tr>
      <th class="objectbuild__th">
        狀態
        <a href="{% url 'yfcase:objectbuild_update' object.id objectbuild.id %}">更新</a>
        <a href="{% url 'yfcase:objectbuild_delete' object.id objectbuild.id %}">刪除</a>
      </th>
      <th class="objectbuild__th">地址(屋齡)(樓高)(成立日期)</th>
      <th class="objectbuild__th">總價(元)</th>
      <th class="objectbuild__th">建坪(坪)</th>
      <th class="objectbuild__th">單價(元)</th>
      <th class="objectbuild__th">勘查員A</th>
      <th class="objectbuild__th">加成A</th>
      <th class="objectbuild__th">加成原因A</th>
      <th class="objectbuild__th">計算</th>
    </tr>
    <tr>
      <td class="objectbuild__td" rowspan=2>{{objectbuild.objectBuildStatus}}</td>
      <td class="objectbuild__td" rowspan=5>
        {{objectbuild.objectBuildAddress}}<br>
        {% if objectbuild.objectBuildHouseAge %}
          {{objectbuild.objectBuildHouseAge}}<br>
        {% endif %}
        {% if objectbuild.objectBuildFloorHeight %}
          {{objectbuild.objectBuildFloorHeight}}<br>
        {% endif %}
        {% if objectbuild.objectBuildTransactionDate %}
          {{ objectbuild.objectBuildTransactionDate }}
        {% endif %}
      </td>
      <td class="objectbuild__td" rowspan=5>
        {{ objectbuild.objectBuildTotalPrice|floatformat:0|intcomma }}
      </td>
      <td class="objectbuild__td" rowspan=5>
        {{ objectbuild.objectBuildBuildArea }}
      </td>
      <td class="objectbuild__td" rowspan=5>
        {{ objectbuild.get_objectbuild_ping_price|floatformat:0|intcomma }}
      </td>
      <td class="objectbuild__td">
        <a href="{% url 'yfcase:score_a_update' object.id objectbuild.id %}">更新</a>
        <a href="{% url 'yfcase:score_a_delete' object.id objectbuild.id %}">刪除</a>
        {{ objectbuild.objectBuildScorerA|default_if_none:"" }}
      </td>
      <td class="objectbuild__td">{% if objectbuild.objectBuildScorerA %}{{ objectbuild.get_a_plus_value|floatformat:"2" }}{% endif %}</td>
      <td class="objectbuild__td text-left">
        {% if objectbuild.plusItemA1 %}({{ objectbuild.plusValueA1 }}){{ objectbuild.plusItemA1 }}<br>{% endif %}
        {% if objectbuild.plusItemA2 %}({{ objectbuild.plusValueA2 }}){{ objectbuild.plusItemA2 }}<br>{% endif %}
        {% if objectbuild.plusItemA3 %}({{ objectbuild.plusValueA3 }}){{ objectbuild.plusItemA3 }}<br>{% endif %}
        {% if objectbuild.plusItemA4 %}({{ objectbuild.plusValueA4 }}){{ objectbuild.plusItemA4 }}<br>{% endif %}
        {% if objectbuild.plusItemA5 %}({{ objectbuild.plusValueA5 }}){{ objectbuild.plusItemA5 }}<br>{% endif %}
        {% if objectbuild.plusItemOtherA %}({{ objectbuild.plusValueOtherA }}){{ objectbuild.plusItemOtherA }}<br>{% endif %}
      </td>
      <td class="objectbuild__td" rowspan=5>
        {% if objectbuild.objectBuildTotalPrice >= 1000000 %}
          {{ objectbuild.get_objectbuild_ping_price_abc_calculation|floatformat:0 }}
        {% else %}
          {{ objectbuild.get_objectbuild_ping_price_ab_calculation|floatformat:0 }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <th class="objectbuild__th">勘查員B</th>
      <th class="objectbuild__th">加成B</th>
      <th class="objectbuild__th">加成原因B</th>
    </tr>
    <tr>
      <th class="objectbuild__th">現勘</th>
      <td class="objectbuild__td">
        <a href="{% url 'yfcase:score_b_update' object.id objectbuild.id %}">更新</a>
        <a href="{% url 'yfcase:score_b_delete' object.id objectbuild.id %}">刪除</a>
        {{ objectbuild.objectBuildScorerB|default_if_none:"" }}
      </td>
      <td class="objectbuild__td">{% if objectbuild.objectBuildScorerB %}{{ objectbuild.get_b_plus_value|floatformat:"2" }}{% endif %}      </td>
      <td class="objectbuild__td text-left">
        {% if objectbuild.plusItemB1 %}({{ objectbuild.plusValueB1 }}){{ objectbuild.plusItemB1 }}<br>{% endif %}
        {% if objectbuild.plusItemB2 %}({{ objectbuild.plusValueB2 }}){{ objectbuild.plusItemB2 }}<br>{% endif %}
        {% if objectbuild.plusItemB3 %}({{ objectbuild.plusValueB3 }}){{ objectbuild.plusItemB3 }}<br>{% endif %}
        {% if objectbuild.plusItemB4 %}({{ objectbuild.plusValueB4 }}){{ objectbuild.plusItemB4 }}<br>{% endif %}
        {% if objectbuild.plusItemB5 %}({{ objectbuild.plusValueB5 }}){{ objectbuild.plusItemB5 }}<br>{% endif %}
        {% if objectbuild.plusItemOtherB %}({{ objectbuild.plusValueOtherB }}){{ objectbuild.plusItemOtherB }}<br>{% endif %}
      </td>
    </tr>
    <tr>
      <td class="objectbuild__td" rowspan=2>
        {% if objectbuild.objectBuildUrl %}
          <a href="{{ objectbuild.objectBuildUrl }}" target="_blank">
            <i class="fas fa-globe-americas fa-3x"></i>
          </a>
        {% endif %}
      </td>
      {% if objectbuild.objectBuildTotalPrice >= 1000000 %}
        <th class="objectbuild__th">勘查員C</th>
        <th class="objectbuild__th">加成C</th>
        <th class="objectbuild__th">加成原因C</th>
      {% else %}
        <td class="objectbuild__th bg-dark"></td>
        <td class="objectbuild__th bg-dark"></td>
        <td class="objectbuild__th bg-dark"></td>
      {% endif %}
    </tr>
    <tr>
      {% if objectbuild.objectBuildTotalPrice >= 1000000 %}
        <td class="objectbuild__td">
          <a href="{% url 'yfcase:score_c_update' object.id objectbuild.id %}">更新</a>
          <a href="{% url 'yfcase:score_c_delete' object.id objectbuild.id %}">刪除</a>
          {{ objectbuild.objectBuildScorerC|default_if_none:"" }}
        </td>
        <td class="objectbuild__td">{% if objectbuild.objectBuildScorerC %}{{ objectbuild.get_c_plus_value|floatformat:"2" }}{% endif %}</td>
        <td class="objectbuild__td text-left">
          {% if objectbuild.plusItemC1 %}({{ objectbuild.plusValueC1 }}){{ objectbuild.plusItemC1 }}<br>{% endif %}
          {% if objectbuild.plusItemC2 %}({{ objectbuild.plusValueC2 }}){{ objectbuild.plusItemC2 }}<br>{% endif %}
          {% if objectbuild.plusItemC3 %}({{ objectbuild.plusValueC3 }}){{ objectbuild.plusItemC3 }}<br>{% endif %}
          {% if objectbuild.plusItemC4 %}({{ objectbuild.plusValueC4 }}){{ objectbuild.plusItemC4 }}<br>{% endif %}
          {% if objectbuild.plusItemC5 %}({{ objectbuild.plusValueC5 }}){{ objectbuild.plusItemC5 }}<br>{% endif %}
          {% if objectbuild.plusItemOtherC %}({{ objectbuild.plusValueOtherC }}){{ objectbuild.plusItemOtherC }}<br>{% endif %}
        </td>
      {% else %}
        <td class="objectbuild__td bg-dark"></td>
        <td class="objectbuild__td bg-dark"></td>
        <td class="objectbuild__td bg-dark"></td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
