{% extends "base.html" %}
{% load widget_tweaks %}

{% block head_title %}
  {{ title }}
{% endblock head_title %}

{% block style %}
  <style type="text/css">
    * { font-family: 'Roboto','Noto Sans TC', sans-serif;}
  </style>
{% endblock style %}


{% block content %}
<form method="POST" action="" enctype='multipart/form-data'>{% csrf_token %}
  <div class="container-sm border border-danger border-3 rounded mt-3 bg-light">
    <!-- 標題  -->
    <div class="row">
      <div class="col my-1">
        <div class="bg-danger fs-3 fw-bold text-white text-center p-2 rounded">
          {{ title }}
        </div>
      </div>
    </div>
    {{ form.objectBuildScorerB|attr:"type:hidden" }}
    {{ form.objectBuildScorRateB|attr:"type:hidden" }}
    {{ form.objectBuildScorReasonB|attr:"type:hidden" }}
    {{ form.plusItemB1|attr:"type:hidden" }}
    {{ form.plusItemB2|attr:"type:hidden" }}
    {{ form.plusItemB3|attr:"type:hidden" }}
    {{ form.plusItemB4|attr:"type:hidden" }}
    {{ form.plusItemB5|attr:"type:hidden" }}
    {{ form.plusItemOtherB|attr:"type:hidden" }}
    {{ form.plusValueB1|attr:"type:hidden" }}
    {{ form.plusValueB2|attr:"type:hidden" }}
    {{ form.plusValueB3|attr:"type:hidden" }}
    {{ form.plusValueB4|attr:"type:hidden" }}
    {{ form.plusValueB5|attr:"type:hidden" }}
    {{ form.plusValueOtherB|attr:"type:hidden" }}

    <br>
    <h4>你確定要刪除勘查者 "{{instance.objectBuildScorerB}}" 的評比 ?</h4>
    <br>

    <!-- footer -->
    <div class="row mt-3">
      <div class="col-md-6"></div>
      <div class="col-md-3 d-grid gap-2 my-1">
        <a href="{% url 'yfcase:yfcase_detail' instance_yfcase.id %}" class="btn btn-secondary form-control">返回</a>
      </div>
      <div class="col-md-3 d-grid gap-2 my-1">
        <input type="submit" class="col btn btn-danger form-control" value="刪除" onclick="set_value_empty()"/>
      </div>
    </div>

  </div>
</form>

  <!-- 為防止在運行jquery程式碼時出錯Uncaught ReferenceError: $ is not defined，所以要將jquery.min.js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
  <script>
    function set_value_empty() {
     $(function() {
       document.getElementById("id_objectBuildScorerB").value = "";
       document.getElementById("id_objectBuildScorRateB").value = 0;
       document.getElementById("id_objectBuildScorReasonB").value = "";
       document.getElementById("id_plusItemB1").value = "";
       document.getElementById("id_plusItemB2").value = "";
       document.getElementById("id_plusItemB3").value = "";
       document.getElementById("id_plusItemB4").value = "";
       document.getElementById("id_plusItemB5").value = "";
       document.getElementById("id_plusItemOtherB").value = "";
       document.getElementById("id_plusValueB1").value = 0;
       document.getElementById("id_plusValueB2").value = 0;
       document.getElementById("id_plusValueB3").value = 0;
       document.getElementById("id_plusValueB4").value = 0;
       document.getElementById("id_plusValueB5").value = 0;
       document.getElementById("id_plusValueOtherB").value = 0;
      });
    }
  </script>
{% endblock %}
