{% extends 'base.html' %}
{% load static %}
{% load urlify %}
{% block title %}Home{% endblock %}

{% block style %}
  <style>
    .home_title {
      color: red;
      text-align: center;
    }
    .home_table{
      width: 100%;
      border: 3px solid black;
    }
    .home_head{
      background-color: PaleTurquoise;
    }
    .home_head > tr > th {
      border: 1px solid black;
      border-bottom: 2px double;
      text-align: center;
    }

    .th_head_two { width: 29%; }
    .th_head_three { width: 16%; }
    .th_head_four { width: 7%; }
    .th_head_five { width: 9%; }
    .th_head_six { width: 11%; }
    .th_head_seven { width: 9%; }
    .th_head_eight { width: 9%; }
    .th_head_nine { width: 5%; }

    .home_body > tr > td { border: 1px dotted grey; text-align: center;}
    .text-mark { font-size: 10.5pt; background-color: yellow; font-weight: 700; }
    .text-address { font-size: 10pt; font-weight: 700; }
    .text-stopBuyDate { font-size: 9pt; background-color: yellow; font-weight: 700; }
    .home__input { width:400px; }
    .home__bg__red { background-color: red; color:white; font-weight: 700; }
    .home__bg__green { background-color: green; color:white; font-weight: 700; }
    /*.home__casenumber__td { width:14.2%; }*/

    .icon__pdf { font-size:14pt; font-weight:700;  line-height: 30px;  border:3px double DarkBlue;  border-radius:50%;  text-align:center;padding: 0px 2px; margin: 0px; color: white;text-decoration: none;}
    .icon__view { font-size:12pt; font-weight:700;  line-height: 30px;  border:3px double DarkBlue;  border-radius:5px;  text-align:center;padding: 0px 2px; margin: 0px; color: white;text-decoration: none;}
    .icon__yfratingscale { background-color: blue; }
    .icon__deedtax { background-color: red; }
    .icon__realestateregistration { background-color: green; }
    .icon__complaint { background-color: black; }
    .icon__letter { background-color: purple; }
    .icon__coowner { background-color: DarkOrange; }
    .icon__view__grey {background-color: lightgrey; color: black;}
    
  </style>
{% endblock style %}

{% block content %}

  <div class="row pt-3" >
    <div class="col pt-2">
      <p class="fs-2 text-center text-sm-start mt-1 pb-1 fw-bold">案件清單</p>
    </div>
    <div class="col-md-10">
      <form action="" method="GET" class="input-group mb-3 col">
        <input type="text" name="q" class="form-control border border-secondary" placeholder="模糊比對(案號、住址、負責人、最終判定...等)" aria-label="Recipient's username" aria-describedby="button-addon2" value='{{ request.GET.q }}'>
        <input type="submit" class="btn btn-primary" value="搜尋">
      </form>
    </div>
  </div>

  <div class="home_container">
    <table class="home_table">
      <thead class="home_head">
        <tr>
          {% if request.user.userFullName == '管理者' %}
            <th>操作</th>
          {% endif %}
          <th class="th_head_two" colspan="2">案號</th>
          <th class="th_head_three">兩週內<br><div class="text-mark">拍別(應買止日)</div></th>
          <th class="th_head_four">負責人</th>
          <th class="th_head_five">最終判定</th>
          <th class="th_head_six">執行結果</th>
          <th class="th_head_seven">優購結果</th>
          <th class="th_head_eight">標的編號</th>
        </tr>
      </thead>
      <tbody class="home_body">
        {% for yfcase in object_list %}
        <tr>
          {% if request.user.userFullName == '管理者' %}
            <td>
               <a href="{% url 'yfcase:yfcase_delete' yfcase.id %}">刪除</a>
            </td>
          {% endif %}
          <td style="text-align: left; text-decoration: none;padding: 0px 3px;">
            <div class="row">
              <div class="col align-middle">
                <a href="{% url 'yfcase:yfratingscalePDF_View' yfcase.pk %}?inline=" class="icon__pdf icon__yfratingscale">評</a>
              </div>
            </td>
            <td>
              <div class="text-start fw-bolder">
                <a href="{% url 'yfcase:yfcase_detail' yfcase.id %}" style="text-decoration: none;" >
                  {{yfcase.yfcaseCaseNumber}}
                  <br>
                  <div class="text-address text-secondary">
                     &emsp;&#10149;{{yfcase.fullAddress}}
                  </div>
                </a>
              </div>
            </div>
          </td>
          <td>
            <!-- 兩週內 -->
            {% if yfcase.get_auction_1st.auctionDateFirst %}
              {{ yfcase.get_auction_1st.auctionDateFirst|less_two_week:"1拍"|default_if_none:"" }}
            {% endif %}
            {% if yfcase.get_auction_2nd.auctionDateSecond %}
              {{ yfcase.get_auction_2nd.auctionDateSecond|less_two_week:"2拍"|default_if_none:"" }}
            {% endif %}
            {% if yfcase.get_auction_3rd.auctionDateThird %}
              {{ yfcase.get_auction_3rd.auctionDateThird|less_two_week:"3拍"|default_if_none:"" }}
            {% endif %}
            {% if yfcase.get_auction_4th.auctionDateFourth %}
              {{ yfcase.get_auction_4th.auctionDateFourth|less_two_week:"4拍"|default_if_none:"" }}
            {% endif %}
            <!-- 應買止日 -->
            {% for result in yfcase.get_result_stopBuyDate %}
              <div class="text-stopBuyDate">應買止日({{ result.stopBuyDate }})</div>
            {% endfor %} 
          </td>
          <td>{{ yfcase.user }}</td>
          <td>
            {% for finaldecision in yfcase.finaldecisions.all %}
              {{ finaldecision.finalDecision }}<br>
            {% endfor %}             
          </td>
          <td>
            {% for result in yfcase.results.all %}
              {% if result.actionResult == '等待優購' or result.actionResult == '遭優購' or result.actionResult == '無人優購' %}
                得標
              {% else %}
                {{ result.actionResult|default_if_none:"" }}
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for result in yfcase.results.all %}
              {% if result.actionResult == '等待優購' or result.actionResult == '遭優購' or result.actionResult == '無人優購' %}
                {{ result.actionResult }}
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for result in yfcase.results.all %}
              {{ result.objectNumber|default_if_none:"" }}
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "pagination.html" %}
  </div>

{% endblock %}

