{% extends 'base.html' %}
{% load urlify %}
{% block title %}Home{% endblock %}

{% block style %}
  <style>
    .home_title {
      color: red;
      text-align: center;
    }
    .home_table{
      border: 3px solid black;
    }
    .home_head{
      background-color: PaleTurquoise;
    }
    .home_head > tr > th {
      border: 1px solid black;
      border-bottom: 2px double;
      text-align: center;
    }
    th:nth-child(1) { width: 5%; }  
    th:nth-child(2) {  }
    th:nth-child(3) { width: 16%; }
    th:nth-child(4) { width: 7%; }
    th:nth-child(5) { width: 9%; }
    th:nth-child(6) { width: 11%; }
    th:nth-child(7) { width: 9%; }
    th:nth-child(8) { width: 9%; }
    th:nth-child(9) { width: 5%; }


    .home_body > tr > td { border: 1px dotted grey; }
    .text-mark { font-size: 10.5pt; background-color: yellow; font-weight: 700; }
    .text-stopBuyDate { font-size: 9pt; font-weight: 700; }

    td:nth-child(1) { text-align: center; }
    td:nth-child(2) { text-align: left; text-decoration: none;}
    td:nth-child(2) > a { text-decoration: none;}
    td:nth-child(3) { text-align: center; }
    td:nth-child(4) { text-align: center; }
    td:nth-child(5) { text-align: center; }
    td:nth-child(6) { text-align: center; }
    td:nth-child(7) { text-align: center; }
    td:nth-child(8) { text-align: center; }
    td:nth-child(9) { text-align: center; }
  </style>
{% endblock style %}

{% block content %}
  <div class="home_title">
    <h1>案件清單</h1>
  </div>
  <div class="home_container">
    <table class="home_table">
      <thead class="home_head">
        <tr>
          <th>操作</th>
          <th>案號</th>
          <th>兩週內<br><div class="text-mark">拍別(一賣止日)</div></th>
          <th>負責人</th>
          <th>最終判定</th>
          <th>執行結果</th>
          <th>優購結果</th>
          <th>標的編號</th>
          <th>狀態</th>
        </tr>
      </thead>
      <tbody class="home_body">
        {% for yfcase in object_list %}
        <tr>
          <td>
             <a href="{% url 'yfcase:yfcase_delete' yfcase.id %}">刪除</a>
          </td>
          <td>
            <a href="{% url 'yfcase:yfcase_detail' yfcase.id %}" >
              {{yfcase.yfcaseCaseNumber}}
              <br>
              &emsp;&#10149;{{yfcase.fullAddress}}
            </a>
          </td>
          <td>
            <!-- 兩週內 -->
            {% if yfcase.get_auction_1st.auctionDateFirst %}
              1拍{{ yfcase.get_auction_1st.auctionDateFirst|less_two_week }}
            {% endif %}
            {% if yfcase.get_auction_2nd.auctionDateSecond %}
              2拍{{ yfcase.get_auction_2nd.auctionDateSecond|less_two_week }}
            {% endif %}
            {% if yfcase.get_auction_3rd.auctionDateThird %}
              3拍{{ yfcase.get_auction_3rd.auctionDateThird|less_two_week }}
            {% endif %}
            {% if yfcase.get_auction_4th.auctionDateFourth %}
              4拍{{ yfcase.get_auction_4th.auctionDateFourth|less_two_week }}
            {% endif %}
            <!-- 買止日 -->
            {% for result in yfcase.get_result_stopBuyDate %}
              <div class="text-stopBuyDate">一買止日({{ result.stopBuyDate }})</div>
            {% endfor %} 
          </td>
          <td>{{ yfcase.user }}</td>
          <td>
            {% for finaldecision in yfcase.finaldecisions.all %}
              {{ finaldecision.finalDecision }}<br>
            {% endfor %} 
          </td>
          <td>
            {% for result in yfcase.results.all %}
              {% if result.actionResult == '等待優購' or result.actionResult == '遭優購' or result.actionResult == '無人優購' %}
                得標
              {% else %}
                {{ result.actionResult }}
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for result in yfcase.results.all %}
              {% if result.actionResult == '等待優購' or result.actionResult == '遭優購' or result.actionResult == '無人優購' %}
                {{ result.actionResult }}
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for result in yfcase.results.all %}
              {{ result.objectNumber }}
            {% endfor %}
          </td>
          <td>
            {% for result in yfcase.results.all %}
              {{ result.caseStatus }}
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

