<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    {% if object_list.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}
    {% for pages in object_list.paginator.page_range %}
    {% if object_list.number == pages %}
    <li class="page-item active">
      <a class="page-link" href="?page={{pages}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
        {{pages}}
        <span class="sr-only">
          (current)
        </span>
      </a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="?page={{pages}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
        {{pages}}
      </a>
    </li>
    {% endif %}
    {% endfor %}
    {% if object_list.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
<div class="pagination">
  <span class="step-links">
    {% if object_list.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
    {% endif %}
    {% for num in object_list.paginator.page_range %}
    {% if object_list.number == num %}
    <a class="page-link" href="?page={{pages}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
      {{num}}
    </a>
    {% elif num > object_list.number|add:'-3' and num < object_list.number|add:'3' %} <a class="page-link" href="?page={{pages}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
      {{num}}
      </a>
      {% endif %}
      {% endfor %}
      {% if object_list.has_next %}
      <li class="page-item">
        <a href="?page={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
          <span aria-hidden="true">下一頁</span>
      </li>
      {% endif %}
  </span>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    {% if object_list.has_previous %}
    <li class="page-item disabled">
      <a class="page-link" href="?page={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">上一頁</span>
      </a>
    </li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>