{% load static %}
{% load urlify %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto&display=swap" rel="stylesheet">
  <title>共有人清單</title>
  {% block style %}
  <style type="text/css">
    body {
      font-family: 'Noto Sans TC', 'Roboto',sans-serif;
    }
    .help-block{
      color:red;
    }
    .coowner__table { border-collapse: collapse;}
    .coowner__table th { border: 1px solid black; background-color: yellow;padding: 0px;text-align: center;}
    .coowner__table .coowner__td{ border: 1px solid black;text-align: center; }

    .coownerheir__table  { border-collapse: collapse;width: 100%;}
    .coownerheir__table th {border: 1px solid black; background-color: lightgreen;padding: 0px;text-align: center;font-size: 10pt;}
    .coownerheir__table td { border: 1px solid black; font-size: 10pt;text-align: center;}
    .coowner__table td.text-left { text-align: left; }

    .btn__icon__create { background-color: MediumBlue; border:2px solid darkgrey; border-radius: 5px; padding:2px 7px; font-weight: 500; color:white; text-decoration:none; }
    .btn__icon__update { background-color: DarkGreen; border:2px solid darkgrey; border-radius: 5px; padding:2px 7px; font-weight: 500; color:white; text-decoration:none; }
    .btn__icon__delete { background-color: DarkRed; border:2px solid darkgrey; border-radius: 5px; padding:2px 7px; font-weight: 500; color:white; text-decoration:none; }
    
    /*以下開始*/
    .coowner__title { text-align:center;padding:0px;margin:0px;font-size:28pt;}
    .coowner__subtitle {text-align:right;font-size:16pt;padding:0px;margin:0px;}
    .cowner__people__table{ width:100%; font-size:18pt;}
    .cowner__people__table td.cowner__people__type { width:20%;letter-spacing:2em; }
    .cowner__people__table td.cowner__people__name { width:20%; }
    
    .coowner__attachment__table__one,.coowner__attachment__table__two { width:100%;border-collapse: collapse;}
    .coowner__attachment__table__one td,
    .coowner__attachment__table__two th,
    .coowner__attachment__table__two td {border: 1px solid black;}
  </style>
{% endblock style %}
</head>
<body>

  <div class="coowner__title">臺灣臺南地方法院臺南簡易庭民事判決</div>
  <div class="coowner__subtitle">108年度南簡字第1460號</div>
  
  <div class="coowner__attachment__title">附表二</div>
  <table class="coowner__attachment__table__two">
    <tr>
      <th>編號</th>
      <th>共有人</th>
      <th>應用部份比例</th>
      <th>應負擔之訴訟費用比例</th>
      <th>備註</th>
    </tr>
    {% if yfcase.yfcaseCownerAgent %}
      <tr>
        <td>1</td>
        <td>原告{{ yfcase.yfcaseCownerAgent }}</td>
        <td>{{yfcase.yfcasecoOwnerLandHPAll}}分之{{yfcase.yfcasecoOwnerLandHPPersonnal}}<br></2></td>
        <td>{{yfcase.yfcasecoOwnerBuildHPAll}}分之{{yfcase.yfcasecoOwnerBuildHPPersonnal}}<br></td>
        <td></td>
      </tr>
    {% endif %}
    {% if coowners.count > 0 %}
      {% for coownerinfo in coowners.all %}
        <tr>
          <td>
            {{coowners.all|times:coownerinfo.coOwnerName}}
          </td>
          <td>
            {% if coownerinfo.coOwnerLifeOrDie == "存" %}
              被告{{coownerinfo.coOwnerName}}
            {% else %}
              {% for coownerheir in coownerinfo.coownerheirs.all %}
                {% if coownerheir.coOwnerHeirLifeOrDie == "存" %}
                  被告{{coownerheir.coOwnerHeirName}}<br>
                {% endif %}
                {% for coownerlitigation in coownerheir.coownerlitigations.all %}
                  {% if coownerlitigation.coOwnerLitigationLifeOrDie == "存" %}
                    被告{{coownerlitigation.coOwnerLitigationName}}<br>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% endif %}
          </td>
          <td>
            {{coownerinfo.coOwnerLandHPAll}}分之{{coownerinfo.coOwnerLandHPPersonnal}}<br>
            {% if coownerinfo.coownerheirs.count > 0 %}
              (公同共有)
            {% endif %}
          </2></td>
          <td>
            {{coownerinfo.coOwnerBuildHPAll}}分之{{coownerinfo.coOwnerBuildHPPersonnal}}<br>
            {% if coownerinfo.coownerheirs.count > 0 %}
              (連帶負擔)
            {% endif %}
          </td>
          <td>
            {% if coownerinfo.coownerheirs.count > 0 %}
              原共有人{{coownerinfo.coOwnerName}}
            {% endif %}
            
          </td>
        </tr>

      {% endfor %}
    {% endif %}
    
  </table>
  
  
  
  <div class="coowner__attachment__title">附表一</div>
  <table class="coowner__attachment__table__one">
    <tr>
      <td rowspan=2>編號</td>
      <td colspan=5>土地坐落</td>
      <td rowspan=2>地目</td>
      <td>面積</td>
      <td rowspan=2>權利範圍</td>
    </tr>
    <tr>
      <td>縣市</td>
      <td>鄉鎮市區</td>
      <td>段</td>
      <td>小段</td>
      <td>地號</td>
      <td>平方公尺</td>
    </tr>
    <tr>
      <td>1</td>
      <td>{{yfcase.yfcaseCity|default_if_none:""}}</td>
      <td>{{yfcase.yfcaseTownship|default_if_none:""}}</td>
      <td>{{yfcase.yfcaseBigSection|default_if_none:""}}</td>
      <td>{{yfcase.yfcaseSmallSection|default_if_none:""}}</td>
      <td>
        {% for land in yfcase.lands.all %}
          {{land.landNumber|default_if_none:""}}<br>
        {% endfor %}
      </td>
      <td>建</td>
      <td>
        {% if yfcase.builds.count > 0 %}
          {{ yfcase.get_build_holding_point_after_group_total|floatformat:"2"|default_if_none:"" }}
        {% endif %}
      </td>
      <td>全部</td>
    </tr>
  </table>
  
  <br>
  
  <table class="coowner__attachment__table__two">
    <tr>
      <td rowspan=2>編號</td>
      <td rowspan=2>建號</td>
      <td rowspan=2>基地坐落</td>
      <td rowspan=2>建物門牌</td>
      <td rowspan=2>建築式樣主<br>要建築材料<br>及房屋基數</td>
      <td colspan=2>建物面積(平方公尺)</td>
      <td rowspan=2>權利範圍</td>
      <td rowspan=2>備考</td>
    </tr>
    <tr>
      <td>樓層面積</td>
      <td>附屬建物<br>主要建築材料<br>及用途</td>
    </tr>
    <tr>
      <td>1</td>
      <td>
        {% for build in yfcase.builds.all %}
          {{build.buildNumber}}<br>
        {% endfor %}
      </td>
      <td>
        {{ yfcase.yfcaseCity|default_if_none:""}}{{ yfcase.yfcaseTownship|default_if_none:""}}{{ yfcase.yfcaseBigSection|default_if_none:""}}
        {% for land in yfcase.lands.all %}
          {{land.landNumber}}地號<br>
        {% endfor %}

      </td>
      <td>{{yfcase.fullAddress}}</td>
      <td>
        {{ yfcase.yfcaseDeedtaxBuildingTransferStructure1|default_if_none:"" }}
      </td>
      <td>
        {% if yfcase.yfcaseDeedtaxBuildingTransferArea1 %}
          一層：{{ yfcase.yfcaseDeedtaxBuildingTransferArea1 }}<br>
        {% endif %}
        {% if yfcase.yfcaseDeedtaxBuildingTransferArea2 %}
          二層：{{ yfcase.yfcaseDeedtaxBuildingTransferArea2 }}<br>
        {% endif %}
        {% if yfcase.yfcaseDeedtaxBuildingTransferArea3 %}
          三層：{{ yfcase.yfcaseDeedtaxBuildingTransferArea3 }}<br>
        {% endif %}
        {% if yfcase.yfcaseDeedtaxBuildingTransferArea4 %}
          四層：{{ yfcase.yfcaseDeedtaxBuildingTransferArea4 }}<br>
        {% endif %}
        {% if yfcase.yfcaseDeedtaxBuildingTransferArea5 %}
          五層：{{ yfcase.yfcaseDeedtaxBuildingTransferArea5 }}<br>
        {% endif %}
        {% if yfcase.yfcaseDeedtaxBuildingTransferArea6 %}
          六層：{{ yfcase.yfcaseDeedtaxBuildingTransferArea6 }}<br>
        {% endif %}
        總面積：70.58
      </td>
      <td>面積：9.25</td>
      <td>全部</td>
      <td></td>
    </tr>
  </table>
  
  
  <table class="cowner__people__table">
    <tr>
      <td class="cowner__people__type">原告</td>
      <td class="cowner__people__name">{{ yfcase.yfcaseCownerAgent }}</td>
      <td class="cowner__people__info">
        <span>住{{ yfcasecowneragent.userCountry|default_if_none:""}}{{ yfcasecowneragent.userTownship|default_if_none:""}}{{ yfcasecowneragent.userVillage|default_if_none:""}}{{ yfcasecowneragent.userNeighbor|default_if_none:""}}{{ yfcasecowneragent.userStreet|default_if_none:""}}{{ yfcasecowneragent.userSection|default_if_none:""}}{{ yfcasecowneragent.userLane|default_if_none:""}}{{ yfcasecowneragent.userAlley|default_if_none:""}}{{ yfcasecowneragent.userNumber|default_if_none:""}}{{ yfcasecowneragent.userFloor|default_if_none:""}}</span>
      </td>
      
    </tr>
    <tr>
      <td colspan=2></td>
      <td>身分證統一編號：{{ yfcasecowneragent.userIdentityCard}}號</td>
    </tr>
    {% for coownerinfo in coowners.all %}
      {% if coownerinfo.coOwnerLifeOrDie == "存" %}
        <tr>
          <td class="cowner__people__type">被告</td>
          <td colspan=2>{{coownerinfo.coOwnerName}}</td>
        </tr>
        <tr>
          <td colspan=2></td>
          <td>
            住{{coownerinfo.coOwnerAddress}}<br>
            身份證統一編號：{{coownerinfo.coOwnerIdentityCard}}號
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    
    {% for coownerinfo in coowners.all %}
      {% if coownerinfo.coownerheirs.count > 0 %}
        {% for coownerheir in coownerinfo.coownerheirs.all %}
          {% if coownerheir.coOwnerHeirLifeOrDie == "存" %}
            <tr>
              <td class="cowner__people__type">被告</td>
              <td colspan=2>{{coownerheir.coOwnerHeirName}}即{{coownerinfo.coOwnerName}}之繼承人</td>
            </tr>
            <tr>
              <td colspan=2></td>
              <td>
                住{{coownerheir.coOwnerHeirAddress}}<br>
                身份證統一編號：{{coownerheir.coOwnerHeirIdentityCard}}號
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    
    {% for coownerinfo in coowners.all %}
      {% if coownerinfo.coownerheirs.count > 0 %}
        {% for coownerheir in coownerinfo.coownerheirs.all %}
          {% if coownerheir.coownerlitigations.count > 0 %}
            {% for coownerlitigation in coownerheir.coownerlitigations.all %}
              {% if coownerlitigation.coOwnerLitigationLifeOrDie == "存" %}
                <tr>
                  <td class="cowner__people__type">被告</td>
                  <td colspan=2>{{coownerlitigation.coOwnerLitigationName}}即{{coownerheir.coOwnerHeirName}}之承受訴訟人即{{coownerinfo.coOwnerName}}之繼承人</td>
                </tr>
                <tr>
                  <td colspan=2></td>
                  <td>
                    住{{coownerlitigation.coOwnerLitigationAddress}}<br>
                    身份證統一編號：{{coownerlitigation.coOwnerLitigationIdentityCard}}號
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </table>

  
  
  
  
  
  
  
  {% if coowners.count > 0 %} 
    <table class="coowner__table">
      <tr>
        <th rowspan="2">姓名</th>
        <th rowspan="2">住址</th>
        <th colspan="2">地號持分</th>
        <th colspan="2">建號持分</th>
        <th rowspan="2">存/殁</th>
      </tr>
      <tr>
        <th>個人</th>
        <th>所有</th>
        <th>個人</th>
        <th>所有</th>
      </tr>
      {% for coownerinfo in coowners.all %}
        <tr>
          <td class="coowner__td">{{coownerinfo.coOwnerName}}</td>
          <td class="coowner__td text-left">{{coownerinfo.coOwnerAddress|default_if_none:""}}</td>
          <td class="coowner__td">{{coownerinfo.coOwnerLandHPPersonnal}}</td>
          <td class="coowner__td">{{coownerinfo.coOwnerLandHPAll}}</td>
          <td class="coowner__td">{{coownerinfo.coOwnerBuildHPPersonnal}}</td>
          <td class="coowner__td">{{coownerinfo.coOwnerBuildHPAll}}</td>
          <td class="coowner__td">{{coownerinfo.coOwnerLifeOrDie|default_if_none:""}}</td>
        </tr>
        {% if coownerinfo.coownerheirs.count > 0 %}
          <tr>
            <td></td>
            <td colspan=6>
              <table class="coownerheir__table">
                <tr>
                  <th rowspan="2">(順位)姓名</th>
                  <th rowspan="2">住址</th>
                  <th colspan="2">地號持分</th>
                  <th colspan="2">建號持分</th>
                  <th rowspan="2">存/殁</th>
                </tr>
                <tr>
                  <th>個人</th>
                  <th>所有</th>
                  <th>個人</th>
                  <th>所有</th>
                </tr>
                {% for coownerheir in coownerinfo.coownerheirs.all %}
                  <tr>
                    <td>
                      ({{coownerheir.coOwnerHeirIdentityCard}})
                      {{coownerheir.coOwnerHeirName}}<br>
                      {{coownerheir.coOwnerHeirName}}即{{coownerinfo.coOwnerName}}之繼承人
                    </td>
                    <td class="text-left">{{coownerheir.coOwnerHeirAddress|default_if_none:""}}</td>
                    <td>{{coownerheir.coOwnerHeirLandHPPersonnal}}</td>
                    <td>{{coownerheir.coOwnerHeirLandHPAll}}</td>
                    <td>{{coownerheir.coOwnerHeirBuildHPPersonnal}}</td>
                    <td>{{coownerheir.coOwnerHeirBuildHPAll}}</td>
                    <td>{{coownerheir.coOwnerHeirLifeOrDie|default_if_none:""}}</td>
                  </tr>
                  {% if coownerheir.coownerlitigations.count > 0 %}
                    <tr>
                      <td></td>
                      <td colspan=6>
                        <table class="coownerheir__table">
                          <tr>
                            <th rowspan="2">(順位)姓名</th>
                            <th rowspan="2">住址</th>
                            <th colspan="2">地號持分</th>
                            <th colspan="2">建號持分</th>
                            <th rowspan="2">存/殁</th>
                          </tr>
                          <tr>
                            <th>個人</th>
                            <th>所有</th>
                            <th>個人</th>
                            <th>所有</th>
                          </tr>
                          {% for coownerlitigation in coownerheir.coownerlitigations.all %}
                            <tr>
                              <td>
                                ({{coownerlitigation.coOwnerLitigationIdentityCard}})
                                {{coownerlitigation.coOwnerLitigationName}}<br>
                                {{coownerlitigation.coOwnerLitigationName}}即{{coownerheir.coOwnerHeirName}}之承受訴訟人即{{coownerinfo.coOwnerName}}之繼承人
                                
                              </td>
                              <td class="text-left">{{coownerlitigation.coOwnerLitigationAddress|default_if_none:""}}</td>
                              <td>{{coownerlitigation.coOwnerLitigationLandHPPersonnal}}</td>
                              <td>{{coownerlitigation.coOwnerLitigationLandHPAll}}</td>
                              <td>{{coownerlitigation.coOwnerLitigationBuildHPPersonnal}}</td>
                              <td>{{coownerlitigation.coOwnerLitigationBuildHPAll}}</td>
                              <td>{{coownerlitigation.coOwnerLitigationLifeOrDie|default_if_none:""}}</td>
                             
                            </tr>
                          {% endfor %}
                        </table>
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </table>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  {% endif %}
  
  上列當事人間請求分割共有物事件，經本院與民國109年5月27日言論辯論終結，判決如下：
被告  所有如附表一所示之土地及建物(應有部分均6分之1)辦理繼承登記

被告李威震、李乾暉應就被繼承人李瑞鏗所有如附表一所示之土地及建物(應有部份均6分之1)辦理繼承登記

兩造有如附表一所示之土地及建物，應予變價分割，變賣所得價金和附表二所示之應有部分比例分配

訴訟費用由兩造案附表二所示應負擔訴訟費用之比例負擔

事實及理由
壹、程序方面：
一、按分割共有物為固有必要共同訴訟，應由原告以及其他共有人全體為被告，當事人始適格。次按訴訟送達後，原告不得將原訴變更或追加他訴，但請求之基礎事實同一者，該訴訟標的對於數人必須合一確定時，追加其原非當事人之人為當事人者，和不甚礙被告之防禦及訴訟之終結者，不在此限，民事訴訟法第225條第1項第2、5、7款分別定有明文，復按當事人死亡者，訴訟程序在有繼承人、遺產管理人或其他依法令應續行訴訟之人承受其訴訟之前當然停止，當事人喪失訴訟能力或法定代理人死亡或其代理權消滅者，訴訟程序在有法定代理人或取得訴訟能力之本人承受其訴訟以前當然停止。但有訴訟代理人時不適用之，又第168條至第172條及前條所定之承受訴訟人，於得為承受時，應即為承受之聲明，他造當事人，亦聲明承受訴訟。聲明承受訴訟，應提出書狀於受訴法院，由法院送達於他造，民事訴訟法第168條、第170條、第173條、第175條第1、2項及第176條分別定有明文。另原告於判決確定前，得撤回訴之全部或一部，訴之撤回應以書狀為之，但於期日，得以言詞向法院或受命法官為之，民事訴訟法第262條第1項前段、第2項亦定有明文。本件原告起訴請求分割兩造共有如附表一所示之土地及建物(下稱系爭房地)



  
  
  
  

</body>
</html>