{% load static %}
{% load urlify %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!--  <meta charset="UTF-8"> -->
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap" rel="stylesheet">
  <title>存證信函狀</title>
  
  <style type="text/css">
    body {
      font-family: 'Noto Sans TC', sans-serif;
    }
    .page-break {
      page-break-before: always;
    }
    
    /*以下為新格式運用*/
    #letterPDF {
      border-collapse: collapse;
    }
    #letterPDF td {
      border: 1px solid black;
    }
    #letterPDF #letterPDFPaper {
      border: none;
    }
    #letterPDFPostOffice {
      border-collapse: collapse;
      width: 100%;
    }
    #letterPDFPostOffice td {
      border: none;
      height: 70px;
      text-align: right;
      padding-right: 10px;
      vertical-align: top;
      font-size:18pt;
    }
    
    #letterPDFInfo {
      border-collapse: collapse;
      width: 100%;
      line-height:20px;
    }
    #letterPDFInfo td {
      border: none;
      font-size: 12pt;
      padding: 5px 0px 5px 5px;
    }
    
    #letterPDFRemark,
    #letterPDFContent {
      border-collapse: collapse;
      width: 100%;
      line-height:20px;
    }
    #letterPDFRemark td {
      border: none;
      font-size: 13pt;
      padding: 3px 0px 3px 15px;
    }

    #letterPDFContent td {
      border: none;
      vertical-align: top;
      font-size: 12pt;
    }
    
    #letterPDFPaper {
      width: 7%;
      font-size: 14pt;
      text-align: center;
      vertical-align: top;
      padding-top: 20px;
    }
    .lettertdTitle {
      padding: 0px;
      margin: 0px;
      text-align: center;
      font-size: 14pt;
      width: 40px;
      height: 50px;
      line-height:20px;
    }
    .lettertd {
      padding: 0px;
      margin: 0px;
      text-align: center;
      font-size: 24pt;
      width: 40px;

    }
    
    .letterPDFAttachment {
      border-collapse: collapse;
      width: 100%;
      font-size: 30px;
    }
    .letterPDFAttachment td {
      font-size: 14.5pt;
      padding: 5px;
    }
    .letterPDFAttachment th {
      font-size: 14.5pt;
    }
    .bluefont {
      color: blue;
      font-weight: bolder;
    }

  </style>
</head>

<body>
    
  <div style="text-align:center;padding-bottom:10px;font-size:22pt;">
    <b>郵  局  存  證  信  函  用  紙</b>
  </div>
  
  <table id="letterPDF">
    <tr>
      <td rowspan="16" id="letterPDFPaper">
        副&thinsp;正<br />
        本
      </td>
      <td colspan="7">
        <table id="letterPDFPostOffice">
          <tr>
            <td colspan="2">郵 局</td>
          </tr>
          <tr>
            <td style="width: 55%;">存證信函第</td>
            <td>號</td>
          </tr>
        </table>
      </td>
      <td colspan="14">
        <table id="letterPDFInfo">
          <tr>
            <td colspan="2" style="padding-left: 10px; font-size: 10pt;">
              〈寄件人如為機關、團體、學校、公司、商號請加蓋單位圖章及法定代理人簽名或蓋章〉
            </td>
          </tr>
          <tr>
            <td rowspan="2" style="width: 20%;">一、寄件人</td>
            <td style="padding: 0px;">
              <table>
                <tr>
                  <td>姓名：{{ yfcase.yfcaseLetterSender|default_if_none:"" }}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                  </td>
                  <td style="margin: 0px; padding: 0px 5px; border: 1px solid black;">印</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              {% if yfcase.yfcaseLetterSender == '揚富開發有限公司' %}
                詳細地址：臺中市大里區新仁路三段49號
              {% elif yfcase.yfcaseLetterSender == '鉅鈦開發有限公司' %}
                詳細地址：臺中市大里區新仁路三段72巷3號1樓
              {% else %}
                詳細地址：
              {% endif %}
            </td>
          </tr>
          <tr>
            <td rowspan="2">二、收件人</td>
            <td>姓名：詳參附表</td>
          </tr>
          <tr>
            <td>詳細地址：詳參附表</td>
          </tr>
          <tr>
            <td rowspan="2">
              三、副&emsp;本<br />
              &emsp;&emsp;收件人
            </td>
            <td>姓名：</td>
          </tr>
          <tr>
            <td>詳細地址</td>
          </tr>
          <tr>
            <td colspan="2" style="padding-left: 10px;">(本欄姓名、地址不敷填寫時，請另紙聯記)</td>
          </tr>
        </table>
      </td>
    </tr>
    <!--標題-->
    <tr>
      <td class="lettertdTitle">
        <p style="margin: 0px; padding: 3px; text-align: right;">格</p>
        <p style="margin: 0px; padding: 3px; text-align: left;">行</p>
      </td>
      <td class="lettertdTitle">1</td>
      <td class="lettertdTitle">2</td>
      <td class="lettertdTitle">3</td>
      <td class="lettertdTitle">4</td>
      <td class="lettertdTitle">5</td>
      <td class="lettertdTitle">6</td>
      <td class="lettertdTitle">7</td>
      <td class="lettertdTitle">8</td>
      <td class="lettertdTitle">9</td>
      <td class="lettertdTitle">10</td>
      <td class="lettertdTitle">11</td>
      <td class="lettertdTitle">12</td>
      <td class="lettertdTitle">13</td>
      <td class="lettertdTitle">14</td>
      <td class="lettertdTitle">15</td>
      <td class="lettertdTitle">16</td>
      <td class="lettertdTitle">17</td>
      <td class="lettertdTitle">18</td>
      <td class="lettertdTitle">19</td>
      <td class="lettertdTitle">20</td>
    </tr>
  
    <!--第一行-->
    <tr>
      <td class="lettertdTitle">一</td>
      <td class="lettertd">敬</td>
      <td class="lettertd">啟</td>
      <td class="lettertd">者</td>
      <td class="lettertd">：</td>
      <td class="lettertd">收</td>
      <td class="lettertd">信</td>
      <td class="lettertd">平</td>
      <td class="lettertd">安</td>
      <td class="lettertd">。</td>
      <td class="lettertd">關</td>
      <td class="lettertd">於</td>
      <td class="lettertd bluefont">{{ yfcase.yfcaseLetterSender|slice:"0:1"|default_if_none:"" }}</td>
      <td class="lettertd bluefont">{{ yfcase.yfcaseLetterSender|slice:"1:2"|default_if_none:"" }}</td>
      <td class="lettertd">開</td>
      <td class="lettertd">發</td>
      <td class="lettertd">有</td>
      <td class="lettertd">限</td>
      <td class="lettertd">公</td>
      <td class="lettertd">司</td>
      <td class="lettertd">與</td>
    </tr>
  
    <!--第二行-->
    <tr>
      <td class="lettertdTitle">二</td>
      <td class="lettertd">台</td>
      <td class="lettertd">端</td>
      <td class="lettertd">間</td>
      <td class="lettertd">共</td>
      <td class="lettertd">有</td>
      <td class="lettertd">[</td>
      <td class="lettertd">附</td>
      <td class="lettertd">表</td>
      <td class="lettertd">]</td>
      <td class="lettertd">所</td>
      <td class="lettertd">示</td>
      <td class="lettertd">不</td>
      <td class="lettertd">動</td>
      <td class="lettertd">產</td>
      <td class="lettertd">，</td>
      <td class="lettertd">為</td>
      <td class="lettertd">解</td>
      <td class="lettertd">決</td>
      <td class="lettertd">共</td>
      <td class="lettertd">有</td>
    </tr>
  
    <!--第三行-->
    <tr>
      <td class="lettertdTitle">三</td>
      <td class="lettertd">權</td>
      <td class="lettertd">屬</td>
      <td class="lettertd">複</td>
      <td class="lettertd">雜</td>
      <td class="lettertd">致</td>
      <td class="lettertd">不</td>
      <td class="lettertd">利</td>
      <td class="lettertd">長</td>
      <td class="lettertd">期</td>
      <td class="lettertd">規</td>
      <td class="lettertd">劃</td>
      <td class="lettertd">使</td>
      <td class="lettertd">用</td>
      <td class="lettertd">問</td>
      <td class="lettertd">題</td>
      <td class="lettertd">，</td>
      <td class="lettertd">歡</td>
      <td class="lettertd">迎</td>
      <td class="lettertd">您</td>
      <td class="lettertd">於</td>
    </tr>

    <!--第四行-->
    <tr>
      <td class="lettertdTitle">四</td>
      <td class="lettertd">十</td>
      <td class="lettertd">日</td>
      <td class="lettertd">內</td>
      <td class="lettertd">與</td>
      <td class="lettertd bluefont">{{ yfcase.yfcaseLetterSender|slice:"0:1"|default_if_none:"" }}</td>
      <td class="lettertd bluefont">{{ yfcase.yfcaseLetterSender|slice:"1:2"|default_if_none:"" }}</td>
      <td class="lettertd">開</td>
      <td class="lettertd">發</td>
      <td class="lettertd">有</td>
      <td class="lettertd">限</td>
      <td class="lettertd">公</td>
      <td class="lettertd">司</td>
      <td class="lettertd bluefont">{{ yfcase.yfcaseLetterAgent|slice:"0:1"|default_if_none:"" }}</td>
      <td class="lettertd bluefont">{{ yfcase.yfcaseLetterAgent|slice:"1:2"|default_if_none:"" }}</td>
      <td class="lettertd bluefont">{{ yfcase.yfcaseLetterAgent|slice:"2:3"|default_if_none:"" }}</td>
      <td class="lettertd">先</td>
      <td class="lettertd">生</td>
      <td class="lettertd">(</td>
      <td class="lettertd bluefont">{{ letter_agent_phone|slice:"0:1"|default_if_none:"" }}</td>
      <td class="lettertd bluefont">{{ letter_agent_phone|slice:"1:2"|default_if_none:"" }}</td>
    </tr>

    <!--第五行-->
    <tr>
      <td class="lettertdTitle">五</td>
      <td class="lettertd bluefont">{{ letter_agent_phone|slice:"2:3"|default_if_none:"" }}</td>
      <td class="lettertd bluefont">{{ letter_agent_phone|slice:"3:4"|default_if_none:"" }}</td>
      <td class="lettertd bluefont">-</td>
      <td class="lettertd bluefont">{{ letter_agent_phone|slice:"4:5"|default_if_none:"" }}</td>
      <td class="lettertd bluefont">{{ letter_agent_phone|slice:"5:6"|default_if_none:"" }}</td>
      <td class="lettertd bluefont">{{ letter_agent_phone|slice:"6:7"|default_if_none:"" }}</td>
      <td class="lettertd bluefont">{{ letter_agent_phone|slice:"7:8"|default_if_none:"" }}</td>
      <td class="lettertd bluefont">{{ letter_agent_phone|slice:"8:9"|default_if_none:"" }}</td>
      <td class="lettertd bluefont">{{ letter_agent_phone|slice:"9:10"|default_if_none:"" }}</td>
      <td class="lettertd">)</td>
      <td class="lettertd">聯</td>
      <td class="lettertd">繫</td>
      <td class="lettertd">並</td>
      <td class="lettertd">完</td>
      <td class="lettertd">成</td>
      <td class="lettertd">協</td>
      <td class="lettertd">議</td>
      <td class="lettertd">，</td>
      <td class="lettertd">倘</td>
      <td class="lettertd">協</td>
    </tr>

  
    <!--第六行-->
    <tr>
      <td class="lettertdTitle">六</td>
      <td class="lettertd">議</td>
      <td class="lettertd">不</td>
      <td class="lettertd">成</td>
      <td class="lettertd">，</td>
      <td class="lettertd">續</td>
      <td class="lettertd">依</td>
      <td class="lettertd">民</td>
      <td class="lettertd">事</td>
      <td class="lettertd">訴</td>
      <td class="lettertd">訟</td>
      <td class="lettertd">序</td>
      <td class="lettertd">訴</td>
      <td class="lettertd">請</td>
      <td class="lettertd">裁</td>
      <td class="lettertd">判</td>
      <td class="lettertd">分</td>
      <td class="lettertd">割</td>
      <td class="lettertd">共</td>
      <td class="lettertd">有</td>
      <td class="lettertd">物</td>
    </tr>
  
    <!--第七行-->
    <tr>
      <td class="lettertdTitle">七</td>
      <td class="lettertd">，</td>
      <td class="lettertd">謹</td>
      <td class="lettertd">請</td>
      <td class="lettertd">諒</td>
      <td class="lettertd">悉</td>
      <td class="lettertd">。</td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
    </tr>
  
    <!--第八行-->
    <tr>
      <td class="lettertdTitle">八</td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
    </tr>
  
    <!--第九行-->
    <tr>
      <td class="lettertdTitle">九</td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
    </tr>
  
    <!--第十行-->
    <tr>
      <td class="lettertdTitle">十</td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
      <td class="lettertd"></td>
    </tr>
  
    <tr>
      <td colspan="17" rowspan="2">
        <table id="letterPDFContent">
          <tr>
            <td rowspan="5" style="width: 16%;">本存證信函共</td>
            <td style="width: 10%;"></td>
            <td style="width: 11%;">頁,正本</td>
            <td style="width: 8%;"></td>
            <td style="width: 12%;">份,存證費</td>
            <td style="width: 12%;"></td>
            <td>元,</td>
          </tr>
          <tr>
            <td></td>
            <td>副本</td>
            <td></td>
            <td>份,存證費</td>
            <td></td>
            <td>元,</td>
          </tr>
          <tr>
            <td></td>
            <td>附件</td>
            <td></td>
            <td>份,存證費</td>
            <td></td>
            <td>元,</td>
          </tr>
          <tr>
            <td></td>
            <td>加具正本</td>
            <td></td>
            <td>份,存證費</td>
            <td></td>
            <td>元,</td>
          </tr>
          <tr>
            <td></td>
            <td>加具副本</td>
            <td></td>
            <td>份,存證費</td>
            <td></td>
            <td>元,</td>
          </tr>
          <tr>
            <td colspan="7" style="height: 10px;"></td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: right;">經&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;郵局</td>
            <td colspan="3"></td>
            <td colspan="2">經辦員</td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: right; vertical-align: middle;">年&emsp;&emsp;月&emsp;&emsp;日證明</td>
            <td colspan="3">
              <table style="border-collapse: collapse;">
                <tr>
                  <td>正</td>
                  <td rowspan="2" style="vertical-align: middle;">本內容完全相同</td>
                </tr>
                <tr>
                  <td style="padding: 0px;">副</td>
                </tr>
              </table>
            </td>
            <td colspan="2" style="vertical-align: middle;">主管</td>
          </tr>
        </table>
      </td>
      <td colspan="2" style="height: 80px; text-align: center;">黏</td>
      <td colspan="2" style="text-align: center;">貼</td>
    </tr>
    <tr>
      <td colspan="4" style="border-bottom: none; text-align: center;">郵&emsp;票&emsp;或</td>
    </tr>
    <tr>
      <td rowspan="2" style="text-align: center;">
        備<br />
        <br />
        註
      </td>
      <td rowspan="2" colspan="16">
        <div class="row" style="padding: 5px 5px;">
          一、存證信函需送交郵局辦理證明手續後始有效，自交寄之日起由郵局保存之副本，於<br />
          &emsp;&emsp;三年期滿後銷燬之。
        </div>
        <div class="row">
          <table style="border: none; padding-left: 2px;">
            <tr>
              <td style="border: none;">二、在&emsp;&emsp;&emsp;頁&emsp;&emsp;&emsp;行第&emsp;&emsp;&emsp;格下</td>
              <td style="border: none;">
                塗改<br />
                增刪
              </td>
              <td style="border: none;">&emsp;&emsp;&emsp;字</td>
              <td style="font-size: 10pt; padding-left: 60px; border: none;">
                ( 如有修改應填註本欄並蓋用<br />
                寄件人印章，但塗改增刪 )<br />
                每頁至多不得逾二十字。
              </td>
            </tr>
          </table>
        </div>
        <div class="row" style="padding: 5px 5px;">
          三、每件一式三份，用不脫色筆或打字機複寫，或書寫後複印、影印，每格限書一字，<br />
          &emsp;&emsp;色澤明顯、字跡端正。
        </div>
      </td>
      <td colspan="4" style="border-top: none; height: 60px; text-align: center;">郵&emsp;資&emsp;券</td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: center; height: 80px;">處</td>
      <td colspan="2"></td>
    </tr>
  </table>

  
  <!-- 附表 -->
  <div class="page-break">
    <table class="letterPDFAttachment">
      <tr>
        <td colspan="2" style="font-size: 14.5pt; padding-bottom: 10px;">附表：</td>
        <td></td>
      </tr>
  
      <tr>
        <th style="border: 1px solid black;" rowspan="3">共有人設籍<br /></th>
        <th style="border: 1px solid black;" colspan="2">
          <span class="bluefont">
            {{yfcase.yfcaseCity|default_if_none:""}}{{yfcase.yfcaseTownship|default_if_none:""}}{{yfcase.yfcaseVillage|default_if_none:""}}{{yfcase.yfcaseNeighbor|default_if_none:""}}{{yfcase.yfcaseStreet|default_if_none:""}}{{yfcase.yfcaseSection|default_if_none:""}}{{yfcase.yfcaseLane|default_if_none:""}}{{yfcase.yfcaseAlley|default_if_none:""}}{{yfcase.yfcaseNumber|default_if_none:""}}{{yfcase.yfcaseFloor|default_if_none:""}}
          </span>
          <br />
          房地應有部分比例
        </th>
      </tr>
      <tr>
        <th style="border: 1px solid black;">地號</th>
        <th style="border: 1px solid black;">建號</th>
      </tr>
      <tr>
        <th style="border: 1px solid black;">
          {% for land in yfcase.lands.all %}
            <span class="bluefont">{{yfcase.yfcaseBigSection|default_if_none:""}}{{land.landNumber|default_if_none:""}}</span><br>
          {% endfor %}
        </th>
        <th style="border: 1px solid black;">
          {% for build in yfcase.builds.all %}
            <span class="bluefont">{{yfcase.yfcaseBigSection|default_if_none:""}}{{build.buildNumber|default_if_none:""}}</span><br>
          {% endfor %}
        </th>
      </tr>
  
      <!--共有人 : 房地應有部分比例-->
      {% for coownerinfo in yfcase.coownerinfos.all %}
      <tr style="font-size: 12pt;">
        <td style="border: 1px solid black; text-align: left;">
          <span class="bluefont">
            {{ coownerinfo.coOwnerName }}<br>
            {{ coownerinfo.coOwnerAddress }}
          </span>
        </td>
        <td style="border: 1px solid black; text-align: center;">
          <span class="bluefont">
            {% if coownerinfo.coOwnerLandHPPersonnal and coownerinfo.coOwnerLandHPAll %}
              {{ coownerinfo.coOwnerLandHPAll|num2cn2 }}分之{{coownerinfo.coOwnerLandHPPersonnal|num2cn2 }}
            {% endif%}
          </span>
        </td>
        <td style="border: 1px solid black; text-align: center;">
          <span class="bluefont">
            {% if coownerinfo.coOwnerBuildHPPersonnal and coownerinfo.coOwnerBuildHPAll %}
              {{coownerinfo.coOwnerBuildHPAll|num2cn2 }}分之{{ coownerinfo.coOwnerBuildHPPersonnal|num2cn2 }}
            {% endif%}
          </span>
        </td>
      </tr>
      {% endfor %}
      

      <!--權利人 : 房地應有部分比例-->
      <tr></tr>
      <tr style="font-size: 12pt;">
        <td style="border: 1px solid black; text-align: left;">
          <span class="bluefont">
            {% if yfcase.yfcaseCreditor %}
              {{ yfcase.yfcaseCreditor }}
            {% else %}
              {{ yfcase.yfcaseCompany }}<br>
              {% if yfcase.yfcaseCompany == "揚富開發有限公司" %}
                臺中市大里區西榮里新仁路三段49號1樓
              {% elif yfcase.yfcaseCompany == "鉅鈦開發有限公司"%}
                臺中市大里區西榮里新仁路三段72巷3號1樓
              {% endif %}
            {% endif %}
          </span>
        </td>
        <td style="border: 1px solid black; text-align: center;">
          <span class="bluefont">
            {% if yfcase.yfcasecoOwnerLandHPAll and yfcase.yfcasecoOwnerLandHPPersonnal %}
              {{yfcase.yfcasecoOwnerLandHPAll|num2cn2}}分之{{yfcase.yfcasecoOwnerLandHPPersonnal|num2cn2}}
            {% endif %}
          </span>
        </td>
        <td style="border: 1px solid black; text-align: center;">
          <span class="bluefont">
            {% if yfcase.yfcasecoOwnerBuildHPAll and yfcase.yfcasecoOwnerBuildHPPersonnal %}
              {{yfcase.yfcasecoOwnerBuildHPAll|num2cn2}}分之{{yfcase.yfcasecoOwnerBuildHPPersonnal|num2cn2}}
            {% endif %}
          </span>
        </td>
      </tr> 
      
      <tr>
        <th style="border: 1px solid black;">合計</th>
        <th style="border: 1px solid black;">
          {% if yfcase.get_coownerinfo_land_holding_point_total == yfcase.get_all_coowner_land_HP %}
            <span class="bluefont">全部</span>
          {% else %}
            <span style="color:red;">
              應為：({{ yfcase.get_all_coowner_land_HP|floatformat:"2" }})<br>
              實際：({{ yfcase.get_coownerinfo_land_holding_point_total|floatformat:"2" }})
            </span>
          {% endif %}
        </th>
        <th style="border: 1px solid black;">
          {% if yfcase.get_coownerinfo_build_holding_point_total == 1 %}
            <span class="bluefont">一分之一</span>
          {% else %}
            <span style="color:red;">持分比例有誤({{ yfcase.get_coownerinfo_build_holding_point_total|floatformat:"2" }})</span>
          {% endif %}
        </th>
      </tr>
    </table>
  </div>
    
</body>

</html>