{% load static %}
{% load urlify %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
      .basedata__table { border: 3px solid black; }
      .basedata__th { width: 8%; background-color: AntiqueWhite; border: 1px solid black; text-align: center;} 
      .basedata__status__th { width: 8%; background-color: DarkSlateGray; color: white; border: 1px solid black; text-align: center;} 
      .basedata__td { border: 1px solid black; }
      .basedata__td:nth-child(2) { width:35%; }
      .basedata__td:nth-child(4) { width:10%; }
      .basedata__td:nth-child(8) { width:5%; }
    body {padding-top: 2px;}

    .yfratingscalePDFTitle {
        font-size: 26pt;
        font-weight: bolder;
        text-align: center;
    }

    .yfratingscalePDFBaseData,
    .yfratingscalePDFLand,
    .yfratingscalePDFBuild,
    .yfratingscalePDFAction,
    .yfratingscalePDFAttachment,
    .yfratingscalePDFBuildCheckList,
    .yfratingscalePDFFinaldecision,
    .yfratingscalePDFObjectBuild {
        border-collapse: collapse;
        border: 3px solid black;
        margin-bottom: 5px;
        width: 100%;
    }

    .yfratingscalePDFBaseData th {
        padding: 2px 0px 0px 0px;
        background-color: AntiqueWhite;
        border: 1px solid black;
        font-size: 10pt;
    }

    .yfratingscalePDFBaseData td {
        padding: 2px 0px 0px 0px;
        text-align: left;
        border: 1px solid black;
        line-height: 20px;
        font-size: 10pt;
        color: blue;
        font-size: 10pt;
    }

    .yfratingscalePDFLand th {
        background-color: Aquamarine;
        border: 1px solid black;
        line-height: 20px;
        padding: 0px;
        font-size: 10pt;
    }

    .yfratingscalePDFBuild th {
        background-color: DeepSkyBlue;
        border: 1px solid black;
        line-height: 20px;
        padding: 0px;
        font-size: 10pt;
    }

    .yfratingscalePDFAction th {
        background-color: Gainsboro;
        border: 1px solid black;
        line-height: 18px;
        padding: 0px;
        font-size: 10pt;
    }

    .yfratingscalePDFAttachment th {
        background-color: Khaki;
        border: 1px solid black;
        padding: 0px;
        font-size: 10pt;
    }

    .yfratingscalePDFBuildCheckList th {
        background-color: LightSteelBlue;
        border: 1px solid black;
        padding: 0px;
    }

    .yfratingscalePDFObjectBuild th {
        background-color: Thistle;
        border: 1px solid black;
        text-align: center;
        font-size: 10pt;
        padding: 0px;
    }

    .yfratingscalePDFFinaldecision th {
        background-color: YellowGreen;
        border: 1px solid black;
        padding: 0px;
        font-size: 10pt;
    }

    .yfratingscalePDFLand td,
    .yfratingscalePDFBuild td,
    .yfratingscalePDFBuildCheckList td {
        padding: 0px 5px;
        text-align: center;
        border: 1px solid black;
        font-size: 10pt;
        color: blue;
    }

    .yfratingscalePDFAction td {
        padding: 0px 5px;
        text-align: center;
        border: 1px solid black;
        line-height: 20px;
        font-size: 10pt;
    }

    .yfratingscalePDFObjectBuild td {
        padding: 0px 5px;
        text-align: center;
        border: 1px solid black;
        line-height: 18px;
        font-size: 10pt;
    }

    .yfratingscalePDFFinaldecision td {
        padding: 0px 5px;
        text-align: center;
        border: 1px solid black;
        line-height: 18px;
        font-size: 10pt;
        height: 35px;
    }

    td.landEmpty {
        border-top: hidden;
        border-bottom: hidden;
        border-left: 3px solid black;
        border-right: 3px solid black;
    }

    .yfratingscalePDFBuildCheckList .yfratingscalePDFBuildCheckListItem {
        background-color: LightCyan;
        padding: 2px 5px;
        text-align: left;
        font-size: 12pt;
    }

    .yfratingscalePDFFinaldecision .yfratingscalePDFPerson {
        padding: 14px 14px;
    }

    .yfratingscalePDFPersonCircle {
        border: 5px solid red;
        border-radius: 50%;
    }

    .yfratingscalePDFPersonTable {
        border-collapse: collapse;
        width: 100%;
    }

    .yfratingscalePDFPersonTable .yfratingscalePDFPersonName {
        text-align: center;
        border: none;
        vertical-align: middle;
        font-size: 20pt;
        color: red;
    }

    .yfratingscalePDFPersonTable .yfratingscalePDFPersonDate {
        border: none;
        text-align: center;
        font-weight: bolder;
        vertical-align: middle;
        color: red;
        font-size: 14pt;
    }

    .yfratingscalePDFAttachmentContent {
        padding: 0px 5px;
        border: 1px solid black;
        font-size: 12pt;
        text-align: left;
    }

    .yfratingscalePDFFinaldecisionJudgment {
        text-align: center;
        font-size: 36px;
        border: 5px solid black;
        border-radius: 10px;
        padding: 30px;
    }
    </style>
</head>

<body>
  <!--標頭-->
  <div class="yfratingscalePDFTitle">
    {{ yfcase.yfcaseCaseNumber }} YF評量表
  </div>

  <div class="row">
    <!--基本資料-->
    <table class="basedata__table">
      <tr>
        <th class="basedata__th">案號</th>
        <td class="basedata__td text-left">{{yfcase.yfcaseCaseNumber|default_if_none:"" }}</td>
        <th class="basedata__th">債務人</th>
        <td class="basedata__td">{{ yfcase.yfcaseDebtor|default_if_none:"" }}</td>
        <th class="basedata__th">債權人</th>
        <td class="basedata__td">
          {% if yfcase.yfcaseCreditor %}
            {{ yfcase.yfcaseCreditor|default_if_none:"" }}<br>
            {{ yfcase.yfcaseCreditorMobilePhone|default_if_none:"" }}
          {% else %}
            {{ yfcase.yfcaseCompany }}<br>
            {{ request.user.userMobilePhone|default_if_none:"" }}
          {% endif %}
        </td>
      </tr>
      <tr>
        <th class="basedata__th">住址</th>
        <td  class="basedata__td text-left" colspan="5">
          {{ yfcase.yfcaseTownship.zip_code }} {{yfcase.fullAddress}}
        </td>
      </tr>
    </table>
  </div>
    <!-- 土地 -->
    <div class="row">
        <table class="yfratingscalePDFLand col">
            <tr>
                <th style="width:20%;">地號</th>
                <th style="width:7%;">地號<br>謄本</th>
                <th style="width:15%;">地坪(面積)<br>平方公尺(坪)</th>
                <th style="width:9%;">持分</th>
                <th style="width:15%;">地坪(持分)<br>平方公尺(坪)</th>
                <td class="landEmpty" style="width:2%;"></td>
                <th style="width:15%;">地坪(面積)<br>平方公尺(坪)</th>
                <td class="landEmpty" style="width:2%;"></td>
                <th style="background-color:DeepSkyBlue;">建坪(面積)<br>平方公尺(坪)</th>
            </tr>
            {% for land in yfcase.lands.all %}
            <tr>
                <td style="text-align:left;">
                    {{yfcase.yfcaseBigSection}}{{land.landNumber}}
                </td>
                <td>
                    {% if land.landUrl != None %}
                    V
                    {% endif %}
                </td>
                <td>
                    {{land.landArea}}
                </td>
                <td>
                    {{land.landHoldingPointPersonal}} / {{land.landHoldingPointAll}}
                </td>
                <td>
                    {{ land.get_land_holding_point_area|floatformat:"2" }} m<sup>2</sup><br>
                    ({{ land.get_land_holding_point_area|m2toping|floatformat:"2" }} 坪)
                </td>
                <td class="landEmpty"></td>
                <td>
                    {{ land.get_land_holding_point_area|floatformat:"2" }} m<sup>2</sup><br>
                    ({{ land.get_land_holding_point_area|m2toping|floatformat:"2" }} 坪)
                </td>
                <td class="landEmpty"></td>
                <td>
                    {{ yfcase.get_build_holding_point_after_group_total|floatformat:"2" }} m<sup>2</sup>
                    ({{ yfcase.get_build_holding_point_after_group_total|m2toping|floatformat:"2" }} 坪)
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <!-- 建物 -->
    <div>
        <table class="yfratingscalePDFBuild">
            <tr>
                <th rowspan="2" style="width:20%">建號</th>
                <th rowspan="2" style="width:7%">建號<br>謄本</th>
                <th rowspan="2" style="width:15%">建坪(面積)<br>平方公尺(坪)</th>
                <th rowspan="2" style="width:9%">持分</th>
                <th colspan="2">建坪持分 - 平方公尺(坪)</th>
                <th rowspan="2" style="width:23%">
                    <div style="font-size:10pt;color:red;background-color:Cornsilk;text-align:center;">
                        使用分區：{{ yfcase.builds.first.buildUsePartition|default_if_none:"" }}
                    </div>
                    建物型/使用
                </th>
            </tr>
            <tr>
                <th>(原)</th>
                <th>(計算後)</th>
            </tr>
            {% for build in yfcase.builds.all %}
            <tr>
                <td style="text-align:left;">
                    {{yfcase.yfcaseBigSection}}{{build.buildNumber}}
                </td>
                <td>
                    {% if build.buildUrl != None %}
                    V
                    {% endif %}
                </td>
                <td>
                    {{build.buildArea}}
                </td>
                <td>
                    {{build.buildHoldingPointPersonal}} / {{build.buildHoldingPointAll}}
                </td>
                <td>
                    {{ build.get_build_holding_point_area|floatformat:"2" }} m<sup>2</sup><br>
                    ({{ build.get_build_holding_point_area|m2toping|floatformat:"2" }} 坪)
                </td>
                <td>
                </td>
                <td>
                    {{ build.buildTypeUse|default_if_none:"" }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <!-- 拍賣結果 -->
    <div class="auction">
        <table class="yfratingscalePDFAction">
            <tr>
                <th style="width:11%;">拍賣日</th>
                <th colspan="4">拍別-進場判定<br>
                    <div style="padding:0px;font-size:10pt;color:red;">(可進場CP值)</div>
                </th>
                <th>底價<small>(NT)</small><br>
                    <div style="padding:0px;font-size:10pt;color:red;">各拍建議底價</div>
                </th>
                <th>坪價<small>(NT)</small></th>
                <th>時價<small>(NT)</small></th>
                <th style="width:6%;">CP</th>
                <th style="width:5%;">點閱</th>
                <th style="width:5%;">監控</th>
                <th style="width:15%;">建議加價</th>
                <th style="width:9%;">保証金</th>
            </tr>
            <!-- 第一拍 -->
            <tr>
                <!-- 拍別：第一拍 -->
                <td>
                    {{yfcase.auctions.first.auctionDateFirst|default_if_none:""}}
                </td>
                <td style="width:7%;">第一拍<br>
                    <div style="padding:0px;font-size:10pt;color:red;">(CP>0.92)</div>
                </td>
                <td colspan="3" style="width:12%;">
                    {% if yfcase.auctions.first.auctionFloorPriceFirst == 0 %}
                    <div>底價未輸入</div>
                    {% elif yfcase.auctions.first.get_suggestedincreaseFirst_cp >= 0.92 %}
                    <div style="padding:0px;font-size:10pt;color:green;">加價CP(
                        {{ yfcase.auctions.first.get_suggestedincreaseFirst_cp|floatformat:2 }})<br>建議進場</div>
                    {% elif yfcase.auctions.first.get_suggestedincreaseFirst_cp < 0.92 %} <div style="padding:0px;font-size:10pt;color:red;">加價CP(
                        {{ yfcase.auctions.first.get_suggestedincreaseFirst_cp|floatformat:2 }})<br>不可進場
    </div>
    {% endif %}
    </td>
    <!-- 第一拍：底價 -->
    <td>
        {% if yfcase.auctions.first.auctionFloorPriceFirst != 0 %}
        {{yfcase.auctions.first.auctionFloorPriceFirst|floatformat:0|intcomma }}
        {% endif %}
    </td>
    <!-- 第一拍：坪價 -->
    <td>
        {% if yfcase.auctions.first.auctionFloorPriceFirst != 0 and yfcase.builds.all|length > 0 %}
        {{yfcase.auctions.first.get_ping_first_price|floatformat:0|intcomma}}
        {% endif %}
    </td>
    <!-- 第一拍：時價 -->
    <td>
        {% if yfcase.auctions.first.auctionFloorPriceFirst != 0 and yfcase.pbk != 0 %}
        {{yfcase.pbk|floatformat:0|intcomma}}
        {% endif %}
    </td>
    <!-- 第一拍：CP值 -->
    <td>
        {% if yfcase.auctions.first.auctionFloorPriceFirst != 0 and yfcase.auctions.first.get_first_cp != 0 %}
        {{yfcase.auctions.first.get_first_cp|floatformat:2|intcomma}}
        {% endif %}
    </td>
    <!-- 第一拍：點閱 -->
    <td>
        {% if yfcase.auctions.first.auctionFloorPriceFirst != 0 %}
        {{yfcase.auctions.first.auctionClickFirst }}
        {% endif %}
    </td>
    <!-- 第一拍：監控 -->
    <td>
        {% if yfcase.auctions.first.auctionFloorPriceFirst != 0 %}
        {{yfcase.auctions.first.auctionMonitorFirst }}
        {% endif %}
    </td>
    <!-- 第一拍：建議加價 -->
    <td>
        {% if yfcase.auctions.first.auctionFloorPriceFirst != 0 %}
        (100% + {{yfcase.auctions.first.get_suggestedincreaseFirst|multiplication:100|floatformat:0 }}%)<br>
        {{yfcase.auctions.first.get_suggestedincreaseFirst_floor_price|floatformat:0|intcomma }}
        {% endif %}
    </td>
    <!-- 第一拍：保証金 -->
    <td>
        {% if yfcase.auctions.first.auctionFloorPriceFirst != 0 %}
        {{yfcase.auctions.first.auctionMarginFirst|floatformat:0|intcomma }}
        {% endif %}
    </td>
    </tr>
    <!-- 第二拍 -->
    <tr>
        <!-- 拍別：第二拍 -->
        <td>
            {{yfcase.auctions.first.auctionDateSecond|default_if_none:""}}
        </td>
        <td>第二拍<br>
            <div style="padding:0px;font-size:10pt;color:red;">(CP>1.15)</div>
        </td>
        <td colspan="3">
            {% if yfcase.auctions.first.auctionFloorPriceSecond == 0 %}
            <div>底價未輸入</div>
            {% elif yfcase.auctions.first.get_suggestedincreaseSecond_cp >= 1.15 %}
            <div style="padding:0px;font-size:10pt;color:green;">加價CP(
                {{ yfcase.auctions.first.get_suggestedincreaseSecond_cp|floatformat:2 }})<br>建議進場</div>
            {% elif yfcase.auctions.first.get_suggestedincreaseSecond_cp < 1.15 %} <div style="padding:0px;font-size:10pt;color:red;">加價CP(
                {{ yfcase.auctions.first.get_suggestedincreaseSecond_cp|floatformat:2 }})<br>不可進場</div>
                {% endif %}
        </td>
        <!-- 第二拍：底價 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceSecond != 0 %}
            {{yfcase.auctions.first.auctionFloorPriceSecond|floatformat:0|intcomma }}
            {% endif %}
            {% if yfcase.auctions.first.auctionFloorPriceFirst != 0 %}
            <br>
            <div style="padding:0px;font-size:10pt;color:red;">
                {{yfcase.auctions.first.auctionFloorPriceFirst|multiplication:8|divide:10|floatformat:0|intcomma }}
            </div>
            {% endif %}
        </td>
        <!-- 第二拍：坪價 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceSecond != 0 and yfcase.builds.all|length > 0 %}
            {{yfcase.auctions.first.get_ping_second_price|floatformat:0|intcomma}}
            {% endif %}
        </td>
        <!-- 第二拍：時價 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceSecond != 0 and yfcase.pbk != 0 %}
            {{yfcase.pbk|floatformat:0|intcomma}}
            {% endif %}
        </td>
        <!-- 第二拍：CP值 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceSecond != 0 and yfcase.auctions.first.get_second_cp != 0 %}
            {{yfcase.auctions.first.get_second_cp|floatformat:2|intcomma}}
            {% endif %}
        </td>
        <!-- 第二拍：點閱 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceSecond != 0 %}
            {{yfcase.auctions.first.auctionClickSecond }}
            {% endif %}
        </td>
        <!-- 第二拍：監控 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceSecond != 0 %}
            {{yfcase.auctions.first.auctionMonitorSecond }}
            {% endif %}
        </td>
        <!-- 第二拍：建議加價 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceSecond != 0 %}
            (100% + {{yfcase.auctions.first.get_suggestedincreaseSecond|multiplication:100|floatformat:0 }}%)<br>
            {{yfcase.auctions.first.get_suggestedincreaseSecond_floor_price|floatformat:0|intcomma }}
            {% endif %}
        </td>
        <!-- 第二拍：保証金 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceSecond != 0 %}
            {{yfcase.auctions.first.auctionMarginSecond|floatformat:0|intcomma }}
            {% endif %}
        </td>
    </tr>
    <!-- 第三拍 -->
    <tr>
        <!-- 拍別：第三拍 -->
        <td>
            {{yfcase.auctions.first.auctionDateThird|default_if_none:""}}
        </td>
        <td>第三拍<br>
            <div style="padding:0px;font-size:10pt;color:red;">(CP>1.44)</div>
        </td>
        <td colspan="3">
            {% if yfcase.auctions.first.auctionFloorPriceThird == 0 %}
            <div>底價未輸入</div>
            {% elif yfcase.auctions.first.get_suggestedincreaseThird_cp >= 1.44 %}
            <div style="padding:0px;font-size:10pt;color:green;">加價CP(
                {{ yfcase.auctions.first.get_suggestedincreaseThird_cp|floatformat:2 }})<br>建議進場</div>
            {% elif yfcase.auctions.first.get_suggestedincreaseThird_cp < 1.44 %} <div style="padding:0px;font-size:10pt;color:red;">加價CP(
                {{ yfcase.auctions.first.get_suggestedincreaseThird_cp|floatformat:2 }})<br>不可進場</div>
                {% endif %}
        </td>
        <!-- 第三拍：底價 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceThird != 0 %}
            {{yfcase.auctions.first.auctionFloorPriceThird|floatformat:0|intcomma }}
            {% endif %}
            {% if yfcase.auctions.first.auctionFloorPriceFirst != 0 %}
            <br>
            <div style="padding:0px;font-size:10pt;color:red;">
                {{yfcase.auctions.first.auctionFloorPriceFirst|multiplication:64|divide:100|floatformat:0|intcomma }}
            </div>
            {% elif yfcase.auctions.first.auctionFloorPriceSecond != 0 %}
            <br>
            <div style="padding:0px;font-size:10pt;color:red;">
                {{yfcase.auctions.first.auctionFloorPriceSecond|multiplication:8|divide:10|floatformat:0|intcomma }}
            </div>
            {% endif %}
        </td>
        <!-- 第三拍：坪價 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceThird != 0 and yfcase.builds.all|length > 0 %}
            {{yfcase.auctions.first.get_ping_third_price|floatformat:0|intcomma}}
            {% endif %}
        </td>
        <!-- 第三拍：時價 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceThird != 0 and yfcase.pbk != 0 %}
            {{yfcase.pbk|floatformat:0|intcomma}}
            {% endif %}
        </td>
        <!-- 第三拍：CP值 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceThird != 0 and yfcase.auctions.first.get_third_cp != 0 %}
            {{yfcase.auctions.first.get_third_cp|floatformat:2|intcomma}}
            {% endif %}
        </td>
        <!-- 第三拍：點閱 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceThird != 0 %}
            {{yfcase.auctions.first.auctionClickThird }}
            {% endif %}
        </td>
        <!-- 第三拍：監控 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceThird != 0 %}
            {{yfcase.auctions.first.auctionMonitorThird }}
            {% endif %}
        </td>
        <!-- 第三拍：建議加價 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceThird != 0 %}
            (100% + {{yfcase.auctions.first.get_suggestedincreaseThird|multiplication:100|floatformat:0 }}%)<br>
            {{yfcase.auctions.first.get_suggestedincreaseThird_floor_price|floatformat:0|intcomma }}
            {% endif %}
        </td>
        <!-- 第三拍：保証金 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceThird != 0 %}
            {{yfcase.auctions.first.auctionMarginThird|floatformat:0|intcomma }}
            {% endif %}
        </td>
    </tr>
    <!-- 第四拍 -->
    <tr>
        <!-- 拍別：第四拍 -->
        <td>
            {{yfcase.auctions.first.auctionDateFourth|default_if_none:""}}
        </td>
        <td>第四拍<br>
            <div style="padding:0px;font-size:10pt;color:red;">(CP>1.80)</div>
        </td>
        <td colspan="3">
            {% if yfcase.auctions.first.auctionFloorPriceFourth == 0 %}
            <div>底價未輸入</div>
            {% elif yfcase.auctions.first.get_suggestedincreaseFourth_cp >= 1.80 %}
            <div style="padding:0px;font-size:10pt;color:green;">加價CP(
                {{ yfcase.auctions.first.get_suggestedincreaseFourth_cp|floatformat:2 }})<br>建議進場</div>
            {% elif yfcase.auctions.first.get_suggestedincreaseFourth_cp < 1.80 %} <div style="padding:0px;font-size:10pt;color:red;">加價CP(
                {{ yfcase.auctions.first.get_suggestedincreaseFourth_cp|floatformat:2 }})<br>不可進場</div>
                {% endif %}
        </td>
        <!-- 第四拍：底價 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceFourth != 0 %}
            {{yfcase.auctions.first.auctionFloorPriceFourth|floatformat:0|intcomma }}
            {% endif %}
            {% if yfcase.auctions.first.auctionFloorPriceFirst != 0 %}
            <br>
            <div style="padding:0px;font-size:10pt;color:red;">
                {{yfcase.auctions.first.auctionFloorPriceFirst|multiplication:512|divide:1000|floatformat:0|intcomma }}
            </div>
            {% elif yfcase.auctions.first.auctionFloorPriceSecond != 0 %}
            <br>
            <div style="padding:0px;font-size:10pt;color:red;">
                {{yfcase.auctions.first.auctionFloorPriceSecond|multiplication:64|divide:100|floatformat:0|intcomma }}
            </div>
            {% elif yfcase.auctions.first.auctionFloorPriceThird != 0 %}
            <br>
            <div style="padding:0px;font-size:10pt;color:red;">
                {{yfcase.auctions.first.auctionFloorPriceThird|multiplication:8|divide:10|floatformat:0|intcomma }}
            </div>
            {% endif %}
        </td>
        <!-- 第四拍：坪價 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceFourth != 0 and yfcase.builds.all|length > 0 %}
            {{yfcase.auctions.first.get_ping_fourth_price|floatformat:0|intcomma}}
            {% endif %}
        </td>
        <!-- 第四拍：時價 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceFourth != 0 and yfcase.pbk != 0 %}
            {{yfcase.pbk|floatformat:0|intcomma}}
            {% endif %}
        </td>
        <!-- 第四拍：CP值 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceFourth != 0 and yfcase.auctions.first.get_fourth_cp != 0 %}
            {{yfcase.auctions.first.get_fourth_cp|floatformat:2|intcomma}}
            {% endif %}
        </td>
        <!-- 第四拍：點閱 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceFourth != 0 %}
            {{yfcase.auctions.first.auctionClickFourth }}
            {% endif %}
        </td>
        <!-- 第四拍：監控 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceFourth != 0 %}
            {{yfcase.auctions.first.auctionMonitorFourth }}
            {% endif %}
        </td>
        <!-- 第四拍：建議加價 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceFourth != 0 %}
            (100% + {{yfcase.auctions.first.get_suggestedincreaseFouth|multiplication:100|floatformat:0 }}%)<br>
            {{yfcase.auctions.first.get_suggestedincreaseFourth_floor_price|floatformat:0|intcomma }}
            {% endif %}
        </td>
        <!-- 第四拍：保証金 -->
        <td>
            {% if yfcase.auctions.first.auctionFloorPriceFourth != 0 %}
            {{yfcase.auctions.first.auctionMarginFourth|floatformat:0|intcomma }}
            {% endif %}
        </td>
    </tr>
    </table>
    </div>
    <!-- 勘查結果 -->
    <div>
        <table class="yfratingscalePDFAttachment">
            <tr>
                <th style="width:18%">初勘日</th>
                <td class="yfratingscalePDFAttachmentContent" style="width:32%">
                    {{yfcase.surveys.first.surveyFirstDay}}
                </td>
                <th>會勘日</th>
                <td class="yfratingscalePDFAttachmentContent">
                    {{yfcase.surveys.first.surveySecondDay}}
                </td>
            </tr>
            <tr>
                <th>法拍公告<small>(證物三)</small></th>
                <td class="yfratingscalePDFAttachmentContent">
                    {% if yfcase.surveys.first.surveyForeclosureAnnouncementLink %}
                    <a href="{{yfcase.surveys.first.surveyForeclosureAnnouncementLink}}" target="_blank">法拍公告</a>
                    {% endif %}
                </td>
                <th style="width:18%">998連結</th>
                <td class="yfratingscalePDFAttachmentContent">
                    {% if yfcase.surveys.first.survey988Link %}
                    <a href="{{yfcase.surveys.first.survey988Link}}" target="_blank">998連結</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>物件照片<small>(證物四)</small></th>
                <td colspan="3" class="yfratingscalePDFAttachmentContent">
                    {% if yfcase.surveys.first.surveyObjectPhotoLink %}
                    <a href="{{yfcase.surveys.first.surveyObjectPhotoLink}}" target="_blank">物件照片</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>實價登錄市價</th>
                <td colspan="3" class="yfratingscalePDFAttachmentContent">
                    {% for objectbuild in yfcase.objectbuilds.all %}
                    <table class="yfratingscalePDFObjectBuild">
                        <tr>
                            <th>狀態</th>
                            <th>地址(屋齡)(樓高)</th>
                            <th>總價(元)</th>
                            <th>建坪(坪)</th>
                            <th>單價(元)</th>
                            <th>勘查員A
                            </th>
                            <th>加成A</th>
                            <th>加成原因A</th>
                            <th>計算</th>
                        </tr>
                        <tr>
                            <!--輸入狀態-->
                            <td>
                                {{objectbuild.objectBuildStatus}}
                            </td>
                            <!--輸入地址(屋齡)(樓高)-->
                            <td rowspan="3">
                                {{objectbuild.objectBuildAddress}}
                                {{objectbuild.objectBuildHouseAge}}
                                {{objectbuild.objectBuildFloorHeight}}
                                {{ objectbuild.objectBuildTransactionDate }}
                            </td>
                            <!--輸入總價(元)-->
                            <td rowspan="3">
                                {{ objectbuild.objectBuildTotalPrice|floatformat:0|intcomma }}
                            </td>
                            <!--輸入建坪(坪)-->
                            <td rowspan="3">
                                {{ objectbuild.objectBuildBuildArea }}
                            </td>
                            <!--輸入單價(元)-->
                            <td rowspan="3">
                                {{ objectbuild.get_objectbuild_ping_price|floatformat:0|intcomma }}
                            </td>
                            <!--輸入勘查員A-->
                            <td>
                                {{ objectbuild.objectBuildScorerA }}
                            </td>
                            <!--輸入加成A-->
                            <td>
                                {{ objectbuild.get_a_plus_value|floatformat:2 }}
                            </td>
                            <!--輸入加成原因A-->
                            <td>
                                {% if objectbuild.plusItemA1 != None %}{{ objectbuild.plusItemA1 }}<br>{% endif %}
                                {% if objectbuild.plusItemA2 != None %}{{ objectbuild.plusItemA2 }}<br>{% endif %}
                                {% if objectbuild.plusItemA3 != None %}{{ objectbuild.plusItemA3 }}<br>{% endif %}
                                {% if objectbuild.plusItemA4 != None %}{{ objectbuild.plusItemA4 }}<br>{% endif %}
                                {% if objectbuild.plusItemA5 != None %}{{ objectbuild.plusItemA5 }}<br>{% endif %}
                                {% if objectbuild.plusItemOtherA != None %}{{ objectbuild.plusItemOtherA }}<br>{% endif %}
                            </td>
                            <!--輸入計算-->
                            <td rowspan="3">
                                {{objectbuild.get_a_plus_value_total|floatformat:0|intcomma}}
                            </td>
                        </tr>
                        <tr>
                            <th>附件</th>
                            <th>勘查員B</th>
                            <th>加成B</th>
                            <th>加成原因B</th>
                        </tr>
                        <tr>
                            <!--輸入附件-->
                            <td>
                            </td>
                            <!--輸入勘查員B-->
                            <td>
                                {{ objectbuild.objectBuildScorerB }}
                            </td>
                            <!--輸入加成B-->
                            <td>
                                {{ objectbuild.get_b_plus_value|floatformat:2 }}
                            </td>
                            <!--輸入加成原因B-->
                            <td>
                                {% if objectbuild.plusItemB1 != None %}{{ objectbuild.plusItemB1 }}<br>{% endif %}
                                {% if objectbuild.plusItemB2 != None %}{{ objectbuild.plusItemB2 }}<br>{% endif %}
                                {% if objectbuild.plusItemB3 != None %}{{ objectbuild.plusItemB3 }}<br>{% endif %}
                                {% if objectbuild.plusItemB4 != None %}{{ objectbuild.plusItemB4 }}<br>{% endif %}
                                {% if objectbuild.plusItemB5 != None %}{{ objectbuild.plusItemB5 }}<br>{% endif %}
                                {% if objectbuild.plusItemOtherB != None %}{{ objectbuild.plusItemOtherB }}<br>{% endif %}
                            </td>
                        </tr>
                    </table>
                    {% endfor %}
                    <p style="margin:2px;padding:2px;">
                </td>
            </tr>
            <tr>
                <th>法拍記錄<small>(證物七)</small></th>
                <td colspan="3" class="yfratingscalePDFAttachmentContent">
                    {% if yfcase.surveys.first.surveyForeclosureRecordLink %}
                    <a href="{{yfcase.surveys.first.surveyForeclosureRecordLink}}" target="_blank">法拍記錄</a>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <!-- 建物查檢表 -->
    <div class="row">
        <table class="yfratingscalePDFBuildCheckList">
            <tr>
                <th style="width:6%;">結果</th>
                <th style="width:21%;">查檢內容</th>
                <th style="width:6%;">結果</th>
                <th>查檢內容</th>
                <th style="width:6%;">結果</th>
                <th style="width:15%;">查檢內容</th>
                <th style="width:6%;">結果</th>
                <th style="width:19%;">查檢內容</th>
            </tr>
            <!-- 第一行 -->
            <tr>
                <td>{% if yfcase.clicklists.first.clicklistOccupy %} V {% endif %}</td>
                <th class="yfratingscalePDFBuildCheckListItem">01.占用鄰地？</th>
                <td>{% if yfcase.clicklists.first.clicklistRent %} V {% endif %}</td>
                <th class="yfratingscalePDFBuildCheckListItem">05.出租/出借/佔用？</th>
                <td>{% if yfcase.clicklists.first.clicklistVegetableMarket %} V {% endif %}</td>
                <th class="yfratingscalePDFBuildCheckListItem">09.鄰近菜市場？</th>
                <td>{% if yfcase.clicklists.first.clicklistPostOffice %} V {% endif %}</td>
                <th class="yfratingscalePDFBuildCheckListItem">13.鄰近郵局/機關？</th>
            </tr>
            <!-- 第二行 -->
            <tr>
                <td>{% if yfcase.clicklists.first.clicklistEegister %} V {% endif %}</td>
                <th class="yfratingscalePDFBuildCheckListItem">02.無未保存登記建物？</th>
                <td>{% if yfcase.clicklists.first.clicklistLeak %} V {% endif %}</td>
                <th class="yfratingscalePDFBuildCheckListItem">06.無嚴重漏水現象？</th>
                <td>{% if yfcase.clicklists.first.clicklistSupermarket %} V {% endif %}</td>
                <th class="yfratingscalePDFBuildCheckListItem">10.鄰近大賣場？</th>
                <td>{% if yfcase.clicklists.first.clicklistMainRoad %} V {% endif %}</td>
                <th class="yfratingscalePDFBuildCheckListItem">14.鄰近幹道？</th>
            </tr>
            <!-- 第三行 -->
            <tr>
                <td>{% if yfcase.clicklists.first.clicklistParkingSpace %} V {% endif %}</td>
                <th class="yfratingscalePDFBuildCheckListItem">03.停車位(機車/汽車)？</th>
                <td>{% if yfcase.clicklists.first.clicklistEasyParking %} V {% endif %}</td>
                <th class="yfratingscalePDFBuildCheckListItem">07.停車方便？</th>
                <td>{% if yfcase.clicklists.first.clicklistSchool %} V {% endif %}</td>
                <th class="yfratingscalePDFBuildCheckListItem">11.鄰近學校？</th>
                <td>{% if yfcase.clicklists.first.clicklistWaterAndPowerFailure %} V {% endif %}</td>
                <th class="yfratingscalePDFBuildCheckListItem">15.斷水斷電？</th>
            </tr>
            <!-- 第四行 -->
            <tr>
                <td>{% if yfcase.clicklists.first.clicklistManagementFee %} V {% endif %}</td>
                <th class="yfratingscalePDFBuildCheckListItem">04.積欠管理費？</th>
                <td>{% if yfcase.clicklists.first.clicklistRailway %} V {% endif %}</td>
                <th class="yfratingscalePDFBuildCheckListItem">08.鄰近捷運站/台鐵站？</th>
                <td>{% if yfcase.clicklists.first.clicklistPark %} V {% endif %}</td>
                <th class="yfratingscalePDFBuildCheckListItem">12.鄰近公園？</th>
                <td>{% if yfcase.clicklists.first.clicklistGoodVision %} V {% endif %}</td>
                <th class="yfratingscalePDFBuildCheckListItem">16.採光視野良好？</th>
            </tr>
            <!-- 備註 -->
            <tr>
                <th>備註</th>
                <td colspan="7"></td>
            </tr>
        </table>
    </div>
    <!-- 最終判定 -->
    <div class="finaldecision">
        <table class="yfratingscalePDFFinaldecision">
            {% for finaldecision in yfcase.finaldecisions.all %}
            <tr>
                <th style="width:28%;">結論</th>
                <th style="width:18%;">區域負責人</th>
                <th style="width:18%;">副署人員1</th>
                <th style="width:18%;">副署人員2</th>
                <th>副署人員3</th>
            </tr>
            <tr>
                <td>
                    {{ finaldecision.finalDecision|default_if_none:"" }}
                </td>
                <td class="yfratingscalePDFPerson">
                    {{ finaldecision.regionalHead }}<br>
                    {{ finaldecision.regionalHeadDate }}<br>
                    {{ finaldecision.regionalHeadWorkArea }}<br>
                </td>
                <td class="yfratingscalePDFPerson">
                    {{ finaldecision.subSigntrueA }}<br>
                    {{ finaldecision.subSigntrueDateA }}<br>
                    {{ finaldecision.subSigntrueWorkAreaA }}
                </td>
                <td class="yfratingscalePDFPerson">
                    {{ finaldecision.subSigntrueB }}<br>
                    {{ finaldecision.subSigntrueDateB }}<br>
                    {{ finaldecision.subSigntrueWorkAreaB }}
                </td>
                <td class="yfratingscalePDFPerson">
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>