<!-- 測試 -->
{% load urlify %}

<div class="row align-items-end">
  <div class="col-4 py-1 pr-2">
    {% if request.user == object.user %}
      <a href="{% url 'yfcase:build_create' object.id %}" ><i class="fa-solid fa-circle-plus fa-2xl"></i></a>
    {% endif %}
  </div>
  <div class="col-8 fs-6 fw-bolder" style="align-bottom;direction: flex;flex-direction: row;text-align: right;">
    <span class="float-end">
      {% if object.builds.all %}
        合計：{{ object.get_build_holding_point_after_group_total|floatformat:"2" }} m<sup>2</sup>
        ({{ object.get_build_holding_point_after_group_total|m2toping|floatformat:"2" }} 坪)
        <div class="col text-right">使用分區：{{ object.builds.last.buildUsePartition }}</div>
      {% endif %}
    </span>
  </div>
</div>



{% if object.builds.all %}
  {% for build in object.builds.all %}
    <div class="card mb-2" style="width: 100%; background-color:AntiqueWhite;">
      <div class="card-body pb-0">
        <div class="row justify-content-between">
          <div class="col-8">
            <h5 class="card-title">
              {% if build.buildNumber %}
                {% if build.buildUrl != None %}
                  <a href="{{ build.buildUrl }}" target="_blank">{{ object.yfcaseBigSection }}段{{ build.buildNumber }}</a> 
                {% else %}
                  {{ object.yfcaseBigSection }}段{{ build.buildNumber }} 
                {% endif %}
              {% endif %}
            </h5>
          </div>
          <div class="col-4">
            {% if request.user == object.user %}
              <a href="{% url 'yfcase:build_update' object.id build.id %}" class="px-3 text-success"><i class="fa-solid fa-pencil fa-xl"></i></a>
              <a href="{% url 'yfcase:build_delete' object.id build.id %}" class="text-danger"><i class="fa-solid fa-trash-can fa-xl"></i></a>
            {% endif %}
          </div>
        </div>
        <h6 class="card-subtitle mb-2 text-muted">
          {% if build.buildTypeUse %}
            <small style="font-size:10pt;color:white;background-color: #000;">
              {{ build.buildTypeUse|default_if_none:"" }}
            </small>
          {% endif %}
        </h6>
        <hr class="m-0">
        <p class="card-text m-1">
          <div class="row">
            <div class="col text-center p-0 border-bottom fw-bold">建坪(m<sup>2</sup>)</div>
            <div class="col text-center p-0 border-bottom fw-bold">持分</div>
            <div class="col text-center p-0 border-bottom fw-bold">加權</div>
            <div class="col text-center p-0 border-bottom fw-bold">合計</div>
          </div>
          {% if build.buildArea != 0 %}
            <div class="row">
              <div class="col text-center p-0 ">{{ build.buildArea }}</div>
              <div class="col text-center p-0 ">{{ build.buildHoldingPointPersonal }}/{{ build.buildHoldingPointAll }}</div>
              <div class="col text-center p-0 ">
                {% if build.buildTypeUse == "公設" %}
                  {{ build.yfcase.selfBuildPublicHP|floatformat:"2" }} 
                {% elif build.buildTypeUse == "增建-持分後坪數打對折" %}
                  {{ 0.5|floatformat:"2" }}
                {% else %}
                  {{ 1|floatformat:"2" }}
                {% endif %}
              </div>
              <div class="col text-center p-0 ">
                {% if build.buildTypeUse == "公設" %}
                  {{ build.get_build_first_not_add_and_not_public_holding_point_area|floatformat:"2" }}
                {% elif build.buildTypeUse == "增建-持分後坪數打對折" %}
                  {{ build.get_after_add_holding_point_area|floatformat:"2" }}
                {% else %}
                  {{ build.get_build_holding_point_area|floatformat:"2" }}
                {% endif %}
              </div>
            </div>
          {% endif %}
        </p>    
      </div>
    </div>
  {% endfor %}
{% else %}
  <div class="border rounded-pill mt-3 p-3 text-center fs-4 fw-bold" style="background-color: pink;">建號未設定</div>
{% endif %}

