<!-- 測試 -->
{% load urlify %}

<div class="row">
  <div class="col-4 py-1 pr-2">
    {% if request.user == object.user %}
      <a href="{% url 'yfcase:finaldecision_create' object.id %}" class="btn btn-primary btn-sm w-100 fs-5">新增</a>
    {% endif %}
  </div>
</div>

{% if object.finaldecisions.all %}
  {% for finaldecision in object.finaldecisions.all %}
    {{ finaldecision.is_ok }}
    <div class="container border border-secondary rounded pt-1 pb-2" style="background-color:Snow;">
      <div class="row fs-6">
        <div class="col-3 border border-dark bg-warning text-center fs-5 section text-h-center text-v-center">判定</div>
        <div class="col-9 border border-dark">
          {% if finaldecision.finalDecision == "1拍進場" %}
            <div class="finaldecision__td finaldecision__first text-center m-2">{{ finaldecision.finalDecision }}</div>
          {% elif finaldecision.finalDecision == "2拍進場" %}
          <div class="finaldecision__td finaldecision__second text-center m-2">{{ finaldecision.finalDecision }}</div>
          {% elif finaldecision.finalDecision == "3拍進場" %}
          <div class="finaldecision__td finaldecision__third text-center m-2">{{ finaldecision.finalDecision }}</div>
          {% elif finaldecision.finalDecision == "4拍進場" %}
          <div class="finaldecision__td finaldecision__fourth text-center m-2">{{ finaldecision.finalDecision }}</div>
          {% elif finaldecision.finalDecision == "放棄" %}
          <div class="finaldecision__td finaldecision__giveup text-center m-2">{{ finaldecision.finalDecision }}</div>
          {% else %}
          <div class="finaldecision__td finaldecision__no_decision text-center m-2">未判定</div>
          {% endif %}
        </div>
      </div>
      <div class="row fs-6" style="word-wrap:break-word;">
        <div class="col-3 border border-dark bg-warning fs-5 section text-h-center text-v-center">備註</div>
        <div class="col-9 border border-dark">{{ finaldecision.finalDecisionRemark|default_if_none:"" }}</div>
      </div>
      <div class="row fs-6">
        <div class="col-4 border border-dark bg-warning text-center fs-5 py-1">申請</div>
        <div class="col-4 border border-dark bg-warning text-center fs-5 py-1">覆核</div>
        <div class="col-4 border border-dark bg-warning text-center fs-5 py-1">決策</div>
      </div>
      <div class="row fs-6">

        <!-- 申請者 -->
        <div class="col-4 border border-dark px-1">
          {% if finaldecision.regionalHead != None %}
            <div class="regionalhead__seal">
              <div class="regionalhead__td__person text-center">{{ finaldecision.regionalHead }}</div>
              <div class="regionalhead__td__date text-center">{{ finaldecision.regionalHeadAddDate|date:"Y-m-d" }}</div>
              <div class="regionalhead__td__workarea text-center">{{ finaldecision.regionalHeadWorkArea|isWordCountOverFour }}
              </div>
            </div>
          {% endif %}
        </div>

        <!-- 覆核者 -->
        <div class="col-4 border border-dark px-1">
          <!-- 1.覆核欄位不為空值 -->
          {% if finaldecision.subSigntrueA %}
            {% if finaldecision.subSigntrueA == request.user.userFullName %}
              <!-- 覆核欄位不為空值 - 登入者為覆核者 -->
              <div class="regionalhead__seal text-center">
                <div class="regionalhead__td__person">{{ finaldecision.subSigntrueA }}</div>
                <div class="regionalhead__td__date">{{ finaldecision.subSigntrueDateA }}</div>
                <div class="regionalhead__td__workarea">{{ finaldecision.subSigntrueWorkAreaA|isWordCountOverFour }}</div>
              </div>
              <div class="row text-center">
                <div class="col-6 p-0">
                  <a href="{% url 'yfcase:subsignture_a_update' object.id finaldecision.id %}"
                    class="btn btn-success btn-sm fs-6">簽核</a>
                </div>
                <div class="col-6 p-0">
                  <a href="{% url 'yfcase:subsignture_a_delete' object.id finaldecision.id %}"
                    class="btn btn-danger btn-sm fs-6">刪除</a>
                </div>
              </div>
            {% else %}
              <!-- 覆核欄位不為空值 - 登入者非覆核者 -->
              <div class="regionalhead__seal text-center">
                <div class="regionalhead__td__person">{{ finaldecision.subSigntrueA }}</div>
                <div class="regionalhead__td__date">{{ finaldecision.subSigntrueDateA }}</div>
                <div class="regionalhead__td__workarea">{{ finaldecision.subSigntrueWorkAreaA|isWordCountOverFour }}</div>
              </div>
            {% endif %}
          {% else %}
            <!-- 覆核欄位為空值 -->
            <!-- 2.覆核者不可同時為申請者 -->
            {% if finaldecision.regionalHead == request.user.userFullName %}
              <!-- 覆核者同時為申請者 -->
              <div class="notice">覆核者不得為申請者</div>
            {% else %}
              <!-- 覆核者不同時為申請者 -->
              <!-- 3.登入者不可和申請者為同轄區 -->
              {% if finaldecision.regionalHeadWorkArea == request.user.userWorkArea %}
                <!-- 登入者和申請者為同轄區 -->
                <div class="notice">同轄區不得覆核</div>
              {% else %}
                <!-- 登入者不和申請者為同轄區 -->
                <!-- 4.判定是否為放棄 -->
                {% if finaldecision.finalDecision == "放棄" %}
                  <!-- 最終判定為'放棄' -->
                  <div class="notice">無需覆核</div>
                {% else %}
                  <!-- 最終判定不為'放棄' -->
                  <div class="row text-center">
                    <div class="col-6 p-0">
                      <a href="{% url 'yfcase:subsignture_a_update' object.id finaldecision.id %}"
                        class="btn btn-success btn-sm fs-6">簽核</a>
                    </div>
                    <div class="col-6 p-0">
                      <a href="{% url 'yfcase:subsignture_a_delete' object.id finaldecision.id %}"
                        class="btn btn-danger btn-sm fs-6">刪除</a>
                    </div>
                  </div>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        </div>

        <!-- 決策者 -->
        <div class="col-4 border border-dark px-1">
          {% for auction in object.auctions.all %}
            <!-- 1.各拍金額不得超過1000000-->
            {% if auction.auctionFloorPriceFirst >= 1000000 or auction.auctionFloorPriceSecond >= 1000000 or auction.auctionFloorPriceThird >= 1000000 or auction.auctionFloorPriceFourth >= 1000000 %}
              <!-- 各拍金額超過1000000-->
              <!-- 2.覆核是否完成-->
              {% if finaldecision.subSigntrueA %}
                <!-- 己覆核 -->
                <!-- 3.申請轄區是否為"雲嘉南" -->
                {% if finaldecision.regionalHeadWorkArea == '雲嘉南' %}
                  <!-- 4.申請轄區為"雲嘉南" -->
                  {% if request.user.userFullName == '曾友志' %}
                    {% if finaldecision.subSigntrueB %}
                      <!-- 登入者=曾友志 + subSigntrueB不為空 -->
                      <div class="regionalhead__seal text-center">
                        <div class="regionalhead__td__person">{{ finaldecision.subSigntrueB }}</div>
                        <div class="regionalhead__td__date">{{ finaldecision.subSigntrueDateB }}</div>
                        <div class="regionalhead__td__workarea">{{ finaldecision.subSigntrueWorkAreaB|isWordCountOverFour }}</div>
                      </div>
                      <div class="row text-center">
                        <div class="col-6 p-0">
                          <a href="{% url 'yfcase:subsignture_b_update' object.id finaldecision.id %}"
                            class="btn btn-success btn-sm fs-6">簽核</a>
                        </div>
                        <div class="col-6 p-0">
                          <a href="{% url 'yfcase:subsignture_b_delete' object.id finaldecision.id %}"
                            class="btn btn-danger btn-sm fs-6">刪除</a>
                        </div>
                      </div>
                    {% else %}
                      <!-- 登入者=曾友志 + subSigntrueB為空 -->
                      <div class="row text-center">
                        <div class="col-6 p-0">
                          <a href="{% url 'yfcase:subsignture_b_update' object.id finaldecision.id %}"
                            class="btn btn-success btn-sm fs-6">簽核</a>
                        </div>
                        <div class="col-6 p-0">
                          <a href="{% url 'yfcase:subsignture_b_delete' object.id finaldecision.id %}"
                            class="btn btn-danger btn-sm fs-6">刪除</a>
                        </div>
                      </div>
                    {% endif %}
                  {% else %}
                    {% if finaldecision.subSigntrueB %}
                      <!-- 登入者不是曾友志 + subSigntrueB不為空 -->
                      <div class="regionalhead__seal text-center">
                        <div class="regionalhead__td__person">{{ finaldecision.subSigntrueB }}</div>
                        <div class="regionalhead__td__date">{{ finaldecision.subSigntrueDateB }}</div>
                        <div class="regionalhead__td__workarea">{{ finaldecision.subSigntrueWorkAreaB|isWordCountOverFour }}</div>
                      </div>
                    {% else %}
                      <!-- 登入者不是曾友志 + subSigntrueB為空 -->
                      <div class="notice">待曾友志決策</div>
                    {% endif %}
                  {% endif %}
                {% elif finaldecision.regionalHeadWorkArea == '中彰投' %}
                  <!-- 4.申請轄區為"中彰投" -->
                  {% if request.user.userFullName == '曾友和' %}
                    {% if finaldecision.subSigntrueB %}
                      <!-- 登入者=曾友和 + subSigntrueB不為空 -->
                      <div class="regionalhead__seal text-center">
                        <div class="regionalhead__td__person">{{ finaldecision.subSigntrueB }}</div>
                        <div class="regionalhead__td__date">{{ finaldecision.subSigntrueDateB }}</div>
                        <div class="regionalhead__td__workarea">{{ finaldecision.subSigntrueWorkAreaB|isWordCountOverFour }}</div>
                      </div>
                      <div class="row text-center">
                        <div class="col-6 p-0">
                          <a href="{% url 'yfcase:subsignture_b_update' object.id finaldecision.id %}"
                            class="btn btn-success btn-sm fs-6">簽核</a>
                        </div>
                        <div class="col-6 p-0">
                          <a href="{% url 'yfcase:subsignture_b_delete' object.id finaldecision.id %}"
                            class="btn btn-danger btn-sm fs-6">刪除</a>
                        </div>
                      </div>
                    {% else %}
                      <!-- 登入者=曾友和 + subSigntrueB為空 -->
                      <div class="row text-center">
                        <div class="col-6 p-0">
                          <a href="{% url 'yfcase:subsignture_b_update' object.id finaldecision.id %}"
                            class="btn btn-success btn-sm fs-6">簽核</a>
                        </div>
                        <div class="col-6 p-0">
                          <a href="{% url 'yfcase:subsignture_b_delete' object.id finaldecision.id %}"
                            class="btn btn-danger btn-sm fs-6">刪除</a>
                        </div>
                      </div>
                    {% endif %}
                  {% else %}
                    {% if finaldecision.subSigntrueB %}
                      <!-- 登入者不是曾友和 + subSigntrueB不為空 -->
                      <div class="regionalhead__seal text-center">
                        <div class="regionalhead__td__person">{{ finaldecision.subSigntrueB }}</div>
                        <div class="regionalhead__td__date">{{ finaldecision.subSigntrueDateB }}</div>
                        <div class="regionalhead__td__workarea">{{ finaldecision.subSigntrueWorkAreaB|isWordCountOverFour }}</div>
                      </div>
                    {% else %}
                      <!-- 登入者不是曾友和 + subSigntrueB為空 -->
                      <div class="notice">待曾友和決策</div>
                    {% endif %}
                  {% endif %}
                {% else %}
                  <!-- 申請轄區是否為"其他區域" -->
                  <div class="notice">待曾友志/曾友和決策</div>
                {% endif %}
              {% else %}
                <!-- 未覆核 -->
                <div class="notice">待覆核完成再決策</div>
              {% endif %}
            {% else %}
              <!-- 各拍金額少於1000000-->
              <div class="notice">該拍小於1000000<br>無需決策</div>
            {% endif %}
          {% endfor %}
        </div>

      </div>
      
      {% if request.user == object.user %}
        <div class="row">
          <div class="col-4"></div>
          <div class="col-4 p-1">
            <a href="{% url 'yfcase:finaldecision_update' object.id finaldecision.id %}" class="btn btn-success btn-sm w-100 fs-5">改判</a>
          </div>
          <div class="col-4 p-1">
            <a href="{% url 'yfcase:finaldecision_delete' object.id finaldecision.id %}" class="btn btn-danger btn-sm w-100 fs-5">刪除</a>
          </div>
        </div>
      {% endif %}
    </div>

    <hr>
    
  {% endfor %}
{% else %}
  <div class="border rounded-pill mt-3 p-3 text-center fs-4 fw-bold" style="background-color: pink;">區域負責人尚未作最終判定</div>
{% endif %}