<!-- 測試 -->
{% load urlify %}

<div class="row align-items-end">
  <div class="col-4 py-1 pr-2">
    {% if request.user == object.user %}
      <a href="{% url 'yfcase:land_create' object.id %}" class="btn btn-primary btn-sm w-100 fs-5">新增</a>
    {% endif %}
  </div>
  <div class="col-8 fs-6 fw-bolder" style="align-bottom;direction: flex;flex-direction: row;text-align: right;">
    <span class="float-end">
      {% if object.lands.all %}
        合計：{{ object.get_land_holding_point_area_total|floatformat:"2" }} m<sup>2</sup>
        ({{ object.get_land_holding_point_area_total|m2toping|floatformat:"2" }} 坪)
      {% endif %}
    </span>
  </div>
</div>
{% if object.lands.all %}
  {% for land in object.lands.all %}
    <div class="card" style="width: 100%; background-color:AntiqueWhite;">
      <div class="card-body pb-0">
        <div class="row justify-content-between">
          <div class="col-8">
            <h5 class="card-title">
              {% if land.landNumber %}
                {% if land.landUrl != None %}
                  <a href="{{ land.landUrl }}" target="_blank">{{ object.yfcaseBigSection }}段{{ land.landNumber }}</a>
                {% else %}
                  {{ object.yfcaseBigSection }}段{{ land.landNumber }}
                {% endif %}
              {% endif %}
            </h5>
          </div>
          <div class="col-4">
            {% if request.user == object.user %}
              <a href="{% url 'yfcase:land_update' object.id land.id %}" class="px-4 text-success"><i class="fa-solid fa-pencil"></i></a>
              <a href="{% url 'yfcase:land_delete' object.id land.id %}" class="text-danger"><i class="fa-solid fa-trash-can"></i></a>
            {% endif %}
          </div>
        </div>
        <hr class="m-0">
        <p class="card-text">
          <div class="row">
            <div class="col text-center mx-2 border-bottom fw-bold">地坪(m<sup>2</sup>)</div>
            <div class="col text-center mx-2 border-bottom fw-bold">持分</div>
            <div class="col text-center mx-2 border-bottom fw-bold">合計</div>
          </div>
          {% if land.landArea != 0 %}
            <div class="row">
              <div class="col text-center mx-2">{{ land.landArea }}</div>
              <div class="col text-center mx-2">{{ land.landHoldingPointPersonal }}/{{ land.landHoldingPointAll}}</div>
              <div class="col text-center mx-2">{{ land.get_land_holding_point_area|floatformat:"2" }}</div>
            </div>
          {% endif %}
        </p>    
      </div>
    </div>
  {% endfor %}
{% else %}
  <div class="border rounded-pill mt-3 p-3 text-center fs-4 fw-bold" style="background-color: pink;">地號未設定</div>
{% endif %}
