<!-- 測試 -->
{% load urlify %}

<div class="row align-items-end">
  <div class="col-4 py-1 pr-2">
    {% if request.user == object.user %}
      <a href="{% url 'yfcase:land_create' object.id %}" class="btn btn-primary btn-sm w-100 fs-5">新增</a>
    {% endif %}
  </div>
  <div class="col-8 fs-6 fw-bolder" style="align-bottom;direction: flex;flex-direction: row;text-align: right;">
    <span class="float-end">
      {% if object.lands.all %}
        合計：{{ object.get_land_holding_point_area_total|floatformat:"2" }} m<sup>2</sup>
        ({{ object.get_land_holding_point_area_total|m2toping|floatformat:"2" }} 坪)
      {% endif %}
    </span>
  </div>
</div>

{% if object.lands.all %}
  {% for land in object.lands.all %}
    <div class="py-1">
      <div class="card" style="width: 100%; background-color:AntiqueWhite;">
        <div class="card-body">
          <h5 class="card-title">
            {% if land.landNumber %}
              {% if land.landUrl != None %}
                <a href="{{ land.landUrl }}" target="_blank">{{ object.yfcaseBigSection }}段{{ land.landNumber }}</a>
              {% else %}
                {{ object.yfcaseBigSection }}段{{ land.landNumber }}
              {% endif %}
            {% endif %}
          </h5>
          <hr class="mt-1">
          <p class="card-text fw-bold">
            {% if land.landArea != 0 %}
              {{ land.landArea }}m<sup>2</sup> * 持分({{ land.landHoldingPointPersonal }}/{{ land.landHoldingPointAll}}) <br>
              = {{ land.get_land_holding_point_area|floatformat:"2" }}m<sup>2</sup>(<span style="background-color: Cyan;">{{ land.get_land_holding_point_area|m2toping|floatformat:"2" }}坪</span>)
            {% endif %}
          </p>
          {% if request.user == object.user %}
            <hr>
            <a href="{% url 'yfcase:land_update' object.id land.id %}" class="btn btn-success btn-sm fs-6">變更</a>
            <a href="{% url 'yfcase:land_delete' object.id land.id %}" class="btn btn-danger btn-sm fs-6">刪除</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
{% else %}
  <div class="border rounded-pill mt-3 p-3 text-center fs-4 fw-bold" style="background-color: pink;">地號未設定</div>
{% endif %}